.card{
	padding: 0px;
	overflow: hidden;
}

.mat-column-opciones{
	max-width: 7%
}

.mat-column-serie,
.mat-column-color,
.mat-column-almacenamiento{
	max-width: 20%
}

mat-card-content{
	width: 90%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.spinner-container{
	top: 100px !important;
}

mat-card-actions{
	margin-bottom: 10px !important;
}