  <mat-toolbar color="primary">
    <mat-toolbar-row *ngIf="!data">Agregar tipo</mat-toolbar-row>
    <mat-toolbar-row *ngIf="data">Editar tipo</mat-toolbar-row>
  </mat-toolbar>

<mat-card class="card">
    <form [formGroup]="TipoForm" (ngSubmit)="Guardar(TipoForm); Notificacion(mensaje,'')">
      
      <mat-card-content>
        <mat-grid-list cols="1" rowHeight="80px">
          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Nombre del Tipo" formControlName="nombre" #InputTipo>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile *ngIf="total>0">
            <mat-error>Ya existe este tipo de producto</mat-error>
          </mat-grid-tile>
          <mat-grid-tile>
                <mat-form-field>
                    <mat-select placeholder="Unidad de Medida" formControlName="idunidadmedida">
                        <mat-option *ngFor="let um of lstunidades" [value]="um.id">{{um.nombre}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>

      </mat-card-content>
  
      <mat-card-actions>
        <mat-grid-list cols=1 rowHeight="40px">
          <mat-grid-tile>
            <button type="submit" mat-raised-button color="primary" [disabled]="TipoForm.invalid || total>0">Guardar</button>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-actions>
    </form>
  </mat-card>