<mat-card>
  <!-- Encabezado -->

  <mat-card-title>
    <div id="tituloProd"> Generar archivos </div>
  </mat-card-title>

  <mat-grid-list cols= "2" rowHeight="70px">

    <mat-grid-tile>
      <mat-form-field class="columnas-2">
        <mat-select placeholder="Seleccionar institución" [(ngModel)]="institucion">
          <mat-option *ngFor="let institucion of Institucion" [value]="institucion.id"> {{institucion.nombre}} </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <!-- <mat-grid-tile>
      <mat-form-field>
        <input matInput [matDatepicker]="inicio" placeholder="Fecha de inicio" [(ngModel)]="fecha_inicio">
        <mat-datepicker-toggle matSuffix [for]="inicio"></mat-datepicker-toggle>
        <mat-datepicker #inicio disabled="false"></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <input matInput [matDatepicker]="fin" placeholder="Fecha de fin" [(ngModel)]="fecha_fin">
        <mat-datepicker-toggle matSuffix [for]="fin"></mat-datepicker-toggle>
        <mat-datepicker #fin disabled="false"></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile> -->

    <!-- <mat-grid-tile></mat-grid-tile> -->
    
    <mat-grid-tile></mat-grid-tile>

    <!-- <mat-grid-tile>
      <button mat-raised-button color="primary"> Generar </button>
    </mat-grid-tile> -->

  </mat-grid-list>

  <ng-container *ngIf="institucion==2">

    <app-cobranza-pnp></app-cobranza-pnp>

  </ng-container>

</mat-card>