<mat-toolbar color="primary">
  <mat-toolbar-row><h4>Datos de contacto</h4></mat-toolbar-row>
</mat-toolbar>

<mat-tab-group >

  <mat-tab label="Telefonos">

    <mat-card>
      
      <mat-grid-list cols="1" rowHeight="50px">
        <mat-grid-tile>
          <button mat-mini-fab color="primary" class="boton" (click)="AgregarTelefono()" type="button"><mat-icon>add</mat-icon></button>
        </mat-grid-tile>
      </mat-grid-list>

      <form [formGroup]="TelefonosForm">
        <mat-card-content>

          <div formArrayName="items" *ngFor="let item of TelefonosForm['controls'].items['controls']; let i = index">
            <div [formGroupName]="i">
          
              <mat-grid-list cols=4 rowHeight="70px">
                        
                <mat-grid-tile>
                  <mat-form-field class="input-ventana">
                    <input matInput placeholder="Número" formControlName="telefono" maxlength="11">
                    <mat-error *ngIf="item.get('telefono').invalid">El número debe contener más de 7 dígitos</mat-error>
                  </mat-form-field>
                </mat-grid-tile>
    
                <mat-grid-tile>
                  <mat-form-field class="input-ventana">
                    <mat-select placeholder='Tipo' formControlName="tipo">
                        <mat-option *ngFor="let tipo of Tipos" [value]="tipo.id">
                            {{tipo.viewValue}}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
    
                <mat-grid-tile>
                  <mat-form-field class="input-ventana">
                    <mat-select placeholder='Relevancia' formControlName="relevancia">
                        <mat-option *ngFor="let relevancia of Relevancias" [value]="relevancia.id">
                            {{relevancia.viewValue}}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile> 
    
                <mat-grid-tile>
                  <mat-form-field class="input-ventana">
                    <input matInput placeholder="Observación" formControlName="observacion">
                  </mat-form-field>
                </mat-grid-tile>
    
                <button mat-mini-fab type="button" color="primary" class="boton" (click)="EliminarTelefono(item,i)" [disabled]="item.length==1 || item.value.estado==2"><mat-icon>delete</mat-icon></button>
    
              </mat-grid-list>
    
            </div>
          </div>
    
        </mat-card-content>

        <mat-card-actions>
          <mat-grid-list cols=1 rowHeight="40px">
            <mat-grid-tile>
              <button type="submit" mat-raised-button [disabled]="TelefonosForm.invalid" color="primary" (click)="GuardarTelefonos(TelefonosForm)">Grabar</button>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-actions>

      </form>
    </mat-card>
  </mat-tab>

  <mat-tab label="Direcciones">

    <mat-card>
        
        <mat-grid-list cols="1" rowHeight="50px">
          <mat-grid-tile>
            <button mat-mini-fab color="primary" class="boton" (click)="AgregarDirecciones()" type="button"><mat-icon>add</mat-icon></button>
          </mat-grid-tile>
        </mat-grid-list>

        <form [formGroup]="DireccionesForm">
          <mat-card-content>
            <div formArrayName="itemsDir" *ngFor="let direccion of DireccionesForm['controls'].itemsDir['controls']; let i = index">
              <div [formGroupName]="i">
                <mat-grid-list cols=6 rowHeight="80px">
                  <mat-grid-tile colspan="1">
                    <mat-form-field class="input-ventana">
                      <input matInput placeholder="Dirección"  formControlName="direccion">
                    </mat-form-field>
                  </mat-grid-tile>

                  <mat-grid-tile colspan="1">
                    <mat-form-field>
                      <mat-select placeholder='Selecciona Departamento' formControlName="departamento" (selectionChange)="DepartamentoSeleccionado($event,i)" >
                        <mat-option *ngFor="let departamento of LstDepartamento" [value]="departamento.nombre">
                            {{departamento.nombre}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </mat-grid-tile>

                  <mat-grid-tile colspan="1">
                    <mat-form-field>
                      <mat-select placeholder='Selecciona Provincia' formControlName="provincia" (selectionChange)="ProvinciaSeleccionada($event,i)">
                        <mat-option *ngFor="let provincia of LstProvincia" [value]="provincia.nombre">
                          {{provincia.nombre}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </mat-grid-tile> 

                  <mat-grid-tile colspan="1">
                    <mat-form-field>
                      <mat-select placeholder='Selecciona Distrito' formControlName="distrito" >
                        <mat-option *ngFor="let distrito of LstDistrito" [value]="distrito.id">
                          {{distrito.nombre}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </mat-grid-tile>

                  <mat-grid-tile colspan="1">
                    <mat-form-field class="input-ventana">
                      <mat-select placeholder='Selecciona Relevancia' formControlName="relevanciadis" >
                        <mat-option *ngFor="let relevanciadis of RelevanciaDireccion" [value]="relevanciadis.id">
                          {{relevanciadis.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </mat-grid-tile> 

                  <mat-grid-tile colspan="1">
                    <mat-form-field class="input-ventana">
                      <input matInput placeholder="Ingresa Observacion" formControlName="observacion">
                    </mat-form-field>
                  </mat-grid-tile>

                <button mat-mini-fab type="button" color="primary" class="boton" (click)="EliminarDireccion(direccion,i)" [disabled]="direccion.length==1 || direccion.value.estado==2">
                <mat-icon>delete</mat-icon></button>

              </mat-grid-list>
            </div>
          </div>
        </mat-card-content>

        <mat-card-actions>
          <mat-grid-list cols=1 rowHeight="40px">
            <mat-grid-tile>
              <button type="submit" mat-raised-button [disabled]="DireccionesForm.invalid" color="primary" (click)="GuardarDirecciones(DireccionesForm)">Grabar</button>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-actions>

      </form>
    </mat-card>
  </mat-tab>

  <mat-tab label="Cuentas bancarias">

    <mat-card-content>
      
      <form [formGroup]="CuentasForm">
        <mat-grid-list cols=4 rowHeight="70px">

          <mat-grid-tile>
            <mat-form-field>
              <mat-select placeholder="Banco" formControlName="banco">
                <mat-option *ngFor="let banco of Bancos" [value]="banco.id">{{banco.nombre}}</mat-option>
                <mat-error>Este campo es obligatorio</mat-error>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Número" formControlName="cuenta">
              <mat-error>Este campo es obligatorio</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="CCI" formControlName="cci">
              <mat-error>El CCI debe tener 20 dígitos</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <button mat-raised-button color="primary" type="button" [disabled]="CuentasForm.invalid" (click)="AgregarCuenta()">Agregar</button>
          </mat-grid-tile>

        </mat-grid-list>
      </form>

      <div class = "spinner-container" *ngIf = "ListadoCuentas.Cargando| async">
        <mat-spinner></mat-spinner>
      </div>

      <mat-table [dataSource]="ListadoCuentas" class="mat-elevation-z8">

        <ng-container matColumnDef="numero">
          <mat-header-cell *matHeaderCellDef> N° </mat-header-cell>
          <mat-cell *matCellDef="let observacion"> {{observacion.numero}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="banco">
          <mat-header-cell *matHeaderCellDef> Banco </mat-header-cell>
          <mat-cell *matCellDef="let observacion"> {{observacion.nombre_banco}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cuenta">
          <mat-header-cell *matHeaderCellDef> Cuenta </mat-header-cell>
          <mat-cell *matCellDef="let observacion"> {{observacion.cuenta_numero}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cci">
          <mat-header-cell *matHeaderCellDef> CCI </mat-header-cell>
          <mat-cell *matCellDef="let observacion"> {{observacion.cuenta_cci}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="opciones">
          <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
          <mat-cell *matCellDef="let observacion">
            <button mat-icon-button matTooltip="Eliminar" color="primary" (click)="Eliminar(observacion.id)"><mat-icon> delete </mat-icon></button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="ColumnasCuentas"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ColumnasCuentas;"></mat-row>
      </mat-table>

      <mat-paginator [length]="ListadoCuentas.TotalResultados | async" [pageSize]="5" [pageSizeOptions]="[5,10,15]"></mat-paginator>

    </mat-card-content>
  </mat-tab>

</mat-tab-group>