<mat-card>

	<mat-card-title>
		Presupuesto N° {{numero}}
	</mat-card-title>


	<mat-card-content>
		<mat-grid-list cols="3" rowHeight="70px">

			<mat-grid-tile colspan="2">
				<div class="inside-grid">
					<strong>CLIENTE:&nbsp; </strong><ng-container *ngIf=this.cliente>{{cliente.nombre}}</ng-container>	 
				</div>
			</mat-grid-tile>

			<mat-grid-tile>
				<div class="inside-grid">
					<strong>FECHA:&nbsp; </strong> {{fecha | date: 'dd/MM/yyyy'}}
				</div>
			</mat-grid-tile>

			<mat-grid-tile>
				<div class="inside-grid">
					<strong>INICIO DE PAGO:&nbsp; </strong> {{primer_pago | date: 'MM/yyyy'}}
				</div>
			</mat-grid-tile>

			<mat-grid-tile>
				<div class="inside-grid">
					<strong>TIPO:&nbsp; </strong> {{tipo_nombre}}
				</div>
			</mat-grid-tile>

			<mat-grid-tile>
				<div class="inside-grid">
					<strong>NUMERO DE CUOTAS:&nbsp; </strong> {{cuota}}
				</div>
			</mat-grid-tile>

			<mat-grid-tile>
				<div class="inside-grid">
					<strong>CAPITAL:&nbsp; </strong> {{capital | currency:'S/.'}}
				</div>
			</mat-grid-tile>

<!-- 			<mat-grid-tile>
				<div class="inside-grid">
					<strong>CUOTA MENSUAL:&nbsp; </strong>
				</div>
			</mat-grid-tile> -->

			<mat-grid-tile>
				<div class="inside-grid">
					<strong>TASA:&nbsp; </strong> {{tasa | percent}}
				</div>
			</mat-grid-tile>

			<mat-grid-tile>
				<div class="inside-grid">
					<strong>TOTAL A PAGAR:&nbsp; </strong> {{total | currency:'S/.'}}
				</div>
			</mat-grid-tile>			

			<mat-grid-tile colspan="3" *ngIf="tipo==2">
				<div class="inside-grid">
					<strong>PRODUCTOS:&nbsp; </strong>
				</div>
			</mat-grid-tile>

		</mat-grid-list>

		<ng-container *ngIf="tipo==2">

			<table class="listado-productos" >
			  <tr>
			    <th>Producto</th>
			    <th>Cantidad</th> 
			    <th>Precio unitario</th>
			    <th>Precio total</th>
			  </tr>

			  <tr *ngFor="let producto of Productos">
			    <td>{{producto.descripcion}}</td>
			    <td>{{producto.numero}}</td> 
			    <td>{{producto.precio | currency:'S/.' }}</td>
			    <td>{{producto.estado | currency:'S/.' }}</td>
			  </tr>

			</table>

		</ng-container>		

    <mat-table [dataSource]="EvaluacionData">

      <ng-container matColumnDef="numero">
        <mat-header-cell *matHeaderCellDef>N°</mat-header-cell>
        <mat-cell *matCellDef="let cuota">{{cuota.numero}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="monto">
        <mat-header-cell *matHeaderCellDef>Monto de la cuota</mat-header-cell>
        <mat-cell *matCellDef="let cuota">{{cuota.monto  | currency:'S/.'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="aporte">
        <mat-header-cell *matHeaderCellDef>Aporte de socio</mat-header-cell>
        <mat-cell *matCellDef="let cuota">{{cuota.aporte  | currency:'S/.'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <mat-header-cell *matHeaderCellDef>Fecha de pago</mat-header-cell>
        <mat-cell *matCellDef="let cuota">{{cuota.fecha | date:'MM/yy'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef>Total a pagar</mat-header-cell>
        <mat-cell *matCellDef="let cuota">{{cuota.total  | currency:'S/.' }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="Columnas"></mat-header-row>
      <mat-row *matRowDef="let row;columns:Columnas"></mat-row>
    </mat-table>

	</mat-card-content>

	<!-- <mat-card-actions>
		<mat-grid-list cols="1" rowHeight="40px">
			<mat-grid-tile>
				<button mat-raised-button matStepperNext [disabled]="!cliente || !capital">Generar archivos</button>
			</mat-grid-tile>
		</mat-grid-list>
	</mat-card-actions> -->

</mat-card>