#tituloProd {
    padding: 25px;
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
    
}

.derecha{
    float: right
}

mat-card{
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px
}

.spinner-container{
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-column-numero,
.mat-column-opciones{
  max-width: 1%,
}

.mat-column-fecha,
.mat-column-almacen,
.mat-column-documento{
  max-width: 5%,
}

.mat-column-referencia{
	max-width: 10%;
}

.mat-column-referente,
.mat-column-tipo{
  max-width: 30%;
}

#tituloProd {
  padding: 25px;
  font-size: 30px;
  text-align: center;
  font-family: sans-serif;

 }
