<mat-card>
  
  <button mat-mini-fab type="button" color="primary" (click)="Atras()"><mat-icon>keyboard_arrow_left</mat-icon></button>
  
  <!-- Encabezado -->
  <mat-card-title>
    <div id="tituloProd"> Registro de cobranzas directas </div>
  </mat-card-title>

  <div class = "spinner-container principal" *ngIf = "enviado">
    <mat-spinner></mat-spinner>
  </div>

  <form [formGroup]="CobranzaDirectaForm">

    <!-- Cabecera -->
    <div class="seccion">

      <mat-card-subtitle class="titulo-seccion">
        DATOS DEL VOUCHER
      </mat-card-subtitle>

      <mat-grid-list cols="4" rowHeight="70px">

        <mat-grid-tile colspan="2" *ngIf="!(CobranzaDirectaForm.value.id_cliente)">
          <button type="button" mat-icon-button color="primary" (click)="SeleccionarCliente()"> <mat-icon> person_add </mat-icon>  </button>
        </mat-grid-tile>

        <mat-grid-tile colspan="2" *ngIf="(CobranzaDirectaForm.value.id_cliente)">
          <mat-form-field class="columnas-2">
            <input #Cliente placeholder="Cliente" matInput formControlName="cliente" [readonly]="id_cobranza">
            <mat-icon color="primary" matSuffix (click)="RemoverCliente()" *ngIf="!id_cobranza"> remove_circle </mat-icon>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="1">
          <mat-form-field class="columnas-1">
            <input matInput [matDatepicker]="afiliacion" placeholder="Fecha" formControlName="fecha" readonly>
            <mat-datepicker-toggle matSuffix [for]="afiliacion"></mat-datepicker-toggle>
            <mat-datepicker #afiliacion [disabled]="id_cobranza"></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" *ngIf="!id_cobranza">
          <mat-form-field class="columnas-1">
            <mat-select placeholder="Cuenta de depósito" formControlName="cuenta_bancaria">
              <mat-option *ngFor="let cuenta of cuentas" [value]="cuenta.id"> {{cuenta.banco}} </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" *ngIf="id_cobranza">
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Cuenta de depósito" formControlName="cuenta_bancaria" [readonly]="id_cobranza">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="1">
          <mat-form-field class="columnas-1">
            <input matInput #InputOperacion placeholder="Número de operación" formControlName="numero_operacion" [readonly]="id_cobranza">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="1">
          <span matPrefix>S/. &nbsp;</span>
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Monto de depósito" formControlName="monto" #InputMonto [readonly]="id_cobranza">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-checkbox color="primary" formControlName="solo_directas" (change)="ListarPosiblesCuotas()">Solo modo de pago directo</mat-checkbox>
        </mat-grid-tile>

        <ng-container>
            <mat-grid-tile colspan="1" *ngIf="!id_cobranza && !id_cobranza_editar">
              <image-upload
                class="cargar-imagen"
                [max]="1"
                url="{{ruta}}"
                [buttonCaption]="'Voucher'"
                [extensions]="['pdf']"
                [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
                (uploadFinished)="SubirVoucher($event)">
              </image-upload>  
            </mat-grid-tile>

            <mat-grid-tile *ngIf="id_cobranza">
              <button mat-icon-button color="primary" [disabled]="!archivo">
                <mat-icon class="icono-documentos" (click)="AbrirDocumento(archivo)"> visibility </mat-icon>
              </button>
            </mat-grid-tile>

            <mat-grid-tile *ngIf="id_cobranza_editar">

              <ng-container>
                <button mat-icon-button color="primary" *ngIf="!archivo_editar">
                  <mat-icon class="icono-documentos" (click)="AbrirDocumento(archivo)"> visibility </mat-icon>
                </button>
                <image-upload  *ngIf="archivo_editar"
                  class="cargar-imagen"
                  [max]="1"
                  url="{{ruta}}"
                  [buttonCaption]="'Voucher'"
                  [extensions]="['pdf']"
                  [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
                  (uploadFinished)="SubirVoucher($event)">
                </image-upload>  
              </ng-container>
              

              <ng-container>
                <button mat-icon-button color="primary" (click)="archivo_editar =  true" [disabled]="!archivo" *ngIf="!archivo_editar">
                  <mat-icon class="icono-documentos"> edit </mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="archivo_editar = false" [disabled]="!archivo" *ngIf="archivo_editar">
                  <mat-icon class="icono-documentos"> close </mat-icon>
                </button>
              </ng-container>
            </mat-grid-tile>

        </ng-container>

        <mat-grid-tile colspan="4">
          <mat-form-field class="columnas-4">
            <input matInput placeholder="Observaciones" formControlName="observaciones" [readonly]="id_cobranza">
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>

    </div>

    <!-- Detalle -->
    <div class="seccion" *ngIf="Cuotas.length > 0 || no_hay_cuotas===false">

      <mat-card-subtitle class="titulo-seccion">
        CUOTAS POR PAGAR
        <ng-container *ngIf="!id_cobranza">
          <button mat-icon-button type="button" class="icono" *ngIf="editar_cuotas>1" (click)="EditarCuotas(1)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button type="button" class="icono" *ngIf="editar_cuotas==1" (click)="EditarCuotas(2)"><mat-icon>check</mat-icon></button>
        </ng-container>
      </mat-card-subtitle>

      <div class = "spinner-container" *ngIf = "Cargando| async">
        <mat-spinner></mat-spinner>
      </div>

      <ng-container *ngIf="!id_cobranza">
        <mat-grid-list cols="5" rowHeight="70px" *ngFor="let cuota of Cuotas">
          <mat-grid-tile>
            <mat-form-field>
              <input matInput type="text" placeholder="Tipo" [(ngModel)]="cuota.tipo" [ngModelOptions]="{standalone: true}" readonly>
            </mat-form-field>
          </mat-grid-tile>
  
          <mat-grid-tile>
            <mat-form-field>
              <input matInput type="text" placeholder="Documento" [(ngModel)]="cuota.codigo" [ngModelOptions]="{standalone: true}" readonly>
            </mat-form-field>
          </mat-grid-tile>
  
          <mat-grid-tile>
            <mat-form-field>
              <input matInput type="text" placeholder="Fecha de vencimiento" [(ngModel)]="cuota.fecha_vencimiento" [ngModelOptions]="{standalone: true}" readonly>
            </mat-form-field>
          </mat-grid-tile>
  
          <mat-grid-tile>
            <span matPrefix>S/. &nbsp;</span>
            <mat-form-field>
              <input matInput type="text" placeholder="Monto pendiente" [(ngModel)]="cuota.monto_pendiente" [ngModelOptions]="{standalone: true}" readonly>
            </mat-form-field>
          </mat-grid-tile>
  
          <mat-grid-tile>
            <span matPrefix>S/. &nbsp;</span>
            <mat-form-field>
              <input matInput type="text" placeholder="Pago" [(ngModel)]="cuota.pagar" [ngModelOptions]="{standalone: true}" [readonly]="editar_cuotas>1">
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </ng-container>

      <ng-container *ngIf="id_cobranza">
        <mat-grid-list cols="3" rowHeight="70px" *ngFor="let cuota of Cuotas">
          <mat-grid-tile>
            <mat-form-field class="columnas5-3">
              <input matInput type="text" placeholder="Tipo" [(ngModel)]="cuota.tipo" [ngModelOptions]="{standalone: true}" readonly>
            </mat-form-field>
          </mat-grid-tile>
  
          <mat-grid-tile>
            <mat-form-field class="columnas5-3">
              <input matInput type="text" placeholder="Documento" [(ngModel)]="cuota.codigo" [ngModelOptions]="{standalone: true}" readonly>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <span matPrefix>S/. &nbsp;</span>
            <mat-form-field class="columnas5-3">
              <input matInput type="text" placeholder="Monto pagado" [(ngModel)]="cuota.monto" [ngModelOptions]="{standalone: true}" readonly>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </ng-container>
      
      <mat-error class="error-monto" *ngIf="diferencia>0.05 && editar_cuotas<3">
        Las cuotas deben sumar {{CobranzaDirectaForm.value.monto}}. {{ CobranzaDirectaForm.value.monto>this.total_cuotas_editado ? 'Falta:' : 'Excede en:' }} {{ diferencia }}.
      </mat-error>
      
      <mat-error class="error-monto" *ngIf="pago_excedente && editar_cuotas<3">
        No se puede pagar más de lo que se debe.
      </mat-error>

    </div>

    <mat-card-actions *ngIf="!id_cobranza">
      <mat-grid-list cols="1" rowHeight="40px">

        <mat-grid-tile *ngIf="voucher_repetido">
          <mat-error> El voucher ya se ha registrado. </mat-error>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="no_hay_cuotas">
          <mat-error> No hay cuotas que mostrar. </mat-error>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-raised-button color="primary"
          (click)="Guardar()"
          [disabled]="enviado ||
                      voucher_repetido ||
                      no_hay_cuotas ||
                      pago_excedente ||
                      CobranzaDirectaForm.invalid || 
                      editar_cuotas==1 ||
                      diferencia>0.05"> Guardar </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-actions>

  </form>

</mat-card>