  <mat-toolbar color="primary">
    <mat-toolbar-row *ngIf="!data">Agregar marca</mat-toolbar-row>
    <mat-toolbar-row *ngIf="data">Editar marca</mat-toolbar-row>
  </mat-toolbar>

  <mat-card class="card">
    <form [formGroup]="MarcaForm" (ngSubmit)="Guardar(MarcaForm); Notificacion(mensaje,'')">
      <div class = "spinner-container-emergente" *ngIf = "Cargando | async">
        <mat-spinner></mat-spinner>
      </div>

      <mat-card-content>
        <mat-grid-list cols="1" rowHeight="80px">
          <mat-grid-tile>
            <mat-form-field class="columnas-1">
              <input matInput placeholder="Marca" formControlName="nombre" #InputMarca>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile *ngIf="total>0">
            <mat-error>Ya existe esta marca para este producto</mat-error>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="columnas-1">
              <mat-select placeholder="Tipo Producto" formControlName="idtipo" #InputTipo (selectionChange)="ObtenerArreglo()">
                <mat-option *ngFor="let tipo of lsttipos" [value]="tipo.id">{{tipo.nombre}}</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
  
      <mat-card-actions>
        <mat-grid-list cols=1 rowHeight="40px">
          <mat-grid-tile>
            <button type="submit" mat-raised-button color="primary" [disabled]="MarcaForm.invalid || total>0 || (Cargando | async)">Guardar</button>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-actions>
    </form>
  </mat-card>