mat-card.principal{
    width: 95%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px
}

mat-form-field{
    width: 100%
}

mat-list{
    width: 100%
}

.divider{
    display: inline-table;
}

.divider-1{
    width: 46%;
}

.divider-2{
    width: 20%;
}

.espacio{
  flex: 1 1 auto;
}

.titulo{
    background-color: #424242  !important
}

.prueba {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100%
}

.columna{
    border-radius: 5px !important;
}

mat-list-item{
    margin: 15px 0 !important;
}