#tituloProd {
	padding: 25px;
	font-size: 30px;
	text-align: center;
	font-family: sans-serif;
}

.mat-column-opciones{
  max-width: 10%;
}

.mat-column-numero{
 max-width: 5%; 
}

.mat-column-pecosa,
.mat-column-comision_efectiva,
.mat-column-comision_retenida{
  max-width: 15%
}