<mat-card class="card">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      Editar serie
    </mat-toolbar-row>
  </mat-toolbar>

  <form [formGroup]="DocumentoForm">
    <mat-card-content>
      <mat-grid-list cols="4" rowHeight="70px">

        <ng-container *ngIf="!DocumentoForm.value.id_proveedor">
          <mat-grid-tile colspan=2>
            <mat-form-field class="columnas-2">
              <input #Proveedor placeholder="Proveedor" matInput [matAutocomplete]="auto" formControlName="proveedor">
              <mat-error> Debe ingresar Proveedor </mat-error>
              <mat-autocomplete #auto="matAutocomplete" [displayWith] = "displayProveedor" (optionSelected)="ProveedorSeleccionado()">
                <mat-option *ngFor="let proveedor of proveedores" [value]="proveedor">
                  {{proveedor.nombre}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </mat-grid-tile>
        </ng-container>

        <ng-container *ngIf="DocumentoForm.value.id_proveedor">
          <mat-grid-tile colspan=2>
            <mat-form-field class="columnas-2">
              <input matInput placeholder="Proveedor" formControlName="proveedor_nombre" readonly>
              <mat-icon color="primary" matSuffix (click)="RemoverProveedor()"> remove_circle </mat-icon>
            </mat-form-field>
          </mat-grid-tile>
        </ng-container>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Documento" formControlName="documento">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput [matDatepicker]="picker" placeholder="Fecha" formControlName="fecha" [max]="Hoy"> 
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </form>

  <mat-grid-list cols=1 rowHeight="40px">
    <mat-grid-tile>
      <button mat-raised-button color="primary" [disabled]="DocumentoForm.invalid" [mat-dialog-close]="DocumentoForm.value">Guardar</button>
    </mat-grid-tile>
  </mat-grid-list>
  
</mat-card>