<mat-card class="card">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      Editar documento
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="spinner-container-emergente" *ngIf="Cargando | async">
    <mat-spinner></mat-spinner>
  </div>

  <form [formGroup]="DocumentoForm">
    <mat-card-content>
      <mat-grid-list cols="4" rowHeight="70px">

        <mat-grid-tile colspan=2>
          <mat-form-field class="columnas-2">
            <mat-select placeholder="Proveedor" formControlName="proveedor">
              <mat-option *ngFor="let proveedor of proveedores" [value]="proveedor.id">
                {{proveedor.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Documento" formControlName="documento">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput [matDatepicker]="picker" placeholder="Fecha" formControlName="fecha" [max]="Hoy"> 
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan=4>
          <button mat-icon-button color="primary" type="button" (click)="editar_archivo = !editar_archivo" [disabled]="!archivo_nombre_antiguo" *ngIf="!editar_archivo">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary" type="button" (click)="editar_archivo = !editar_archivo" [disabled]="!archivo_nombre_antiguo" *ngIf="editar_archivo">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>

          <button mat-icon-button color="primary" type="button" [disabled]="!archivo_nombre_antiguo_enlace" *ngIf="!editar_archivo && archivo_nombre_antiguo">
            <mat-icon class="icono-documentos" (click)="AbrirDocumento(archivo_nombre_antiguo_enlace)"> visibility </mat-icon>
          </button>
          
          <ng-container *ngIf="!archivo_nombre && editar_archivo">
            <input hidden #uploader type="file" (change)="SubirArchivo($event.target.files)">
            <button mat-raised-button type="button" (click)="uploader.click()"> Seleccionar archivo </button>
          </ng-container>
          <ng-container *ngIf="archivo_nombre">
            <span> {{ archivo_nombre }} </span>
            &nbsp;
            <button type="button" mat-icon-button color="primary" (click)="RemoverArchivo()"> <mat-icon> remove_circle_outline </mat-icon> </button>
          </ng-container>
        </mat-grid-tile>

      </mat-grid-list>
    </mat-card-content>
  </form>

  <mat-grid-list cols=1 rowHeight="40px">
    <mat-grid-tile>
      <button mat-raised-button color="primary" [disabled]="DocumentoForm.invalid || (Cargando | async)" (click)="Guardar()">Guardar</button>
    </mat-grid-tile>
  </mat-grid-list>
  
</mat-card>