<mat-card class="principal">
  <button mat-mini-fab type="button" color="primary" (click)="Atras()"><mat-icon>keyboard_arrow_left</mat-icon></button>

  <ng-container>
    <ng-container *ngIf="id_proceso_nuevo">
      <mat-card-title class="tituloProd"> Nuevo cronograma de pagos judiciales </mat-card-title>
    </ng-container>
    <ng-container *ngIf="id_proceso_ver">
      <mat-card-title class="tituloProd"> Ver cronograma de pagos judiciales </mat-card-title>
    </ng-container>
  </ng-container>
  
  <div class = "spinner-container" *ngIf = "Cargando| async">
    <mat-spinner></mat-spinner>
  </div>

  <form [formGroup]="JudicialForm">
    <mat-card-content>
      <!-- Datos del cliente -->
      <div class="seccion-secundaria">
        <mat-card-subtitle class="titulo-seccion-secundaria">
          INFORMACION DE LA DEMANDA
        </mat-card-subtitle>
        <mat-grid-list cols=3 rowHeight="70px">
          <mat-grid-tile colspan="1">
            <mat-form-field class="columnas-1">
              <input matInput type="text" placeholder="DNI" formControlName="cliente_documento" readonly>
            </mat-form-field>
          </mat-grid-tile>
  
          <mat-grid-tile colspan="2">
            <mat-form-field class="columnas-2">
              <input matInput type="text" placeholder="Cliente" formControlName="cliente_nombre" readonly>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="1">
            <mat-form-field class="columnas-1">
              <input matInput type="text" placeholder="Tipo de transacción" formControlName="tipo_transaccion" readonly>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="1">
            <mat-form-field class="columnas-1">
              <input matInput type="text" placeholder="Documento" formControlName="codigo_documento" readonly>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <!-- Cabecera -->
      <div class="seccion-secundaria">
        <mat-card-subtitle class="titulo-seccion-secundaria">
          DATOS DEL CRONOGRAMA
        </mat-card-subtitle>

        <mat-grid-list cols=3 rowHeight="70px">
          <mat-grid-tile colspan="1">
            <mat-form-field class="columnas-1">
              <input matInput type="text" placeholder="Número de cuotas" formControlName="numero_cuotas" readonly>
              <mat-error *ngIf="JudicialForm.get('numero_cuotas').invalid"> Se debe ingresar un número mayor a cero. </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="1">
            <mat-form-field class="columnas-1">
              <span matPrefix> S/. &nbsp; </span>
              <input matInput type="text" placeholder="Total" formControlName="total" readonly>
              <mat-error *ngIf="JudicialForm.get('total').invalid"> Se debe ingresar un número mayor a cero. </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="1">
            <mat-form-field class="columnas-1">
              <span matPrefix> S/. &nbsp; </span>
              <input matInput type="text" placeholder="Cuota" formControlName="monto_cuota" readonly>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan=1>
            <mat-form-field class="columnas-1">
              <input matInput [matDatepicker]="FechaInicio" [min]="fecha_expediente" placeholder="Fecha de inicio" formControlName="fecha_inicio" (dateChange)="CrearCronograma()" [readonly]="id_proceso_ver">
              <mat-datepicker-toggle matSuffix [for]="FechaInicio"></mat-datepicker-toggle>
              <mat-datepicker #FechaInicio [disabled]="id_proceso_ver"></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <!-- Cronograma -->
      <mat-table [dataSource]="ListadoCronograma" class="mat-elevation-z8">
  
        <ng-container matColumnDef="numero">
          <mat-header-cell *matHeaderCellDef> N° </mat-header-cell>
          <mat-cell *matCellDef="let proceso"> {{proceso.numero}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="fecha">
          <mat-header-cell *matHeaderCellDef> Fecha</mat-header-cell>
          <mat-cell *matCellDef="let proceso"> {{proceso.fecha | date:'dd/MM/yyyy'}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="total">
          <mat-header-cell *matHeaderCellDef> Cuota </mat-header-cell>
          <mat-cell *matCellDef="let proceso"> {{proceso.total | currency:'S/.' }} </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="Columnas"></mat-header-row>
        <mat-row *matRowDef="let row; columns: Columnas;"></mat-row>
      </mat-table>
    
    </mat-card-content>

    <mat-card-actions *ngIf="!id_proceso_ver">
      <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
          <button mat-raised-button color="primary" [disabled]="JudicialForm.invalid || (Cargando | async)" (click)="Guardar()"> Guardar </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-actions>
  </form>

</mat-card>