/* Structure */
.example-container {
  position: relative;
}

#container-principal{
  padding: 25px;
  margin-left: 25px;
  margin-right: 25px;

}


#tituloProd {
  padding: 25px;
  font-size: 30px;
  text-align: center;
  font-family: sans-serif;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 95%;
}

.IngFecha{
  float: right;
}

.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;

}

table {
  width: 100%;

}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

mat-card{
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px
}

hr{
  height: 15;
  background: Gray;
}

.mat-radio-button ~ .mat-radio-button {
  padding-right: 16px;
}


.CabeceraSalidaVendedor{
  width: 90%;
  position: relative;
  margin-left: auto;
  margin-right: auto;

}

.Alma{
  margin-left: 5px
}

.Alma1{
  align-content: flex-start;
  padding: 0px;
  border: 0px

}

mat-form-field-infix {
position: relative;
 margin-left: auto
}

.agregar{
  margin-left: 550px;
  /* margin-right: 48px */
}


mat-card-title{
  text-align: center;
  margin-bottom: 10px;
}

.CabeceraSalidaVendedor{
  width: 90%;
  position: relative;
  margin-left: auto;
  margin-right: auto;

}

mat-row:nth-child(even){
  background-color:#f2f2f2;
  }

mat-row:nth-child(odd){
  background-color:white;
  }

mat-header-cell {
  font-weight:  bold;
  font-size: 14px;
  background-color:#673ab7;
  color: #fff;
}