<mat-card>
  <!-- Cabecera de Ingreso de Productos -->
  <button mat-mini-fab type="button" color="primary" [routerLink]="['../']"><mat-icon>keyboard_arrow_left</mat-icon></button>

  <mat-card-title>
    <div id = "tituloProd"> Ingreso de Productos Nro. {{documento_serie}}-{{documento_numero}}</div>
  </mat-card-title>

  <form [formGroup]="IngresoProductoForm">

    <mat-card-content>

      <mat-card class="CabeceraSalidaVendedor">

        <mat-card-header>
          <mat-card-title>
              Datos Generales
          </mat-card-title>
        </mat-card-header>

        <mat-grid-list cols="3" rowHeight="80px" [ngSwitch]= "IngresoProductoForm.get('tipoIngreso').value">

        <!--Campo ingresar Tipo de Ingreso a almacen -->
        <mat-grid-tile >
            <mat-form-field  class="example-full-width">
              <mat-select placeholder="Tipo de ingreso" formControlName= "tipoIngreso" (selectionChange)="ActualizarTipoIngreso($event)" [value]=1>
                <mat-option *ngFor="let tipoIngreso of TipoIngresos" [value]="tipoIngreso.id">
                  {{tipoIngreso.nombre}}
                </mat-option>
              </mat-select>
              </mat-form-field>
        </mat-grid-tile>

         <!-- Seleccionar Almacen -->
        <mat-grid-tile>
          <mat-form-field class="example-full-width">
              <mat-select placeholder="Almacen" formControlName="almacen"  (selectionChange)="ResetearForm($event)">
                <mat-option *ngFor="let almacen of almacen_origen" [value]="almacen">
                  {{almacen.nombre}}
                </mat-option>
              </mat-select>
              <mat-error> Debe ingresar el almacén de salida </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <!--Campo ingresar Documento de Referencia -->
          <!--<mat-grid-tile  *ngIf = "IngresoProductoForm.get('tipoIngreso').value !=7">
              <mat-form-field class="input-ventana" class="example-full-width">
              <input matInput placeholder="Documento Referencia" formControlName="docReferencia">
              <mat-error> Debe ingresar numero de documento de salida almacen origen </mat-error>
            </mat-form-field>
          </mat-grid-tile> -->

          <mat-grid-tile >
              <mat-form-field class="input-ventana" class="example-full-width">
              <input #docRefencia matInput placeholder="Documento Referencia" formControlName="docReferencia">
              <mat-error> Debe ingresar el documento de referencia </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile> <!--[ngSwitch]= "IngresoProductoForm.get('tipoIngreso').value" -->
            <!--Campo ingresar Proveedor -->
            <mat-form-field class="example-full-width" *ngSwitchDefault>
              <input #Proveedor placeholder="Proveedor" matInput [matAutocomplete]="auto" formControlName=proveedor>
              <mat-error> Debe ingresar Proveedor </mat-error>
              <mat-autocomplete #auto="matAutocomplete" [displayWith] = "displayProveedor">
                <mat-option *ngFor="let proveedor of proveedores" [value]="proveedor">
                  {{proveedor.nombre}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <!--Campo ingresar Ciente -->
            <!-- <mat-form-field class="example-full-width" *ngSwitchCase="2">
              <input #Proveedor placeholder="Cliente" matInput [matAutocomplete]="auto" formControlName=cliente>
              <mat-error> Debe ingresar Cliente </mat-error>
              <mat-autocomplete #auto="matAutocomplete" [displayWith] = "displayCliente">
                <mat-option *ngFor="let cliente of clientes " [value]="cliente">
                  {{cliente.nombre}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field> -->
              <!--Campo ingresar Vendedor -->
<!--             <mat-form-field class="example-full-width" *ngSwitchCase="6">
              <input #Proveedor placeholder="Vendedor" matInput [matAutocomplete]="auto" formControlName=vendedor>
              <mat-error> Debe ingresar Vendedor</mat-error>
              <mat-autocomplete #auto="matAutocomplete" [displayWith] = "displayVendedor">
                <mat-option *ngFor="let vendedor of Vendedores" [value]="vendedor">
                  {{vendedor.nombre}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field> -->

            <mat-form-field class="example-full-width" *ngSwitchCase="7" >
              <input matInput type="text" formControlName="almacen1" placeholder="Almacén de referencia">
              <mat-error> Debe ingresar un almacén de llegada </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class ="IngFecha" class="Alma1"  class="example-full-width" >
                <input matInput [matDatepicker]="picker" placeholder="Fecha Ingreso" formControlName="fecingreso" [max]="Hoy" [value]="Hoy"> 
                <mat-error> Debe ingresar la fecha </mat-error>
                <mat-error> </mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>

      </mat-grid-list>
      </mat-card>

    </mat-card-content>

<br>
<!-- Line de Detalles de  ingreso de Productos -->

  <mat-card-content>

     

    <!-- Boton Agrega Productos -->
    <mat-card class="CabeceraSalidaVendedor">

      <mat-card-header>                 

        <mat-card-title>
            Detalle de Productos
        </mat-card-title>
      </mat-card-header>

      <!-- Muesta Detalle para todos los casos que no sean  transferencia entre allmacenes -->
      <mat-card-content  *ngIf = "IngresoProductoForm.get('tipoIngreso').value !=7">
    
      <mat-grid-list cols="1"  rowHeight="55px" >

        <mat-grid-tile>
          <button mat-mini-fab color="primary" (click)="AgregarProducto()" matTooltip="Agrega Productos"  type="button"><mat-icon>add</mat-icon></button>
        </mat-grid-tile>
      </mat-grid-list>

      <div formArrayName="productos" *ngFor="let producto of IngresoProductoForm['controls'].productos['controls']; let i = index">
        <div [formGroupName]="i">

          <mat-grid-list cols="8" rowHeight="70px">

            <mat-grid-tile colspan=3>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Producto" [matAutocomplete]="autoproducto" #InputProducto formControlName="descripcion">
                <mat-autocomplete #autoproducto="matAutocomplete" [displayWith]="displayFn2" (optionSelected)="ProductoSeleccionado(i)">
                  <mat-option *ngFor="let producto of Producto" [value]="producto">
                    {{producto.descripcion}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </mat-grid-tile>


            <mat-grid-tile colspan="2">
              <mat-form-field>
                <input matInput placeholder="Cantidad" formControlName="cantidad">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="2">
              <mat-form-field  class="example-full-width">
                <input matInput placeholder="Precio unitario" formControlName="precioUnitario" class="example-right-align" >
                <mat-error> Debe ingresar el precio</mat-error>
                <span matPrefix>S/.&nbsp;</span>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="1">
              <button mat-mini-fab color="primary" (click) = "AgregarSerie(producto,i)"  matTooltip="Ingresa Serie Producto" type="button" [disabled]="!producto.value.producto"><mat-icon> reorder </mat-icon> </button>
              <button mat-mini-fab color="primary" matTooltip="Elimina  Producto" type="button" (click)="EliminarProducto(producto.value.producto,i)" [disabled]="!productos || productos.length==1"> <mat-icon>delete</mat-icon></button>
            </mat-grid-tile>

          </mat-grid-list>

        </div>
      </div>
      </mat-card-content>

      <!-- Tipo de Transaccion transferencia de almacen  -->

      <mat-card-content  *ngIf = "IngresoProductoForm.get('tipoIngreso').value ==7">
          <table  class="tabla-detalle">
              <tr>
                <th>N°</th>
                <th>PRODUCTO</th>
                <th>SERIE</th>
                <th>COLOR</th> 
                <th>ALMACENAMIENTO</th>
                <!--<th>CANTIDAD</th>-->
                
                <th>OBSERVACIONES</th>
                <!-- <th>OBS. RECEPCION</th> -->
                <!-- <th>CONFORME</th> -->

                <th *ngIf="id_tipo==1">OPCIONES</th>
              </tr>
              <tr *ngFor="let detalle of detalle">
                <td class="detalle-columnas" id="detalle-numero">{{detalle.numero}}</td> 
                <td class="detalle-columnas" id="detalle-producto">{{detalle.producto}}</td>
                <td class="detalle-columnas" id="detalle-serie">{{detalle.serie}}</td> 
                <td class="detalle-columnas" id="detalle-color">{{detalle.color}}</td>
                <td class="detalle-columnas" id="detalle-almacenamiento">{{detalle.almacenamiento}}</td>
                <!-- <td class="detalle-columnas" id="detalle-cantidad" >{{detalle.cantidad}}</td> -->
                <td class="detalle-columnas" id="detalle-observacion">{{detalle.observacion}}</td>
<!--                 <td class="detalle-columnas" id="detalle-observacion">
                  <mat-form-field>
                    <input matInput type="text" placeohlder="Observación" [value]="detalle.nueva_observacion">
                  </mat-form-field>
                </td> -->
                <!-- <td class="detalle-columnas" id="detalle-opciones">
                   <mat-checkbox class="example-margin" value="false"></mat-checkbox>
                </td> -->
              </tr>
            </table>		


      </mat-card-content>



    </mat-card>

  </mat-card-content>



   <mat-card-actions >
      <mat-grid-list cols="1"  rowHeight="65px">
        <mat-grid-tile>

<!--           <button mat-fab color="primary" matTooltip="Grabar" > <mat-icon> save</mat-icon></button>
          <button mat-fab color="warn" matTooltip="Limpiar" >  <mat-icon> restore</mat-icon></button> -->

          <button mat-raised-button type="button" (click)="Reset()" >Limpiar</button>
          <button mat-raised-button color="primary" type="submit"  (click)="Guardar(IngresoProductoForm)" [disabled]="IngresoProductoForm.invalid || (Series.length==0 && IngresoProductoForm.value.tipoIngreso==1) || enviado">Grabar</button>

        </mat-grid-tile>
      </mat-grid-list>
   </mat-card-actions>
      <br><br>

  </form>
</mat-card>