<mat-card>
  <!-- Cabecera de Ingreso de Productos -->
  <button mat-mini-fab type="button" color="primary" [routerLink]="['../']"><mat-icon>keyboard_arrow_left</mat-icon></button>

  <mat-card-title>
    <div id = "tituloProd"> Ingreso de Productos Nro.</div>
  </mat-card-title>

  <form [formGroup]="IngresoProductoForm" (submit)="Guardar(IngresoProductoForm)">

    <mat-card-content>

      <mat-card class="CabeceraSalidaVendedor">

        <mat-card-header>
          <mat-card-title>
              Datos generales
          </mat-card-title>
        </mat-card-header>

        <mat-grid-list cols="3" rowHeight="80px" [ngSwitch]= "IngresoProductoForm.get('tipoIngreso').value">

        <!--Campo ingresar Tipo de Ingreso a almacen -->
        <mat-grid-tile >
            <mat-form-field  class="example-full-width">
              <mat-select placeholder="Tipo de  Ingreso" formControlName= "tipoIngreso"  (selectionChange)="ResetearForm($event)">
                <mat-option *ngFor="let tipoIngreso of TipoIngresos" [value]="tipoIngreso.id">
                  {{tipoIngreso.nombre}}
                </mat-option>
              </mat-select>
              </mat-form-field>
        </mat-grid-tile>

         <!-- Seleccionar Almacen -->
        <mat-grid-tile>
          <mat-form-field class="example-full-width">
              <mat-select placeholder="Almacen" formControlName="almacen">
                <mat-option *ngFor="let almacen of almacenes" [value]="almacen.id">
                  {{almacen.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <!--Campo ingresar Documento de Referencia -->
          <mat-grid-tile >
              <mat-form-field class="input-ventana" class="example-full-width">
              <input matInput placeholder="Documento Referencia" formControlName="docReferencia">
            </mat-form-field>
          </mat-grid-tile>


          <mat-grid-tile> <!--[ngSwitch]= "IngresoProductoForm.get('tipoIngreso').value" -->
            <!--Campo ingresar Proveedor -->
            <mat-form-field class="example-full-width" *ngSwitchDefault>
              <input #Proveedor placeholder="Proveedor" matInput [matAutocomplete]="auto" formControlName=proveedor>
              <mat-autocomplete #auto="matAutocomplete" [displayWith] = "displayProveedor">
                <mat-option *ngFor="let proveedor of proveedores" [value]="proveedor">
                  {{proveedor.nombre}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <!--Campo ingresar Ciente -->
            <mat-form-field class="example-full-width" *ngSwitchCase="2">
              <input #Proveedor placeholder="Cliente" matInput [matAutocomplete]="auto" formControlName=cliente>
              <mat-autocomplete #auto="matAutocomplete" [displayWith] = "displayCliente">
                <mat-option *ngFor="let cliente of clientes " [value]="cliente">
                  {{cliente.nombre + ' ' +  cliente.apellido}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
              <!--Campo ingresar Vendedor -->
            <mat-form-field class="example-full-width" *ngSwitchCase="6">
              <input #Proveedor placeholder="Vendedor" matInput [matAutocomplete]="auto" formControlName=vendedor>
              <mat-autocomplete #auto="matAutocomplete" [displayWith] = "displayVendedor">
                <mat-option *ngFor="let vendedor of Vendedores" [value]="vendedor">
                  {{vendedor.nombre}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="example-full-width" *ngSwitchCase="7" >
             <!-- <input #Proveedor placeholder="Responsable Traslado" matInput [matAutocomplete]="auto" formControlName=vendedor > -->
             <input  matInput [matAutocomplete]="auto"  disabled value >

                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let vendedor of Vendedores" [value]="vendedor.nombre">
                    {{vendedor.nombre}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

          </mat-grid-tile>

        <!-- Seleccionar Almacen  Destino -->


           <!--Campo ingresar Fecha de Ingreso almacen -->
          <mat-grid-tile>
            <mat-form-field class ="IngFecha" class="Alma1"  class="example-full-width" >
                <input matInput [matDatepicker]="picker" placeholder="Fecha Ingreso" formControlName="fecingreso">
                <mat-error> </mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>


          <mat-grid-tile >
              <mat-form-field class="example-full-width" *ngSwitchCase="7" >
                  <mat-select placeholder="Selecciona Almacen Destino" formControlName="almacen1">
                    <mat-option *ngFor="let almacen of almacenes" [value]="almacen.id">
                      {{almacen.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>


                <mat-form-field class="example-full-width" *ngSwitch != "7"  >
                    <mat-select placeholder="Selecciona Almacen Destino" formControlName="almacen1">
                        <input #Proveedor matInput placeholder="" disabled value="" >

                      <mat-option *ngFor="let almacen of almacenes" [value]="almacen.id">
                        {{almacen.nombre}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

          </mat-grid-tile>

      </mat-grid-list>
      </mat-card>
    </mat-card-content>

<br>
<!-- Line de Detalles de  ingreso de Productos -->

  <mat-card-content>

    <!-- Boton Agrega Productos -->
    <mat-card class="CabeceraSalidaVendedor">

      <mat-card-header>
        <mat-card-title>
            Detalle de Productos
        </mat-card-title>
      </mat-card-header>

      <mat-grid-list cols="1"  rowHeight="55px">
        <mat-grid-tile>
          <button mat-mini-fab color="primary" (click)="AgregarProducto()" matTooltip="Agrega Productos"  type="button"><mat-icon>add</mat-icon></button>
        </mat-grid-tile>
      </mat-grid-list>

      <div formArrayName="productos" *ngFor="let producto of IngresoProductoForm['controls'].productos['controls']; let i = index">
        <div [formGroupName]="i">

          <mat-grid-list cols="8" rowHeight="70px">

            <mat-grid-tile colspan=3>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Producto" [matAutocomplete]="autoproducto" #InputProducto formControlName="producto">
                <mat-autocomplete #autoproducto="matAutocomplete" [displayWith]="displayFn2" (optionSelected)="ProductoSeleccionado('')">
                  <mat-option *ngFor="let producto of Producto" [value]="producto">
                    {{producto.descripcion}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </mat-grid-tile>


            <mat-grid-tile colspan="2">
              <mat-form-field>
                <input matInput placeholder="Cantidad" formControlName="cantidad">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="2">
              <mat-form-field  class="example-full-width">
                <input matInput placeholder="Precio unitario" formControlName="precioUnitario">
                <span matPrefix>S/.&nbsp;</span>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="1">
              <button mat-mini-fab color="primary" (click) = "AgregarSerie(producto,i)"  matTooltip="Ingresa Serie Producto" type="button"><mat-icon> reorder </mat-icon> </button>
              <button mat-mini-fab color="primary" matTooltip="Elimina  Producto" type="button" (click)="EliminarProducto(producto.value.producto,i)"> <mat-icon>delete</mat-icon></button>
            </mat-grid-tile>

          </mat-grid-list>

        </div>
      </div>

    </mat-card>

  </mat-card-content>

   <mat-card-actions >
      <mat-grid-list cols="1"  rowHeight="55px">
        <mat-grid-tile>
          <button mat-raised-button color="primary" type="submit" >Grabar</button>
          <button mat-raised-button  color="accent">Limpiar</button>
        </mat-grid-tile>
      </mat-grid-list>
   </mat-card-actions>
      <br><br>

  </form>
</mat-card>
