<mat-card>
  <!-- Cabecera de Ingreso de Productos -->
  <mat-card-title>
    <div id = "tituloProd"> Ingreso de Productos Nro.</div>
  </mat-card-title>

  <mat-card-header>

    <mat-card class="CabeceraSalidaVendedor">
      <mat-grid-list cols="3" rowHeight="80px">
        <mat-grid-tile>
          <!-- Seleccionar Almacen -->
          <mat-form-field>
            <mat-select placeholder="Selecciona Almacen" >
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <!--Campo ingresar Tipo de Ingreso a almacen -->
          <mat-form-field>
              <mat-select placeholder="Tipo de  Ingreso" >
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </mat-grid-tile>


        <!--Campo ingresar Documento de Referencia -->
        <mat-grid-tile >
            <mat-form-field class="input-ventana">
            <input matInput placeholder="Ingresar Documento">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <!--Campo ingresar Proveedor -->
          <form>
              <mat-form-field>
                <input type="text" placeholder="Ingresa Proveedor" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
        </mat-grid-tile>

        <mat-grid-tile>
          <!--Campo ingresar Fecha de Ingreso almacen -->
          <mat-form-field class ="IngFecha" class="Alma1">
              <input matInput [matDatepicker]="picker" placeholder="Seleciona Fecha">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
    </mat-card>
  </mat-card-header>


<!-- Line de Detalles de  ingreso de Productos -->
<br>

<mat-card-content>

    <mat-card-subtitle>
        Detalle de Productos
      <button mat-mini-fab color="primary" class="agregar" (click) = 'agregar()'><mat-icon>add</mat-icon></button>
    </mat-card-subtitle>
<br>

    <mat-card class="CabeceraSalidaVendedor">

      <mat-grid-list cols="5" rowHeight="70px" *ngFor="let articulo of articulos">

        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Código">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Nombre" disabled>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Cantidad">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Precio unitario">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-mini-fab color="primary"><mat-icon>delete</mat-icon></button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>

  </mat-card-content>



    <mat-card-actions>

        <button mat-raised-button color="primary" class="agregar">Grabar</button>

      </mat-card-actions>

</mat-card>
