/*Oculta la barra de navegación*/
::-webkit-scrollbar { 
    display: none; 
}

.sidenav-container {
  height: 100vh;
  /*background-color:#EEEEEE*/
}

.sidenav {
  width: 300px;
  background-color: #3c3c3c;
}

.mat-toolbar.mat-primary {
  /* position: sticky; */
  top: 0;
}

.icono {
	color: white !important;
  padding: 0 14px;
}

.datos-usuario{
	display: inline-block;
	max-width: 50%;
	font-size: 15px;
	text-align: left;
	margin-left: 5px;
}

.rol-usuario{
	font-size: 12px;
	transform: translateY(-10px);
	/*margin-top: 5px;*/
	/*margin-bottom: 10px;*/
}

.nombre-usuario{
	transform: translateY(-20px);
}

.avatar-usuario{
	display: inline-block;
	max-width: 25%;
	/*max-height: 25%;*/
}

.imagen-menu{
	max-height: 70%;
	max-width: 80%
}

.menu-empresa{
	color: white;
	text-align: center;
	font-size: 20px;
	margin-top: 20px;
	width: 100%;
}

.cabecera-menu{
	text-align: center;
	color:white;
	/*font-size: 18px;*/
	margin-top: 10px;
	/*display: inline-block;*/
	/*width: 80%;*/
	/*margin-left: 10%*/
}

.espacio{
	flex: 1 1 auto;
}

mat-divider{
	border-top-color: #979797;
	width: 80%;
	position: relative;
	margin: 15px auto;
}