<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #Menu
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="'navigation'"
    [mode]="'side'"
    [(opened)]="usuario">
    <mat-toolbar color="primary"> Menu </mat-toolbar>
    
    <div class="menu-empresa">
      Cooperativa Alvis
    </div>

    <mat-divider></mat-divider>

    <div class="cabecera-menu">
      <div class="avatar-usuario">
        <img src="assets/avatares/avatar1.png" alt="" class="imagen-responsiva">  
      </div>
      <div class="datos-usuario">
        <div class="nombre-usuario">
          {{usuario ? usuario.usuario : ''}}
        </div>
        <div class="rol-usuario">
          {{usuario ? usuario.perfil : ''}}
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="menu">
      <app-menu></app-menu>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" *ngIf="usuario">
      <!-- <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="Menu.toggle()"
        disabled>
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button> -->
     <span>Sistema de Créditos y Cobranzas</span>
     <span class="espacio"></span>
     <ng-container>
       <button mat-icon-button [matMenuTriggerFor]="menu1" class="icono" color="primary" matTooltip="Mi cuenta" ><mat-icon> account_circle </mat-icon></button>
        <mat-menu #menu1="matMenu">
          <button mat-menu-item (click)="CerrarSesion()"> Cerrar sesión </button>
        </mat-menu>
      </ng-container>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
