WS_SCC/uploads/autogenerados/
WS_SCC/uploads/cliente/
WS_SCC/uploads/credito/
WS_SCC/uploads/movimientos-almacen/
WS_SCC/uploads/observacion/
WS_SCC/uploads/planilla-descuentos/
WS_SCC/uploads/plantillas/
WS_SCC/uploads/proceso judicial/
WS_SCC/uploads/producto/
WS_SCC/uploads/proveedor/
WS_SCC/uploads/reporte-clientes/
WS_SCC/uploads/vendedor/
WS_SCC/uploads/venta/