.example-form {
    min-width: 150px;
    max-width: 1000px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .example-button-row button,
  .example-button-row a {
    margin-right: 8px;
  }
  
  .customClass {
    background-color: #dd3;
    border-radius: 5px;
    margin:5px;
    color: #000;
    width: 500px;
}

.customClass .img-ul-upload {
    background-color: #000;
}

.customClass .img-ul-clear {
    background-color: #B819BB !important;
}

.customClass .img-ul-drag-box-msg {
    color: purple !important;
}

.customClass .img-ul-container {
    background-color: #FF6CAD !important;
}

