<mat-card>
    <mat-card-header>
       <mat-card-title>Adjuntar Archivos</mat-card-title>
    </mat-card-header>
 
    <mat-vertical-stepper [linear]="false" #stepper>
        <mat-step>
          <ng-template matStepLabel>DNI</ng-template>
          <image-upload
            [max]="1"
            [url]="'http://localhost/SCC/WS_SCC/file/upload.php'"
            [buttonCaption]="'Seleccione documento'"
            [dropBoxMessage]="'o arrastrelo'"
            [extensions]="['jpg','png','pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirDNI($event)"><!-- [uploadedFiles]="dni" -->
          </image-upload>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>C.I.P</ng-template>
          <image-upload
            [max]="1"
            [url]="'http://localhost/SCC/WS_SCC/file/upload.php'"
            [buttonCaption]="'Seleccione documento'"
            [dropBoxMessage]="'o arrastrelo'"
            [extensions]="['jpg','png','pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirCIP($event)">
          </image-upload>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Contrato</ng-template>
          <image-upload
            [max]="1"
            [url]="'http://localhost/SCC/WS_SCC/file/upload.php'"
            [buttonCaption]="'Seleccione documento'"
            [dropBoxMessage]="'o arrastrelo'"
            [extensions]="['jpg','png','pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirContrato($event)">
          </image-upload>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Transacción</ng-template>
          <image-upload
            [max]="1"
            [url]="'http://localhost/SCC/WS_SCC/file/upload.php'"
            [buttonCaption]="'Seleccione documento'"
            [dropBoxMessage]="'o arrastrelo'"
            [extensions]="['jpg','png','pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirTransaccion($event)">
          </image-upload>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Planilla virtual</ng-template>
          <image-upload
            [max]="1"
            [url]="'http://localhost/SCC/WS_SCC/file/upload.php'"
            [buttonCaption]="'Seleccione documento'"
            [dropBoxMessage]="'o arrastrelo'"
            [extensions]="['jpg','png','pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirPlanilla($event)">
          </image-upload>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Letra</ng-template>
          <image-upload
            [max]="1"
            [url]="'http://localhost/SCC/WS_SCC/file/upload.php'"
            [buttonCaption]="'Seleccione documento'"
            [dropBoxMessage]="'o arrastrelo'"
            [extensions]="['jpg','png','pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirLetra($event)">
          </image-upload>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Autorización</ng-template>
          <image-upload
            [max]="1"
            [url]="'http://localhost/SCC/WS_SCC/file/upload.php'"
            [buttonCaption]="'Seleccione documento'"
            [dropBoxMessage]="'o arrastrelo'"
            [extensions]="['jpg','png','pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirAutorizacion($event)">
          </image-upload>
        </mat-step>
      </mat-vertical-stepper>

      <mat-card-actions>
        <mat-grid-list cols="1" rowHeight="40px">
          <mat-grid-tile>
            <button mat-raised-button color="primary" (click)="Guardar()"> Guardar </button>
          </mat-grid-tile>
        </mat-grid-list>
    </mat-card-actions>

 </mat-card>