<mat-card>
    <mat-card-header>
      <mat-card-title>Agrega Cliente Nuevo</mat-card-title>
    </mat-card-header>
    <form [formGroup]="ClientesForm" (ngSubmit)="Guardar(ClientesForm)">
      <mat-card-content>
        <mat-grid-list cols="2" rowHeight="80px">
          <mat-grid-tile>
            <mat-form-field>
              <mat-select placeholder='Selecciona Institucion' formControlName="institucion" >
                <mat-option *ngFor="let institucion of Institucion" [value] = "institucion.id"> {{institucion.nombre}} </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="input-ventana">
              <input matInput placeholder="Ingresa Código del Cliente" formControlName="codigo">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Ingresa DNI"  formControlName="dni" maxlength="8">
              <mat-error *ngIf="ClientesForm.get('dni').invalid">Debes escribir sólo números</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="input-ventana">
              <input matInput placeholder="Ingresa Nombre del Cliente" formControlName="nombre">
            </mat-form-field>
          </mat-grid-tile>
        
          <mat-grid-tile>
            <mat-form-field class="input-ventana">
              <input matInput placeholder="Ingresa Apellido del Cliente" formControlName="apellido">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="input-ventana">
              <input matInput placeholder="Ingresa CIP del Cliente" formControlName="cip">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="input-ventana">
              <input matInput placeholder="Ingresa Email del Cliente" formControlName="email" ngModel email="true">
              <mat-error>Ingrese Email válido</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="input-ventana">
              <input matInput placeholder="Ingresa Casilla" formControlName="casilla">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="input-ventana">
              <input matInput placeholder="Ingresa Dirección de trabajo" formControlName="trabajo">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="input-ventana">
              <input matInput placeholder="Ingresa Cargo" formControlName="cargo">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="input-ventana">
              <input matInput placeholder="Ingresa Calificación Crediticia" formControlName="calificacioncrediticia">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="input-ventana">
              <input matInput placeholder="Ingresa Calificación Personal" formControlName="calificacionpersonal">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Ingresa Aporte"  formControlName="aporte">
              <mat-error *ngIf="ClientesForm.get('aporte').invalid">Debes escribir sólo números</mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
      <mat-card-actions>
        <mat-grid-list cols=1 rowHeight="40px">
          <mat-grid-tile>
            <button type="submit" mat-raised-button color="primary" [disabled]="ClientesForm.invalid">Grabar</button>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-actions>
    </form>
  </mat-card>