<mat-card>
  
  <button mat-mini-fab type="button" color="primary" (click)="Atras()"><mat-icon>keyboard_arrow_left</mat-icon></button>
  
  <!-- Encabezado -->
  <mat-card-title>
    <div id="tituloProd"> Generador de archivos </div>
  </mat-card-title>

  <mat-grid-list cols= "2" rowHeight="70px">

    <mat-grid-tile>
      <mat-form-field class="columnas-2">
        <mat-select placeholder="Seleccionar institución" [(ngModel)]="institucion">
          <mat-option *ngFor="let institucion of Institucion" [value]="institucion.id"> {{institucion.nombre}} </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

  </mat-grid-list>

  <ng-container *ngIf="institucion==2">

    <app-cobranza-pnp></app-cobranza-pnp>

  </ng-container>

</mat-card>