<mat-card>
  
  <button mat-mini-fab type="button" color="primary" (click)="Atras()"><mat-icon>keyboard_arrow_left</mat-icon></button>
  
  <!-- Encabezado -->
  <mat-card-title>
    <div id="tituloProd"> Generador de Archivos </div>
  </mat-card-title>

 <form [formGroup]="CobranzaForm">     
   
  <mat-grid-list cols= "4" rowHeight="70px">

    <mat-grid-tile colspan="1">
      <mat-form-field class="columnas-1">
        <mat-select placeholder='Selecciona Institución'  formControlName="institucion" (selectionChange)="InstitucionSeleccionada($event)">
          <mat-option *ngFor="let institucion of Institucion" [value]="institucion.id"> {{institucion.nombre}} </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="1">
      <mat-form-field class="columnas-1">
        <mat-select placeholder='Selecciona Sede' formControlName="sede" (selectionChange)="SedeSeleccionada($event)">
          <mat-option *ngFor="let sede of Sede" [value] = "sede.id"> {{sede.nombre}} </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="columnas-1">
        <input matInput [matDatepicker]="FFin" placeholder="Periodo de cobranza" formControlName="fecha_fin" (dateChange)="EmitirInformacion()" readonly>
        <mat-datepicker-toggle matSuffix [for]="FFin"></mat-datepicker-toggle>
        <mat-datepicker #FFin startView="year"
                        (yearSelected)="AnoElegido($event)"
                        (monthSelected)="MesElegico($event, FFin)"></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>

  </mat-grid-list>

  </form>

  <!-- Para Ministerio del Interior  -->
  <ng-container *ngIf="CobranzaForm.value.institucion==4 "> 
    <app-cobranza-pnp [sede_seleccionada]="sede"></app-cobranza-pnp>
  </ng-container>

</mat-card>