.card{
   padding: 0px;
   overflow: hidden;
}

 .boton{
  float: right;
  z-index: 2;
  margin-right: 20px;
  margin-top: 20px;
}

.input-observacion{
	width: 80%
}

.spinner-container{
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-column-numero,
.mat-column-fecha,
.mat-column-opciones{
	max-width: 10%
}

form{
  position: relative;
  width: 90%;
  margin: 0 auto;
}