<mat-card class="card">

  <mat-toolbar color="primary">
    <mat-toolbar-row>Agregar talonarios</mat-toolbar-row>
  </mat-toolbar>

  <form [formGroup]="TalonariosForm">
   
    <mat-card-content>
    
      <mat-grid-list cols=4 rowHeight="70px">
          
        <mat-grid-tile>
          <mat-form-field>
            <mat-select placeholder="Serie" (selectionChange)="AgregarNumeros($event)" formControlName="serie">
              <mat-option *ngFor="let serie of Series" [value]="serie.serie"> {{serie.serie}} </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
          
        <mat-grid-tile>
          <mat-form-field>
            <mat-select placeholder="Desde" formControlName="numero_inicio" (selectionChange)="MinimoSeleccionado()">
              <mat-option *ngFor="let numero of Numeros" [value]="numero"> {{numero.numero}} </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
          
        <mat-grid-tile>
          <mat-form-field>
            <mat-select placeholder="Hasta" formControlName="numero_fin" (selectionChange)="MaximoSeleccionado()">
              <mat-option *ngFor="let numero of Numeros" [value]="numero"> {{numero.numero}} </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-raised-button type="button" color="primary" (click)="AgregarTalonario(TalonariosForm)" [disabled]="TalonariosForm.invalid">Agregar</button>
        </mat-grid-tile>

      </mat-grid-list>

      <mat-table [dataSource]="ListadoTalonario" class="mat-elevation-z8">

        <ng-container matColumnDef="numero">
          <mat-header-cell *matHeaderCellDef> N° </mat-header-cell>
          <mat-cell *matCellDef="let talonario"> {{talonario.numero}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="serie">
          <mat-header-cell *matHeaderCellDef> Talonario </mat-header-cell>
          <mat-cell *matCellDef="let talonario"> {{talonario.serie}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="inicio">
          <mat-header-cell *matHeaderCellDef> Inicio </mat-header-cell>
          <mat-cell *matCellDef="let talonario"> {{talonario.numero_inicio}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fin">
          <mat-header-cell *matHeaderCellDef> Fin </mat-header-cell>
          <mat-cell *matCellDef="let talonario"> {{talonario.numero_fin}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="opciones">
          <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
          <mat-cell *matCellDef="let talonario">
            <button mat-icon-button matTooltip="Eliminar" color="primary" (click)="EliminarTalonario(talonario.serie)"><mat-icon> delete </mat-icon></button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="Columnas"></mat-header-row>
        <mat-row *matRowDef="let row; columns: Columnas;"></mat-row>

      </mat-table>

    </mat-card-content>

    <mat-card-actions>
      <mat-grid-list cols=1 rowHeight="40px">
        <mat-grid-tile>
          <button mat-raised-button color="primary" [mat-dialog-close]="Talonarios">Aceptar</button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-actions>

  </form>

</mat-card>
