<div class="imagen">
  <img src='assets/alvis.png' alt="">
</div>

<mat-grid-list cols="2" rowHeight="500px">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title class="title">
          <strong> Morosidad de clientes </strong>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div class="ChartContainer">
          <app-reporte-morosidad></app-reporte-morosidad>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>