mat-card{
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px
}

#tituloProd {
    padding: 25px;
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
}