<mat-card class="principal">
  
  <mat-card-title>
    <div id="tituloProd">Evaluación de crédito</div>
  </mat-card-title>

  <mat-card-content>
    <mat-horizontal-stepper>
      <mat-step>
        <ng-template matStepLabel>Verificar capacidad</ng-template>
        <app-evaluacion-capacidad
          (capacidad)="DefinirCapacidad($event)"
        ></app-evaluacion-capacidad>
        <!-- <button mat-button matStepperNext>Siguiente</button> -->
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Calcular cuotas</ng-template>
        <app-evaluacion-cuotas
          [datos]="datos_prestamo"></app-evaluacion-cuotas>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Hacer venta</ng-template>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>

</mat-card>
