<mat-card class="principal">
  
  <mat-card-title>
    <div id="tituloProd">Evaluación de créditos</div>
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="EvaluacionForm">
      
      <mat-grid-list cols="4" rowHeight="70px">
        
        <mat-grid-tile>
          <mat-form-field class="columnas4-1">
            <input matInput type="text" placeholder="DNI" formControlName="dni" maxlength="8" #InputDNI [readonly]="cliente_encontrado==1">
            <mat-icon color="primary" matSuffix (click)="RemoverCliente()" *ngIf="cliente_encontrado==1"> remove_circle </mat-icon>
            <mat-hint align="end">{{InputDNI.value?.length || 0}}/8</mat-hint>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan=2>
          <mat-form-field class="columnas4-2">
            <input matInput type="text" placeholder="Nombre" formControlName="nombre" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-raised-button color="primary" (click)="BuscarCliente()" [disabled]="EvaluacionForm.invalid"> Buscar </button>
        </mat-grid-tile> 

        <ng-container *ngIf="cliente_encontrado==1">
        
          <mat-grid-tile colspan=1>
            <mat-form-field class="columnas4-1">
              <input matInput type="text" placeholder="Código" formControlName="codigo" readonly>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan=1>
            <mat-form-field class="columnas4-1">
              <input matInput type="text" placeholder="Cargo" formControlName="cargo" readonly>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan=2>
            <mat-form-field class="columnas4-2">
              <input matInput type="text" placeholder="Sede" formControlName="sede" readonly>
            </mat-form-field>
          </mat-grid-tile>

        </ng-container>

        <ng-container *ngIf="cliente_encontrado==2">
        
          <mat-grid-tile colspan=1>
            <mat-error> No se encontró ningún cliente. </mat-error>
          </mat-grid-tile>

        </ng-container>

      </mat-grid-list>

    </form>

    <div class = "spinner-container" *ngIf = "Cargando | async">
      <mat-spinner></mat-spinner>
    </div>

    <mat-horizontal-stepper [linear]="false">
      <mat-step>
        <ng-template matStepLabel>Verificar capacidad</ng-template>
        <app-evaluacion-capacidad (capacidad)="DefinirCapacidad($event)" [cliente]="cliente" [montos]="montos_anteriores"></app-evaluacion-capacidad>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Calcular cuotas</ng-template>
        <app-evaluacion-cuotas [datos]="datos_prestamo" (informacion)="InformacionPrestamo($event)"></app-evaluacion-cuotas>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Hacer presupuesto</ng-template>
        <app-evaluacion-orden [informacion_venta]="informacion" (presupuesto_guardado)="NuevaEvaluacion()"></app-evaluacion-orden>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Generar archivos</ng-template>
        <app-evaluacion-archivos [informacion_venta]="informacion" (ActualizarCliente)="ActualizarCliente()"></app-evaluacion-archivos>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>

</mat-card>
