<mat-card class="principal">
  <mat-card-content>
    <mat-grid-list cols=3 rowHeight="70px">
      <mat-grid-tile>
        <mat-form-field>
          <input type="text" matInput placeholder="Capital">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field>
            <input type="text" matInput placeholder="Número de cuotas">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
              <input type="text" matInput placeholder="Total a pagar">
            </mat-form-field>
          </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>