<!-- Todo el proyecto -->
<mat-card class="principal">

  <mat-card-content>

    <mat-grid-list cols=4 rowHeight="70px">

      <mat-grid-tile>
        <mat-form-field>
          <input type="text" matInput placeholder="Capital" [(ngModel)]="capital" #InputCapital>
        </mat-form-field>
        <button mat-icon-button color="primary" *ngIf="tipo==2" (click)="AgregarProducto()"><mat-icon>add</mat-icon></button>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input type="text" matInput placeholder="Número de cuotas" [(ngModel)]="cuotas" #InputCuotas>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input type="text" matInput placeholder="Total a pagar" [(ngModel)]="prestamo" disabled>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Fecha de inicio" [(ngModel)]="fecha_inicio" disabled (dateChange)="CambioFecha()"> 
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker [disabled]="false"></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-checkbox color="primary" [(ngModel)]="pago_inicio_mes" (change)="CambioModoPago()">Iniciar el próximo mes</mat-checkbox>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-radio-group (change)="CambioTipoVenta()" [(ngModel)]="tipo">
          <mat-radio-button color="primary" [value]=1>Crédito</mat-radio-button>
          &nbsp;&nbsp;
          <mat-radio-button color="primary" [value]=2>Equipo</mat-radio-button>
        </mat-radio-group>
      </mat-grid-tile>

    </mat-grid-list>

    <mat-grid-list cols=1 rowHeight="50px" *ngIf="monto_mayor">
      <mat-grid-tile>
        <mat-error>El monto a pagar es mayor a la capacidad de pago</mat-error>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-table [dataSource]="EvaluacionCuotas">

      <ng-container matColumnDef="numero">
        <mat-header-cell *matHeaderCellDef>N°</mat-header-cell>
        <mat-cell *matCellDef="let cuota">{{cuota.numero}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="monto">
        <mat-header-cell *matHeaderCellDef>Monto de la cuota</mat-header-cell>
        <mat-cell *matCellDef="let cuota">{{cuota.monto  | currency:'S/.'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="aporte">
        <mat-header-cell *matHeaderCellDef>Aporte de socio</mat-header-cell>
        <mat-cell *matCellDef="let cuota">{{cuota.aporte  | currency:'S/.'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <mat-header-cell *matHeaderCellDef>Fecha de pago</mat-header-cell>
        <mat-cell *matCellDef="let cuota">{{cuota.fecha | date:'MM/yy'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef>Total a pagar</mat-header-cell>
        <mat-cell *matCellDef="let cuota">{{cuota.total  | currency:'S/.' }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="Columnas"></mat-header-row>
      <mat-row *matRowDef="let row;columns:Columnas"></mat-row>
    </mat-table>

  </mat-card-content>
</mat-card>