<mat-tab-group>
  <!-- <mat-tab label="Documentos"> <app-documentos></app-documentos> </mat-tab> -->
  <mat-tab label="Documento transacción"> <app-documento-transaccion></app-documento-transaccion> </mat-tab>
  <mat-tab label="Documento tarjeta"> <app-documento-tarjeta></app-documento-tarjeta> </mat-tab>
  <mat-tab label="Documento declaración"> <app-documento-declaracion></app-documento-declaracion> </mat-tab>
  <mat-tab label="Documento compromiso"> <app-documento-compromiso></app-documento-compromiso> </mat-tab>
  <mat-tab label="Documento autorización"> <app-documento-autorizacion></app-documento-autorizacion> </mat-tab>
  <mat-tab label="Documento carta"> <app-documento-carta></app-documento-carta> </mat-tab>
  <mat-tab label="Direcciones"> <app-cooperativa-direcciones></app-cooperativa-direcciones> </mat-tab>
</mat-tab-group>