<mat-card>

  <mat-card-title>
    <div id = "tituloProd"> Salida de ventas</div>
  </mat-card-title>
  
  <mat-grid-list cols=4 rowHeight="70px">
      
    <mat-grid-tile>
      <mat-icon>search</mat-icon>
      <mat-form-field>
        <input matInput placeholder="Pecosa" #InputPecosa>
      </mat-form-field>
    </mat-grid-tile>
      
    <mat-grid-tile>
      <mat-icon>search</mat-icon>
      <mat-form-field>
        <input matInput placeholder="Destino" #InputDestino>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-select placeholder="Sucursal" (selectionChange)="CargarData()" #InputSucursal [value]=0>
          <mat-option [value]=0>Todas</mat-option>
          <mat-option *ngFor="let Sucursal of Sucursales" [value]="Sucursal.id" >{{Sucursal.nombre}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-select placeholder="Estado" (selectionChange)="CargarData()" #InputEstado [value]=0>
          <mat-option [value]=0>Todos</mat-option>
          <mat-option [value]=1>Pendiente</mat-option>
          <mat-option [value]=2>Cerrada</mat-option>
          <mat-option [value]=3>Anulada</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-icon>search</mat-icon>
      <mat-form-field>
        <input matInput placeholder="Vendedor" #InputVendedor>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <input matInput [matDatepicker]="fechainicio" placeholder="Fecha de inicio" (dateChange)="CargarData()" [(ngModel)]="fecha_inicio" readonly>
        <mat-datepicker-toggle matSuffix [for]="fechainicio"></mat-datepicker-toggle>
        <mat-datepicker #fechainicio></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <input matInput [matDatepicker]="fechafin" placeholder="Fecha de fin" (dateChange)="CargarData()" [(ngModel)]="fecha_fin" readonly>
        <mat-datepicker-toggle matSuffix [for]="fechafin"></mat-datepicker-toggle>
        <mat-datepicker #fechafin></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <button mat-raised-button [routerLink]="['ingreso']" color="primary"> Agregar </button>
    </mat-grid-tile>

  </mat-grid-list>

  <mat-card-content>

  <div class = "spinner-container" *ngIf = "ListadoSalida.Cargando| async">
    <mat-spinner></mat-spinner>
  </div>

  <mat-table mat-table [dataSource]="ListadoSalida" class="mat-elevation-z8"  matSort
    matSortActive="fecha" matSortDirection="desc" matSortDisableClear>
     
     <ng-container matColumnDef="numero">
       <mat-header-cell *matHeaderCellDef> N° </mat-header-cell>
       <mat-cell *matCellDef="let salida"> {{salida.numero}} </mat-cell>
     </ng-container>
     
     <ng-container matColumnDef="pecosa">
       <mat-header-cell *matHeaderCellDef mat-sort-header> Pecosa</mat-header-cell>
       <mat-cell *matCellDef="let salida"> {{salida.pecosa}} </mat-cell>
     </ng-container>
     
     <ng-container matColumnDef="fecha">
       <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Salida </mat-header-cell>
       <mat-cell *matCellDef="let salida"> {{salida.fecha | date:"dd/MM/yyyy"}} </mat-cell>
     </ng-container>
     
     <ng-container matColumnDef="sucursal">
       <mat-header-cell *matHeaderCellDef mat-sort-header> Sucursal </mat-header-cell>
       <mat-cell *matCellDef="let salida"> {{salida.sucursal}} </mat-cell>
     </ng-container>
     
     <ng-container matColumnDef="destino">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Destino </mat-header-cell>
        <mat-cell *matCellDef="let salida"> {{salida.destino}} </mat-cell>
     </ng-container>
     
     <ng-container matColumnDef="estado">
       <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
       <mat-cell *matCellDef="let salida"> {{salida.estado}} </mat-cell>
     </ng-container>
     
     <ng-container matColumnDef="opciones">
       <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
       <mat-cell *matCellDef="let salida">
         <button matTooltip="Ver" mat-icon-button color="primary" [routerLink]="['ver',salida.id]"><mat-icon>visibility</mat-icon></button>
         <button matTooltip="Editar" mat-icon-button color="primary" [disabled]="salida.id_estado!=1" [routerLink]="['editar',salida.id]"><mat-icon>edit</mat-icon></button>
         <button matTooltip="Hacer rendidicón" mat-icon-button color="primary" [routerLink]="['rendicion',salida.id]" [disabled]="salida.id_estado!=1"><mat-icon>assignment_return </mat-icon></button>
         <button matTooltip="Anular" mat-icon-button color="primary" (click)= "AnularSalida(salida)" [disabled]=" salida.id_estado!=1 || salida.vv>0 "><mat-icon> delete </mat-icon></button>
       </mat-cell>
     </ng-container>
     
     <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
     <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

    <mat-paginator [length]="ListadoSalida.TotalResultados | async" [pageSize]="10" [pageSizeOptions]="[10,15,20]"></mat-paginator>

  </mat-card-content>

  <mat-card-actions>

  </mat-card-actions>


</mat-card>
