<mat-card>
  <!-- Encabezado -->

  <mat-card-title>
    <div id = "tituloProd"> Listado de créditos</div>
  </mat-card-title>

  <!-- Filtros Productos, tipo  Marca Modelo -->
  <mat-grid-list cols= "4" rowHeight="70px">

    <mat-grid-tile>
      <mat-icon>search</mat-icon>
      <mat-form-field>
        <input matInput placeholder="Cliente" #InputCliente>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-icon>search</mat-icon>
      <mat-form-field>
        <mat-select #InputTipo placeholder="Tipo de crédito" (selectionChange)="CambioFiltro()" [value]=0>
          <mat-option [value]=0> Todos </mat-option>
          <mat-option [value]=1> Afiliaciones </mat-option>
          <mat-option [value]=2> Préstamos </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <input matInput [matDatepicker]="inicio" placeholder="Fecha de inicio" [(ngModel)]="fecha_inicio" (dateChange)="CambioFiltro()">
        <mat-datepicker-toggle matSuffix [for]="inicio"></mat-datepicker-toggle>
        <mat-datepicker #inicio disabled="false"></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <input matInput [matDatepicker]="fin" placeholder="Fecha de fin" [(ngModel)]="fecha_fin" (dateChange)="CambioFiltro()">
        <mat-datepicker-toggle matSuffix [for]="fin"></mat-datepicker-toggle>
        <mat-datepicker #fin disabled="false"></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-select #InputDocumentos placeholder="Documentos adjuntos" [value]=0 (selectionChange)="CambioFiltro()">
          <mat-option [value]=0>Todos</mat-option>
          <mat-option [value]=1>Pendientes</mat-option>
          <mat-option [value]=2>Completados</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-select #InputEstado placeholder="Estado del crédito" [value]=1 (selectionChange)="CambioFiltro()">
          <mat-option [value]=0>Todos</mat-option>
          <mat-option [value]=1>Activos</mat-option>
          <mat-option [value]=2>Anulados</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
    </mat-grid-tile>
    
    <mat-grid-tile>
      <button mat-raised-button color="primary" [routerLink]="['nuevo']"> Nuevo </button>
    </mat-grid-tile>

  </mat-grid-list>

  <mat-card-content>

    <div class = "spinner-container" *ngIf = "ListadoCreditos.Cargando| async">
      <mat-spinner></mat-spinner>
    </div>

    <mat-table [dataSource]="ListadoCreditos" class="mat-elevation-z8" matSort matSortActive="fecha" matSortDirection="desc" matSortDisableClear>

      <ng-container matColumnDef="numero">
        <mat-header-cell *matHeaderCellDef> N° </mat-header-cell>
        <mat-cell *matCellDef="let credito"> {{credito.numero}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="codigo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
        <mat-cell *matCellDef="let credito">
          <ng-container *ngIf="credito.id_tipo_credito == 1"> {{credito.codigo}} </ng-container>
          <ng-container *ngIf="credito.id_tipo_credito > 1"> {{credito.codigo}} - {{credito.numero_credito}} </ng-container>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cliente_nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </mat-header-cell>
        <mat-cell *matCellDef="let credito"> {{credito.cliente_nombre}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="tipo_credito">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de crédito </mat-header-cell>
        <mat-cell *matCellDef="let credito"> {{credito.tipo_credito}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="monto_total">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Monto</mat-header-cell>
        <mat-cell *matCellDef="let credito"> {{credito.monto_total | currency:'S/.' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha</mat-header-cell>
        <mat-cell *matCellDef="let credito"> {{credito.fecha | date:'dd/MM/yyyy'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="documentos_adjuntos">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Adjuntos </mat-header-cell>
        <mat-cell *matCellDef="let credito"> {{credito.documentos_adjuntos}} / {{credito.documentos_totales}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="opciones">
        <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
        <mat-cell *matCellDef="let credito">
          <button mat-icon-button color="primary" matTooltip="Ver documento" [routerLink]="['ver', credito.id]"><mat-icon> visibility </mat-icon></button>
          <button mat-icon-button color="primary" matTooltip="Editar" [disabled]="credito.estado==2 || credito.tipo_credito == 'Aporte de socio'" [routerLink]="['editar', credito.id]"><mat-icon> edit </mat-icon></button>
          <!--<button mat-icon-button color="primary" matTooltip="Canjear" [disabled]="venta.estado!=1" [routerLink]="['nueva', venta.id, venta.id_cliente]" *ngIf="venta.tipo_venta!='Salida'"><mat-icon> import_export </mat-icon></button>
          <button mat-icon-button color="primary" matTooltip="Anular" [disabled]="venta.estado!=1" (click)="AnularVenta(venta)" *ngIf="venta.tipo_venta!='Salida'"><mat-icon> delete </mat-icon></button> -->
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="Columnas"></mat-header-row>
      <mat-row *matRowDef="let row; columns: Columnas;"></mat-row>
    </mat-table>

    <mat-paginator [length]="ListadoCreditos.TotalResultados | async" [pageSize]="10" [pageSizeOptions]="[10,15,20]"></mat-paginator>

  </mat-card-content>
</mat-card>
