.spinner-container{
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-column-numero{
	max-width: 10%;
}

.mat-card-header{
  background-color: #673ab7;
  color: #fff;
  padding-top: 20px;
  justify-content: center;
  
}
.card{
  /*padding: 0px;*/
  /*border-radius: 10px 10px;*/
  overflow: hidden;
}

.mat-card-title{
  font-weight: bold;
  align-content: center; 
  font-size: 16px;
}