<mat-card>

  <button mat-mini-fab type="button" color="primary" (click)="Atras()"><mat-icon>keyboard_arrow_left</mat-icon></button>

  <mat-card-title class="tituloProd" *ngIf="!idventa && !idventa_editar">Nueva venta</mat-card-title>
  <mat-card-title class="tituloProd" *ngIf="idventa || idventa_editar">Venta {{talonario}}</mat-card-title>
  
  <mat-card-subtitle *ngIf="venta_canje"> Venta canjeada por la {{talonario}} </mat-card-subtitle>
  <mat-card-subtitle *ngIf="anulacion_observacion"> La venta se anuló porque {{anulacion_observacion}} </mat-card-subtitle>
  <mat-card-subtitle *ngIf="anulacion_monto"> La penalidad fue de {{anulacion_monto}} </mat-card-subtitle>

  <form [formGroup]="VentasForm">

    <div class = "spinner-container" *ngIf = "Cargando| async">
      <mat-spinner></mat-spinner>
    </div>
    
    <!-- Cliente -->
    <div class="seccion">

      <mat-card-subtitle class="titulo-seccion">
        DATOS DEL CLIENTE
      </mat-card-subtitle>

      <mat-grid-list cols="4" rowHeight="70px">

        <mat-grid-tile colspan="2" *ngIf="!(VentasForm.value.id_cliente || idventa || idcliente)">
          <button type="button" mat-icon-button color="primary" (click)="SeleccionarCliente()"> <mat-icon> person_add </mat-icon>  </button>
        </mat-grid-tile>

        <mat-grid-tile colspan="2" *ngIf="VentasForm.value.id_cliente || idventa || idcliente">
          <mat-form-field class="columnas-2">
            <input #Cliente placeholder="Cliente" matInput formControlName="cliente" readonly>
            <mat-icon color="primary" matSuffix (click)="RemoverCliente()" *ngIf="!idcliente && !idventa"> remove_circle </mat-icon>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
             <input matInput placeholder="Cargo" formControlName="cargo" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
             <input matInput placeholder="Centro de Trabajo" formControlName="trabajo" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="2">
          <mat-form-field class="columnas-2">
             <input matInput placeholder="Dirección" formControlName="direccion" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Teléfono" formControlName="telefono" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="!idventa">
          <button type="button" mat-icon-button color="primary" (click)="EditarContactoCliente()"> <mat-icon> edit </mat-icon>  </button>
          <mat-checkbox color="primary" formControlName="garante" (change)="HayGarante($event)">Garante</mat-checkbox>
        </mat-grid-tile>

      </mat-grid-list>
    </div>

    <!-- Garante -->
    <div class="seccion" *ngIf="VentasForm.value.garante">
      
      <mat-card-subtitle class="titulo-seccion">
        DATOS DEL GARANTE
      </mat-card-subtitle>

      <mat-grid-list cols="1" rowHeight="50px" *ngIf="!idventa">
        <mat-grid-tile colspan="1">
          <button mat-mini-fab color="primary" (click)="AgregarGarante(idventa_editar ? true : false)" matTooltip="Agregar aval" type="button" [disabled]="VentasForm['controls'].garantes['controls'].length>1"><mat-icon>add</mat-icon></button>
        </mat-grid-tile>
      </mat-grid-list>

      <div formArrayName="garantes" *ngFor="let garante of VentasForm['controls'].garantes['controls']; let i = index">
                  
        <mat-list *ngIf="i>0">
          <mat-divider></mat-divider>
        </mat-list>

        <div [formGroupName]="i">

          <mat-grid-list cols="4" rowHeight="70px">

            <mat-grid-tile colspan="2" *ngIf="!garante.value.id_cliente">
              <button type="button" mat-icon-button color="primary" (click)="SeleccionarGarante(i)"> <mat-icon> person_add </mat-icon>  </button>
            </mat-grid-tile>

            <mat-grid-tile colspan="2" *ngIf="garante.value.id_cliente">
              <mat-form-field class="columnas-2">
                <input matInput placeholder="Garante" formControlName="nombre" readonly>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="2">
              <button *ngIf="!idventa" type="button" mat-icon-button color="primary" (click)="EliminarGarante(i)" [disabled]="VentasForm['controls'].garantes['controls'].length<2"> <mat-icon> delete </mat-icon>  </button>
            </mat-grid-tile>

            <mat-grid-tile colspan="2" *ngIf="garante.value.id_cliente">
              <mat-form-field class="columnas-2">
                <input matInput placeholder="Dirección" formControlName="direccion" readonly>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" *ngIf="garante.value.id_cliente">
              <mat-form-field class="columnas-1">
                <input matInput placeholder="Teléfono" formControlName="telefono" readonly>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" *ngIf="garante.value.id_cliente">
              <button *ngIf="!idventa" type="button" mat-icon-button color="primary" (click)="EditarContactoGarante(garante.value.id_cliente, i)"> <mat-icon> edit </mat-icon>  </button>
            </mat-grid-tile>

          </mat-grid-list>

          <mat-grid-list cols="5" rowHeight="70px" *ngIf="!idventa && !idventa_editar">

            <mat-grid-tile>
              <image-upload
                class="cargar-imagen"
                [max]="1"
                url="{{ruta}}"
                [buttonCaption]="'DNI'"
                [extensions]="['png, jpg, jpeg']"
                [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
                (uploadFinished)="SubirDNIAval($event, i)">
              </image-upload>  
            </mat-grid-tile>

            <mat-grid-tile>
              <image-upload
                class="cargar-imagen"
                [max]="1"
                url="{{ruta}}"
                [buttonCaption]="'CIP'"
                [extensions]="['png, jpg, jpeg']"
                [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
                (uploadFinished)="SubirCIPAval($event, i)">
              </image-upload>  
            </mat-grid-tile>

            <mat-grid-tile>
              <image-upload
                class="cargar-imagen"
                [max]="1"
                url="{{ruta}}"
                [buttonCaption]="'Planilla'"
                [extensions]="['png, jpg, jpeg']"
                [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
                (uploadFinished)="SubirPlanillaAval($event, i)">
              </image-upload>  
            </mat-grid-tile>

            <mat-grid-tile>
              <image-upload
                class="cargar-imagen"
                [max]="1"
                url="{{ruta}}"
                [buttonCaption]="'Letra'"
                [extensions]="['png, jpg, jpeg']"
                [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
                (uploadFinished)="SubirLetraAval($event, i)">
              </image-upload>  
            </mat-grid-tile>

            <mat-grid-tile>
              <image-upload
                class="cargar-imagen"
                [max]="1"
                url="{{ruta}}"
                [buttonCaption]="'Transaccion'"
                [extensions]="['png, jpg, jpeg']"
                [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
                (uploadFinished)="SubirTransaccionAval($event, i)">
              </image-upload>  
            </mat-grid-tile>

          </mat-grid-list>

          <mat-grid-list cols=5 rowHeight="60px" *ngIf="idventa_editar">

            <mat-grid-tile>
              <button mat-icon-button color="primary" (click)="garante.get('dni_editar').setValue(true)" [disabled]="!garante.value.dni_pdf" *ngIf="!garante.value.dni_editar">
                <mat-icon class="icono-documentos"> edit </mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="garante.get('dni_editar').setValue(false)" [disabled]="!garante.value.dni_pdf" *ngIf="garante.value.dni_editar">
                <mat-icon class="icono-documentos"> close </mat-icon>
              </button>
            </mat-grid-tile>
    
            <mat-grid-tile>
              <button mat-icon-button color="primary" (click)="garante.get('cip_editar').setValue(true)" [disabled]="!garante.value.cip_pdf" *ngIf="!garante.value.cip_editar">
                <mat-icon class="icono-documentos"> edit </mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="garante.get('cip_editar').setValue(false)" [disabled]="!garante.value.cip_pdf" *ngIf="garante.value.cip_editar">
                <mat-icon class="icono-documentos"> close </mat-icon>
              </button>
            </mat-grid-tile>
    
            <mat-grid-tile>
              <button mat-icon-button color="primary" (click)="garante.get('planilla_editar').setValue(true)" [disabled]="!garante.value.planilla_pdf" *ngIf="!garante.value.planilla_editar">
                <mat-icon class="icono-documentos"> edit </mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="garante.get('planilla_editar').setValue(false)" [disabled]="!garante.value.planilla_pdf" *ngIf="garante.value.planilla_editar">
                <mat-icon class="icono-documentos"> close </mat-icon>
              </button>
            </mat-grid-tile>
    
            <mat-grid-tile>
              <button mat-icon-button color="primary" (click)="garante.get('letra_editar').setValue(true)" [disabled]="!garante.value.letra_pdf" *ngIf="!garante.value.letra_editar">
                <mat-icon class="icono-documentos"> edit </mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="garante.get('letra_editar').setValue(false)" [disabled]="!garante.value.letra_pdf" *ngIf="garante.value.letra_editar">
                <mat-icon class="icono-documentos"> close </mat-icon>
              </button>
            </mat-grid-tile>
    
            <mat-grid-tile>
              <button mat-icon-button color="primary" (click)="garante.get('transaccion_editar').setValue(true)" [disabled]="!garante.value.transaccion_pdf" *ngIf="!garante.value.transaccion_editar">
                <mat-icon class="icono-documentos"> edit </mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="garante.get('transaccion_editar').setValue(false)" [disabled]="!garante.value.transaccion_pdf" *ngIf="garante.value.transaccion_editar">
                <mat-icon class="icono-documentos"> close </mat-icon>
              </button>
            </mat-grid-tile>

          </mat-grid-list>

          <mat-grid-list cols=5 rowHeight="20px" *ngIf="idventa || idventa_editar">
            <mat-grid-tile>
              DNI
            </mat-grid-tile>
    
            <mat-grid-tile>
              CIP
            </mat-grid-tile>
    
            <mat-grid-tile>
              Planilla
            </mat-grid-tile>
    
            <mat-grid-tile>
              Letra
            </mat-grid-tile>
    
            <mat-grid-tile>
              Transaccion
            </mat-grid-tile>
    
          </mat-grid-list>
    
          <mat-grid-list cols=5 rowHeight="60px" *ngIf="idventa || idventa_editar">
    
            <mat-grid-tile>
    
              <button mat-icon-button color="primary" [disabled]="!garante.value.dni_pdf" *ngIf="!garante.value.dni_editar">
                <mat-icon class="icono-documentos" (click)="AbrirDocumento(garante.value.dni_pdf)"> visibility </mat-icon>
              </button>

              <image-upload *ngIf="garante.value.dni_editar"
                class="cargar-imagen"
                [max]="1"
                url="{{ruta}}"
                [buttonCaption]="'DNI'"
                [extensions]="['png, jpg, jpeg']"
                [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
                (uploadFinished)="SubirDNIAval($event, i)">
              </image-upload>  

            </mat-grid-tile>
    
            <mat-grid-tile>
    
              <button mat-icon-button color="primary" [disabled]="!garante.value.cip_pdf" *ngIf="!garante.value.cip_editar">
                <mat-icon class="icono-documentos" (click)="AbrirDocumento(garante.value.cip_pdf)"> visibility </mat-icon>
              </button>

              <image-upload *ngIf="garante.value.cip_editar"
                class="cargar-imagen"
                [max]="1"
                url="{{ruta}}"
                [buttonCaption]="'CIP'"
                [extensions]="['png, jpg, jpeg']"
                [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
                (uploadFinished)="SubirCIPAval($event, i)">
              </image-upload>  

            </mat-grid-tile>
    
            <mat-grid-tile>
    
              <button mat-icon-button color="primary" [disabled]="!garante.value.planilla_pdf" *ngIf="!garante.value.planilla_editar">
                <mat-icon class="icono-documentos" (click)="AbrirDocumento(garante.value.planilla_pdf)"> visibility </mat-icon>
              </button>

              <image-upload *ngIf="garante.value.planilla_editar"
                class="cargar-imagen"
                [max]="1"
                url="{{ruta}}"
                [buttonCaption]="'DNI'"
                [extensions]="['png, jpg, jpeg']"
                [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
                (uploadFinished)="SubirPlanillaAval($event, i)">
              </image-upload>  

            </mat-grid-tile>
    
            <mat-grid-tile>
    
              <button mat-icon-button color="primary" [disabled]="!garante.value.letra_pdf" *ngIf="!garante.value.letra_editar">
                <mat-icon class="icono-documentos" (click)="AbrirDocumento(garante.value.letra_pdf)"> visibility </mat-icon>
              </button>

              <image-upload *ngIf="garante.value.letra_editar"
                class="cargar-imagen"
                [max]="1"
                url="{{ruta}}"
                [buttonCaption]="'Letra'"
                [extensions]="['png, jpg, jpeg']"
                [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
                (uploadFinished)="SubirLetraAval($event, i)">
              </image-upload>  

            </mat-grid-tile>
    
            <mat-grid-tile>
    
              <button mat-icon-button color="primary" [disabled]="!garante.value.transaccion_pdf" *ngIf="!garante.value.transaccion_editar">
                <mat-icon class="icono-documentos" (click)="AbrirDocumento(garante.value.transaccion_pdf)"> visibility </mat-icon>
              </button>

              <image-upload *ngIf="garante.value.transaccion_editar"
                class="cargar-imagen"
                [max]="1"
                url="{{ruta}}"
                [buttonCaption]="'Transacción'"
                [extensions]="['png, jpg, jpeg']"
                [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
                (uploadFinished)="SubirTransaccionAval($event, i)">
              </image-upload>  

            </mat-grid-tile>

          </mat-grid-list>

        </div>
      </div>

    </div>

    <!-- Venta -->
    <div class="seccion">

      <mat-card-subtitle class="titulo-seccion">
        DATOS DE LA VENTA
      </mat-card-subtitle>

      <mat-grid-list cols="4" rowHeight="70px">

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
             <input matInput [matDatepicker]="picker" placeholder="Fecha de venta" formControlName="fechaventa" (dateChange)="CrearCronograma()" readonly>
             <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
             <mat-datepicker #picker [disabled]="idventa"></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="!idventa">
          <mat-form-field class="columnas-1">
            <mat-select placeholder="Sucursal" formControlName="sucursal" (selectionChange)="SucursalSeleccionada($event)">
              <mat-option *ngFor="let sucursal of Sucursales" [value]="sucursal.id">{{sucursal.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="idventa">
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Sucursal" formControlName="sucursal" [readonly]="idventa">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="!idventa">
          <mat-form-field class="columnas-1">
            <mat-select placeholder='Talonario' formControlName="talonario" (selectionChange)="SerieSeleccionada($event)">
              <mat-option *ngFor="let talonarioserie of LstSeries" [value] = "talonarioserie.serie"> {{talonarioserie.serie}} </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="idventa">
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Talonario" formControlName="talonario" [readonly]="idventa">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="!idventa">
          <mat-form-field class="columnas-1">
            <mat-select placeholder='Contrato' formControlName="contrato">
              <mat-option *ngFor="let contrato of LstContrato" [value] = "contrato.id"> {{contrato.numero}} </mat-option>
            </mat-select>
         </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="idventa">
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Contrato" formControlName="contrato" [readonly]="idventa">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan=2 *ngIf="!idventa && !VentasForm.value.id_vendedor">
          <mat-form-field class="columnas-2">
            <input placeholder="Vendedor" matInput [matAutocomplete]="auto" formControlName=vendedor #Vendedor>
            <mat-autocomplete #auto="matAutocomplete" [displayWith] = "displayVendedor" (optionSelected)="VendedorSeleccionado()">
              <mat-option *ngFor="let vendedor of LstVendedor" [value]="vendedor">
                {{vendedor.nombre}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan=2 *ngIf="idventa || VentasForm.value.id_vendedor">
          <mat-form-field class="columnas-2">
            <input matInput type="text" placeholder="Vendedor" formControlName="vendedor" readonly #Vendedor>
            <mat-icon color="primary" matSuffix (click)="RemoverVendedor()" *ngIf="!idventa && !hay_presupuesto_vendedor"> remove_circle </mat-icon>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan=2 *ngIf="!idventa && !VentasForm.value.id_autorizador">
          <mat-form-field class="columnas-2">
            <input placeholder="Autorizador" matInput [matAutocomplete]="auto3" formControlName=autorizador #Autorizador>
            <mat-autocomplete #auto3="matAutocomplete" [displayWith] = "displayVendedor" (optionSelected)="AutorizadorSeleccionado()">
              <mat-option *ngFor="let autorizador of LstVendedor3" [value]="autorizador">
                {{autorizador.nombre}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan=2 *ngIf="idventa || VentasForm.value.id_autorizador">
          <mat-form-field class="columnas-2">
            <input matInput type="text" placeholder="Autorizador" formControlName="autorizador" readonly #Autorizador>
            <mat-icon color="primary" matSuffix (click)="RemoverAutorizador()" *ngIf="!idventa"> remove_circle </mat-icon>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="3">
          <mat-form-field class="columnas-3">
             <input matInput placeholder="Observaciones" formControlName="observaciones" [readonly]="idventa">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="!idventa">
          <mat-checkbox color="primary" formControlName="papeles" (change)="HayPapeles($event)"> No tiene sus documentos </mat-checkbox>
        </mat-grid-tile>

      </mat-grid-list>
    </div>

    <!-- Seguimiento de documentos -->
    <div class="seccion" *ngIf="VentasForm.value.papeles">
      
      <mat-card-subtitle class="titulo-seccion">
        DATOS DE SEGUIMIENTO
      </mat-card-subtitle>

      <mat-grid-list cols="4" rowHeight="70px">

        <mat-grid-tile colspan="1">
          <mat-form-field>
            <input matInput [matDatepicker]="fechaenvio" placeholder="Fecha de envío" formControlName="papeles_fecha_envio" [readonly]="idventa">
            <mat-datepicker-toggle matSuffix [for]="fechaenvio"></mat-datepicker-toggle>
            <mat-datepicker #fechaenvio [disabled]="idventa"></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 *ngIf="!idventa">
          <mat-form-field>
            <mat-select placeholder="Courier" formControlName="papeles_courier">
              <mat-option *ngFor="let courier of Couriers" [value]="courier.id"> {{courier.nombre}} </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 *ngIf="idventa">
          <mat-form-field>
            <input matInput type="text" placeholder="Courier" formControlName="papeles_courier">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan=1>
          <mat-form-field>
            <input matInput type="text" placeholder="Número de seguimiento" formControlName="papeles_seguimiento" [readonly]="idventa">
          </mat-form-field>
        </mat-grid-tile>

        <ng-container *ngIf="!idventa">

          <mat-grid-tile colspan=1>

            <button mat-icon-button color="primary" (click)="papeles_editar = true" [disabled]="!papeles" *ngIf="!papeles_editar">
              <mat-icon class="icono-documentos"> edit </mat-icon>
            </button>

            <button mat-icon-button color="primary" (click)="papeles_editar = false" [disabled]="!papeles" *ngIf="papeles_editar && idventa_editar">
              <mat-icon class="icono-documentos"> close </mat-icon>
            </button>

            <button mat-icon-button color="primary" [disabled]="!papeles" *ngIf="!papeles_editar">
              <mat-icon class="icono-documentos" (click)="AbrirDocumento(papeles)"> visibility </mat-icon>
            </button>

            <image-upload
              *ngIf="papeles_editar"
              class="cargar-imagen"
              [max]="1"
              url="{{ruta}}"
              [buttonCaption]="'Foto'"
              [extensions]="['png, jpg, jpeg']"
              [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
              (uploadFinished)="SubirPapeles($event)">
            </image-upload>  
          </mat-grid-tile>

        </ng-container>

        <ng-container *ngIf="idventa">
          <mat-grid-tile>
            <button mat-icon-button color="primary" [disabled]="!papeles">
              <mat-icon class="icono-documentos" (click)="AbrirDocumento(papeles)"> visibility </mat-icon>
            </button>
          </mat-grid-tile>
        </ng-container>

        <mat-grid-tile colspan=4>
          <mat-form-field class="columnas-4">
            <input matInput type="text" placeholder="Observaciones" formControlName="papeles_observaciones" [readonly]="idventa">
          </mat-form-field>
        </mat-grid-tile>
        
      </mat-grid-list>

    </div>

    <!-- Productos -->
    <div class="seccion">

      <mat-card-subtitle class="titulo-seccion">
        PRODUCTOS
      </mat-card-subtitle>

      <mat-grid-list cols="4" rowHeight="50px" *ngIf="!idventa && !id_presupuesto">
        <mat-grid-tile colspan="4">
          <button mat-mini-fab color="primary" (click)="AgregarProducto()" matTooltip="Agregar productos" type="button" [disabled]="!this.sucursal"><mat-icon>add</mat-icon></button>
        </mat-grid-tile>
      </mat-grid-list>

      <ng-container *ngIf="this.sucursal && !idventa && !id_presupuesto">
        <div formArrayName="productos" *ngFor="let producto of VentasForm['controls'].productos['controls']; let i = index">
          <div [formGroupName]="i">

            <mat-grid-list cols="5" rowHeight="70px">

              <mat-grid-tile colspan="2" *ngIf="!producto.value.id_producto">
                <mat-form-field class="columnas-2">
                  <input matInput placeholder="Producto" [matAutocomplete]="autoproducto" #InputProducto>
                  <mat-autocomplete #autoproducto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="ProductoSeleccionado(producto,$event)">
                    <mat-option *ngFor="let producto of Producto" [value]="producto">
                      {{producto.nombre}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile colspan="2" *ngIf="producto.value.id_producto">
                <mat-form-field class="columnas-2">
                   <input matInput placeholder="Producto" formControlName="descripcion" readonly>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile *ngIf="!producto.value.id_serie">
                <button mat-icon-button color="primary" type="button" matTooltip="Seleccionar serie" (click)="SeleccionarSerie(producto)" [disabled]="!producto.value.id_producto"><mat-icon>search</mat-icon></button>
              </mat-grid-tile>

              <mat-grid-tile *ngIf="producto.value.id_serie">
                <mat-form-field class="columnas-1">
                   <input matInput placeholder="IMEI" formControlName="serie" readonly>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-form-field class="columnas-1">
                  <input matInput placeholder="Precio" formControlName="precio" #InputPrecio>
                  <mat-error>Solo puede ingresar números</mat-error>
                  <span matPrefix>S/ &nbsp;</span>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <button  mat-icon-button type="button" color="primary" class="boton" matTooltip="Eliminar producto" (click)="EliminarProductos(i,producto)" [disabled]="VentasForm['controls'].productos['controls'].length==1"><mat-icon>delete</mat-icon></button>
              </mat-grid-tile>

            </mat-grid-list>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="idventa || id_presupuesto">
        <mat-grid-list cols="5" rowHeight="70px" *ngFor="let producto of ProductosComprados">

          <mat-grid-tile colspan="2">
            <mat-form-field class="columnas-2">
               <input matInput placeholder="Producto" [value]="producto.nombre" readonly>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="2">
            <mat-form-field class="columnas-2">
               <input matInput placeholder="IMEI" [value]="producto.serie" readonly>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="columnas-1">
              <input matInput placeholder="Precio" [value]="producto.precio" readonly>
              <span matPrefix>S/ &nbsp;</span>
            </mat-form-field>
          </mat-grid-tile>

        </mat-grid-list>
      </ng-container>
    </div>

    <!-- Documento -->
    <div class="seccion">

      <mat-card-subtitle class="titulo-seccion">
        DATOS DEL DOCUMENTO
      </mat-card-subtitle>

      <mat-grid-list cols="4" rowHeight="70px">

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
             <input matInput [matDatepicker]="InputFechaPago" placeholder="Inicio de pagos" [min]="VentasForm.value.fechaventa" formControlName="fechapago" (dateChange)="CrearCronograma()" readonly>
             <mat-datepicker-toggle matSuffix [for]="InputFechaPago"></mat-datepicker-toggle>
             <mat-datepicker #InputFechaPago [disabled]="idventa || id_presupuesto"></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="!idventa">
          <mat-form-field class="columnas-1">
            <mat-select placeholder='Tipo de pago' formControlName="tipopago" (selectionChange)="TipoPagoSeleccionado()">
              <mat-option *ngFor="let tipopago of LstTipoPago" [value] = "tipopago.id"> {{tipopago.nombre}} </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="idventa">
          <mat-form-field class="columnas-1">
            <input matInput type="text" placeholder="Tipo de pago" formControlName="tipopago" [readonly]="idventa">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Cuota inicial" formControlName="inicial" #InputInicial [readonly]="idventa || id_presupuesto">
            <mat-error>Solo debe ingresar valores númericos</mat-error>
            <span matPrefix>S/ &nbsp;</span>
            <mat-hint *ngIf="monto_inicial_canje">Se dejó a cuenta S/. {{monto_inicial_canje}}</mat-hint>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput placeholder="N° de cuotas" maxlength=3 formControlName="cuotas" #InputCuota [readonly]="idventa || id_presupuesto">
            <mat-error>Solo debe ingresar valores númericos</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Monto total" formControlName="montototal" [readonly]="id_presupuesto">
            <span matPrefix>S/ &nbsp;</span>
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>
    </div>

    <!-- Adjuntos -->
    <div class="seccion">
 
      <mat-card-subtitle class="titulo-seccion">
        DOCUMENTOS ADJUNTOS
      </mat-card-subtitle>

      <mat-grid-list cols=9 rowHeight="100px" *ngIf="!idventa && !idventa_editar">

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Foto'"
            [extensions]="['png, jpg, jpeg']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirFoto($event)">
          </image-upload>  
        </mat-grid-tile>

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'DNI'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirDNI($event)">
          </image-upload>  
        </mat-grid-tile>

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'CIP'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirCIP($event)">
          </image-upload>  
        </mat-grid-tile>

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Contrato'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirContrato($event)">
          </image-upload>  
        </mat-grid-tile>

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Transacción'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirTransaccion($event)">
          </image-upload>  
        </mat-grid-tile>

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Planilla'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirPlanilla($event)">
          </image-upload>  
        </mat-grid-tile>

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Letra'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirLetra($event)">
          </image-upload>  
        </mat-grid-tile>

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Autorización'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirAutorizacion($event)">
          </image-upload>  
        </mat-grid-tile>

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Otros'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirOtros($event)">
          </image-upload>  
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols=9 rowHeight="60px" *ngIf="idventa_editar">

        <mat-grid-tile>
          <button mat-icon-button color="primary" (click)="EditarFoto()" [disabled]="!foto" *ngIf="!foto_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="NoEditarFoto()" [disabled]="!foto" *ngIf="foto_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-icon-button color="primary" (click)="EditarDni()" [disabled]="!dni" *ngIf="!dni_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="NoEditarDni()" [disabled]="!dni" *ngIf="dni_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-icon-button color="primary" (click)="EditarCip()" [disabled]="!cip" *ngIf="!cip_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="NoEditarCip()" [disabled]="!cip" *ngIf="cip_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-icon-button color="primary" (click)="EditarContrato()" [disabled]="!contrato" *ngIf="!contrato_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="NoEditarContrato()" [disabled]="!contrato" *ngIf="contrato_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-icon-button color="primary" (click)="EditarTransaccion()" [disabled]="!transaccion" *ngIf="!transaccion_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="NoEditarTransaccion()" [disabled]="!transaccion" *ngIf="transaccion_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-icon-button color="primary" (click)="EditarPlanilla()" [disabled]="!planilla" *ngIf="!planilla_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="NoEditarPlanilla()" [disabled]="!planilla" *ngIf="planilla_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-icon-button color="primary" (click)="EditarEditar()" [disabled]="!letra" *ngIf="!letra_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="NoEditarEditar()" [disabled]="!letra" *ngIf="letra_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-icon-button color="primary"  (click)="EditarAutorizacion()" [disabled]="!autorizacion" *ngIf="!autorizacion_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary"  (click)="NoEditarAutorizacion()" [disabled]="!autorizacion" *ngIf="autorizacion_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-icon-button color="primary"  (click)="EditarOtros()" [disabled]="!otros" *ngIf="!otros_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary"  (click)="NoEditarOtros()" [disabled]="!otros" *ngIf="otros_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols=9 rowHeight="20px" *ngIf="idventa || idventa_editar">

        <mat-grid-tile>
          Foto
        </mat-grid-tile>

        <mat-grid-tile>
          DNI
        </mat-grid-tile>

        <mat-grid-tile>
          CIP
        </mat-grid-tile>

        <mat-grid-tile>
          Contrato
        </mat-grid-tile>

        <mat-grid-tile>
          Transacción
        </mat-grid-tile>

        <mat-grid-tile>
          Planilla
        </mat-grid-tile>

        <mat-grid-tile>
          Letra
        </mat-grid-tile>

        <mat-grid-tile>
          Autorización
        </mat-grid-tile>

        <mat-grid-tile>
          Otros
        </mat-grid-tile>

      </mat-grid-list>

      <mat-grid-list cols=9 rowHeight="60px" *ngIf="idventa || idventa_editar">

        <mat-grid-tile>

          <button mat-icon-button color="primary" [disabled]="!foto" *ngIf="!foto_editar">
            <mat-icon class="icono-documentos" (click)="AbrirDocumento(foto)"> visibility </mat-icon>
          </button>

          <image-upload  *ngIf="foto_editar"
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Adjuntar'"
            [extensions]="['png, jpg, jpeg']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirFoto($event)">
          </image-upload>  

        </mat-grid-tile>

        <mat-grid-tile>

          <button mat-icon-button color="primary" [disabled]="!dni"  *ngIf="!dni_editar">
            <mat-icon class="icono-documentos" (click)="AbrirDocumento(dni)"> visibility </mat-icon>
          </button>

          <image-upload  *ngIf="dni_editar"
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Adjuntar'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirDNI($event)">
          </image-upload>  

        </mat-grid-tile>

        <mat-grid-tile>

          <button mat-icon-button color="primary" [disabled]="!cip" *ngIf="!cip_editar">
            <mat-icon class="icono-documentos" (click)="AbrirDocumento(cip)"> visibility </mat-icon>
          </button>

          <image-upload *ngIf="cip_editar"
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Adjuntar'"
            [dropBoxMessage]="'o arrastrelo'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirCIP($event)">
          </image-upload>  

        </mat-grid-tile>

        <mat-grid-tile>

          <button mat-icon-button color="primary" [disabled]="!contrato" *ngIf="!contrato_editar">
            <mat-icon class="icono-documentos" (click)="AbrirDocumento(contrato)"> visibility </mat-icon>
          </button>

          <image-upload *ngIf="contrato_editar"
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Adjuntar'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirContrato($event)">
          </image-upload>

        </mat-grid-tile>

        <mat-grid-tile>

          <button mat-icon-button color="primary" [disabled]="!transaccion" *ngIf="!transaccion_editar">
            <mat-icon class="icono-documentos" (click)="AbrirDocumento(transaccion)"> visibility </mat-icon>
          </button>

          <image-upload *ngIf="transaccion_editar"
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Adjuntar'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirTransaccion($event)">
          </image-upload>  

        </mat-grid-tile>

        <mat-grid-tile>

          <button mat-icon-button color="primary" [disabled]="!planilla" *ngIf="!planilla_editar">
            <mat-icon class="icono-documentos" (click)="AbrirDocumento(planilla)"> visibility </mat-icon>
          </button> 

          <image-upload *ngIf="planilla_editar"
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Adjuntar'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirPlanilla($event)">
          </image-upload>  

        </mat-grid-tile>

        <mat-grid-tile>

          <button mat-icon-button color="primary" [disabled]="!letra" *ngIf="!letra_editar">
            <mat-icon class="icono-documentos" (click)="AbrirDocumento(letra)"> visibility </mat-icon>
          </button>

          <image-upload *ngIf="letra_editar"
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Adjuntar'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirLetra($event)">
          </image-upload>  

        </mat-grid-tile>

        <mat-grid-tile>

          <button mat-icon-button color="primary" [disabled]="!autorizacion" *ngIf="!autorizacion_editar">
            <mat-icon class="icono-documentos" (click)="AbrirDocumento(autorizacion)"> visibility </mat-icon>
          </button>

          <image-upload
            class="cargar-imagen" *ngIf="autorizacion_editar"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Adjuntar'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirAutorizacion($event)">
          </image-upload>

        </mat-grid-tile>

        <mat-grid-tile>

          <button mat-icon-button color="primary" [disabled]="!otros" *ngIf="!otros_editar">
            <mat-icon class="icono-documentos" (click)="AbrirDocumento(otros)"> visibility </mat-icon>
          </button>

          <image-upload
            class="cargar-imagen" *ngIf="otros_editar"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Adjuntar'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirOtros($event)">
          </image-upload>

        </mat-grid-tile>
      </mat-grid-list>

    </div>

    <!-- Cronograma -->
    <div class="seccion">

      <mat-card-subtitle class="titulo-seccion">
        CRONOGRAMA
        <ng-container *ngIf="!idventa && !id_presupuesto">
          <button mat-icon-button class="icono" *ngIf="editar_cronograma>1" (click)="EditarCronograma(1)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button class="icono" *ngIf="editar_cronograma==1" (click)="EditarCronograma(2)"><mat-icon>check</mat-icon></button>
        </ng-container>
        
      </mat-card-subtitle>

      <ng-container>
        <mat-table [dataSource]="ListadoVentas" class="mat-elevation-z8" matSort matSortActive="fecha_vencimiento" matSortDirection="asc" matSortDisableClear>

          <ng-container matColumnDef="numero">
            <mat-header-cell *matHeaderCellDef> N° </mat-header-cell>
            <mat-cell *matCellDef="let cronograma"> {{cronograma.numero}} </mat-cell>
          </ng-container>

          <!-- Sin el sort -->
          <ng-container matColumnDef="monto_cuota_ver">
            <mat-header-cell *matHeaderCellDef> Monto </mat-header-cell>
            <mat-cell *matCellDef="let cronograma">

              <ng-container *ngIf="editar_cronograma>1 || cronograma.numero==0">
                {{ cronograma.monto_cuota | currency:'S/.' }}
              </ng-container>
              <ng-container *ngIf="editar_cronograma==1 && cronograma.numero>0">
                <input type="text" [(ngModel)]="cronograma.monto_cuota" [ngModelOptions]="{standalone: true}">
              </ng-container>

            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fecha_vencimiento_ver">
            <mat-header-cell *matHeaderCellDef> Vencimiento </mat-header-cell>
            <mat-cell *matCellDef="let cronograma">
              {{ cronograma.fecha_vencimiento | date: 'dd/MM/yyyy' }}
            </mat-cell>
          </ng-container>

          <!-- Con el sort -->

          <ng-container matColumnDef="monto_cuota">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Monto </mat-header-cell>
            <mat-cell *matCellDef="let cronograma"> {{cronograma.monto_cuota | currency:'S/.' }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fecha_vencimiento">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Vencimiento </mat-header-cell>
            <mat-cell *matCellDef="let cronograma"> {{cronograma.fecha_vencimiento | date: 'dd/MM/yyyy'}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="monto_interes">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Interés </mat-header-cell>
            <mat-cell *matCellDef="let cronograma"> {{cronograma.monto_interes | currency:'S/.'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="monto_pagado">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Total pagado </mat-header-cell>
            <mat-cell *matCellDef="let cronograma"> {{cronograma.monto_pagado | currency:'S/.'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="fecha_cancelacion">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de cancelación </mat-header-cell>
            <mat-cell *matCellDef="let cronograma"> {{cronograma.fecha_cancelacion | date: 'dd/MM/yyyy'}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="monto_pendiente">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Pendiente de pago </mat-header-cell>
            <mat-cell *matCellDef="let cronograma"> {{cronograma.monto_pendiente | currency:'S/.'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="estado">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
            <mat-cell *matCellDef="let cronograma"> {{cronograma.estado==1 ? "Por pagar" : "Pagado" }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="opciones">
            <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
            <mat-cell *matCellDef="let cronograma">
              <button mat-icon-button color="primary" [disabled]="cronograma.monto_pagado==0" (click)="VerDetallePagos(cronograma)"> <mat-icon> visibility </mat-icon> </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="Columnas"></mat-header-row>
          <mat-row *matRowDef="let row; columns: Columnas;"></mat-row>

        </mat-table>
      </ng-container>

      <mat-error class="error-monto" *ngIf="diferencia>0.05  && editar_cronograma<3">
        Las cuotas deben sumar {{VentasForm.value.montototal}}. {{ VentasForm.value.montototal>this.total_cronograma_editado ? 'Falta:' : 'Excede en:' }} {{diferencia}}.
      </mat-error>

    </div>

    <mat-card-actions *ngIf="!idventa">
      <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
          <button mat-raised-button color="primary"
          (click)="Guardar(VentasForm)"
          [disabled]="VentasForm.invalid || 
                      editar_cronograma==1 ||
                      diferencia>0.2 "
          > Guardar </button>
          <!-- <button mat-raised-button type="button" (click)="ImprimirFormulario()"> print </button> -->
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-actions>

  </form>
</mat-card>