<mat-card>

  <button mat-mini-fab type="button" color="primary" (click)="Atras()"><mat-icon>keyboard_arrow_left</mat-icon></button>

  <mat-card-title class="tituloProd">Ventas</mat-card-title>
  
  <form [formGroup]="VentasForm">
    
    <div class="seccion">

      <mat-card-subtitle>
        Datos del cliente
      </mat-card-subtitle>

      <mat-grid-list cols="4" rowHeight="70px">

        <mat-grid-tile colspan="2">
          <mat-form-field class="columnas-2">
            <input #Cliente placeholder="Cliente" matInput [matAutocomplete]="auto2" formControlName="cliente" readonly>
            <mat-autocomplete #auto2="matAutocomplete" [displayWith] = "displayCliente" (optionSelected)="ClienteSeleccionado($event)">
              <mat-option *ngFor="let cliente of LstCliente" [value]="cliente">
                {{cliente.nombre}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
             <input matInput placeholder="Cargo" formControlName="cargo" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
             <input matInput placeholder="Centro de Trabajo" formControlName="trabajo" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="2">
          <mat-form-field class="columnas-2">
             <input matInput placeholder="Domicilio" formControlName="domicilio" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Teléfono" formControlName="telefono" readonly>
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>

    </div>

    <div class="seccion">

      <mat-card-subtitle>
        Datos de la venta
      </mat-card-subtitle>

      <mat-grid-list cols="4" rowHeight="70px">

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
             <input matInput [matDatepicker]="picker" placeholder="Fecha de venta" formControlName="fechaventa" [readonly]="idventa">
             <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
             <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <mat-select placeholder="Sucursal" formControlName="sucursal" (selectionChange)="SucursalSeleccionada($event)">
              <mat-option *ngFor="let sucursal of Sucursales" [value]="sucursal.id">{{sucursal.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <mat-select placeholder='Talonario' formControlName="talonario" (selectionChange)="SerieSeleccionada($event)">
              <mat-option *ngFor="let talonarioserie of LstSeries" [value] = "talonarioserie.serie"> {{talonarioserie.serie}} </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <mat-select placeholder='Contrato' formControlName="contrato">
              <mat-option *ngFor="let contrato of LstContrato" [value] = "contrato.id"> {{contrato.numero}} </mat-option>
            </mat-select>
         </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan=2>
          <mat-form-field class="columnas-2">
            <input placeholder="Vendedor" matInput [matAutocomplete]="auto" formControlName= vendedor #Vendedor [readonly]="idventa">
            <mat-autocomplete #auto="matAutocomplete" [displayWith] = "displayVendedor">
              <mat-option *ngFor="let vendedor of LstVendedor " [value]="vendedor">
                {{vendedor.nombre}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan=2>
          <mat-form-field class="columnas-2">
            <mat-select placeholder="Autorizador" formControlName="autorizador">
              <mat-option *ngFor="let autorizador of Autorizador" [value]="autorizador.id">{{autorizador.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan=2>
          <mat-form-field class="columnas-2">
            <input matInput placeholder="Lugar de Venta" formControlName="lugar" [readonly]="idventa">
          </mat-form-field>
        </mat-grid-tile> 

      </mat-grid-list>
    </div>

    <div class="seccion">

      <mat-card-subtitle>
        Datos del documento
      </mat-card-subtitle>

      <mat-grid-list cols="4" rowHeight="70px">

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
             <input matInput [matDatepicker]="InputFechaPago" placeholder="Inicio de pagos" [min]="VentasForm.value.fechaventa" formControlName="fechapago" (dateChange)="CrearCronograma()">
             <mat-datepicker-toggle matSuffix [for]="InputFechaPago"></mat-datepicker-toggle>
             <mat-datepicker #InputFechaPago></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <mat-select placeholder='Tipo de pago' formControlName="tipopago">
              <mat-option *ngFor="let tipopago of LstTipoPago" [value] = "tipopago.id"> {{tipopago.nombre}} </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

<!--         <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Monto total"  formControlName="montototal" #InputMontoTotal [readonly]="idventa">
            <mat-error>Solo debe ingresar valores númericos</mat-error>
            <span matPrefix>S/.&nbsp;</span>
          </mat-form-field>
        </mat-grid-tile> -->

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Cuota inicial" formControlName="inicial" #InputInicial [readonly]="idventa">
            <mat-error>Solo debe ingresar valores númericos</mat-error>
            <span matPrefix>S/ &nbsp;</span>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput placeholder="N° de cuotas" formControlName="cuotas" #InputCuota [readonly]="idventa">
            <mat-error>Solo debe ingresar valores númericos</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="3">
          <mat-form-field class="columnas-3">
             <input matInput placeholder="Observaciones" formControlName="observaciones" [readonly]="idventa">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Monto total" formControlName="montototal" readonly>
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>
    </div>
    
    <div class="seccion">
 
      <mat-card-subtitle>
        Documentos
      </mat-card-subtitle>

      <mat-grid-list cols="7" rowHeight="100px" *ngIf="!idventa">

        <mat-grid-tile>
          <image-upload #CargarDNI
            class="cargar-imagen"
            [max]="1"
            [url]="'http://localhost/SCC/WS_SCC/file/upload.php'"
            [buttonCaption]="'DNI'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirDNI($event)">
          </image-upload>  
        </mat-grid-tile>

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            [url]="'http://localhost/SCC/WS_SCC/file/upload.php'"
            [buttonCaption]="'CIP'"
            [dropBoxMessage]="'o arrastrelo'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirCIP($event)">
          </image-upload>  
        </mat-grid-tile>

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            [url]="'http://localhost/SCC/WS_SCC/file/upload.php'"
            [buttonCaption]="'Contrato'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirContrato($event)">
          </image-upload>  
        </mat-grid-tile>

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            [url]="'http://localhost/SCC/WS_SCC/file/upload.php'"
            [buttonCaption]="'Transacción'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirTransaccion($event)">
          </image-upload>  
        </mat-grid-tile>

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            [url]="'http://localhost/SCC/WS_SCC/file/upload.php'"
            [buttonCaption]="'Planilla'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirPlanilla($event)">
          </image-upload>  
        </mat-grid-tile>

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            [url]="'http://localhost/SCC/WS_SCC/file/upload.php'"
            [buttonCaption]="'Letra'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirLetra($event)">
          </image-upload>  
        </mat-grid-tile>

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            [url]="'http://localhost/SCC/WS_SCC/file/upload.php'"
            [buttonCaption]="'Autorización'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirAutorizacion($event)">
          </image-upload>  
        </mat-grid-tile>

      </mat-grid-list>
    </div>
<!--       <mat-grid-list cols="7" rowHeight="70px" *ngIf="idventa">

        <mat-grid-tile>
          <button mat-raised-button color="primary" (click)="Abrir(dni)" [disabled]="!dni">DNI</button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-raised-button color="primary" (click)="Abrir(cip)" [disabled]="!cip">CIP</button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-raised-button color="primary" (click)="Abrir(contrato)" [disabled]="!contrato">Contrato</button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-raised-button color="primary" (click)="Abrir(transaccion)" [disabled]="!transaccion">Transaccion</button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-raised-button color="primary" (click)="Abrir(planilla)" [disabled]="!planilla">Planilla</button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-raised-button color="primary" (click)="Abrir(letra)" [disabled]="!letra">Letra</button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-raised-button color="primary" (click)="Abrir(autorizacion)" [disabled]="!autorizacion">Autorización</button>
        </mat-grid-tile>

      </mat-grid-list> -->


    <!-- </mat-card> -->


    <div class="seccion">

      <mat-card-subtitle>
        Datos del documento
      </mat-card-subtitle>

    <!-- <mat-card class="documentos">

      <mat-card-header>
        <mat-card-title>
          Productos
        </mat-card-title>
      </mat-card-header> -->

      <mat-grid-list cols="4" rowHeight="50px" *ngIf="!idventa">
        <mat-grid-tile colspan="4">
          <button mat-mini-fab color="primary" (click)="AgregarProducto()" matTooltip="Agregar productos" type="button" [disabled]="!this.sucursal"><mat-icon>add</mat-icon></button>
        </mat-grid-tile>
      </mat-grid-list>

      <div *ngIf="this.sucursal">
        <div formArrayName="productos" *ngFor="let producto of VentasForm['controls'].productos['controls']; let i = index">
          <div [formGroupName]="i">

            <mat-grid-list cols="5" rowHeight="70px">

              <mat-grid-tile colspan="2" *ngIf="!producto.value.id_producto">
                <mat-form-field class="columnas-2">
                  <input matInput placeholder="Producto" [matAutocomplete]="autoproducto" #InputProducto>
                  <mat-autocomplete #autoproducto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="ProductoSeleccionado(producto,$event,i)">
                    <mat-option *ngFor="let producto of Producto" [value]="producto">
                      {{producto.nombre}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile colspan="2" *ngIf="producto.value.id_producto">
                <mat-form-field class="columnas-2">
                   <input matInput placeholder="Producto" formControlName="descripcion" readonly>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile *ngIf="!producto.value.id_serie">
                <button mat-icon-button color="primary" type="button" matTooltip="Seleccionar serie" (click)="SeleccionarSerie(producto)" [disabled]="!producto.value.id_producto"><mat-icon>search</mat-icon></button>
              </mat-grid-tile>

              <mat-grid-tile *ngIf="producto.value.id_serie">
                <mat-form-field class="columnas-1">
                   <input matInput placeholder="IMEI" formControlName="serie" readonly>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-form-field class="columnas-1">
                  <input matInput placeholder="Precio" formControlName="precio" #InputPrecio>
                  <mat-error>Solo puede ingresar números</mat-error>
                  <span matPrefix>S/ &nbsp;</span>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <button  mat-icon-button type="button" color="primary" class="boton" matTooltip="Eliminar producto" (click)="EliminarProductos(i,producto)" [disabled]="VentasForm['controls'].productos['controls'].length==1" *ngIf="!idventa"><mat-icon>delete</mat-icon></button>
              </mat-grid-tile>

            </mat-grid-list>
          </div>
        </div>
      </div>

    <!-- </mat-card> -->

    </div>

    <mat-card class="documentos">

      <mat-card-header>
        <mat-card-title>
          Cronograma
        </mat-card-title>
      </mat-card-header>

      <ng-container>
        <mat-grid-list cols="7" rowHeight="70px">

          <mat-grid-tile>
            <strong>N°</strong>
          </mat-grid-tile>

          <mat-grid-tile>
            <strong>Periodo</strong>
          </mat-grid-tile>

          <mat-grid-tile>
            <strong>Monto</strong>
          </mat-grid-tile>

          <mat-grid-tile>
          </mat-grid-tile>

          <mat-grid-tile>
            <strong>N°</strong>
          </mat-grid-tile>

          <mat-grid-tile>
            <strong>Periodo</strong>
          </mat-grid-tile>

          <mat-grid-tile>
            <strong>Monto</strong>
          </mat-grid-tile>

          <ng-container *ngFor="let pago of Cronograma">

          <mat-grid-tile>
            {{pago.numero}}
          </mat-grid-tile>

          <mat-grid-tile>
            {{pago.fecha | date: 'MM/yyyy'}}
          </mat-grid-tile>

          <mat-grid-tile>
            {{pago.monto}}
          </mat-grid-tile>

          <mat-grid-tile *ngIf="pago.numero%2==1">
          </mat-grid-tile>

          </ng-container>

        </mat-grid-list>
      </ng-container>
    </mat-card>

    <mat-card-actions>
      <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
          <button mat-raised-button color="primary" (click)="GrabarVenta(VentasForm)" [disabled]="VentasForm.invalid"> Guardar </button> 
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-actions>

  </form>
</mat-card>