<mat-card class="card">
  <mat-toolbar color="primary">
    <mat-toolbar-row> Editar dirección </mat-toolbar-row>
  </mat-toolbar>

  <form [formGroup]="DireccionesForm">
    <mat-card-content>
      <mat-grid-list cols=3 rowHeight="70px">
        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <mat-select placeholder="Departamento" formControlName="departamento" (selectionChange)="DepartamentoSeleccionado()">
              <mat-option *ngFor="let departamento of LstDepartamento" [value]="departamento.nombre">{{departamento.nombre  | uppercase }}</mat-option>
            </mat-select>
            <mat-error>Este campo es obligatorio</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <mat-select placeholder="Provincia" formControlName="provincia" (selectionChange)="ProvinciaSeleccionada()">
              <mat-option *ngFor="let provincia of LstProvincia" [value]="provincia.nombre">{{provincia.nombre  | uppercase }}</mat-option>
            </mat-select>
            <mat-error>Este campo es obligatorio</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <mat-select placeholder="Distrito" formControlName="distrito">
              <mat-option *ngFor="let distrito of LstDistrito" [value]="distrito.id">{{distrito.nombre  | uppercase }}</mat-option>
            </mat-select>
            <mat-error>Este campo es obligatorio</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan=3>
          <mat-form-field class="columnas-3">
            <input matInput placeholder="Dirección" formControlName="direccion">
            <mat-error>Este campo es obligatorio</mat-error>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>

    <mat-card-actions>
      <mat-grid-list cols=1 rowHeight="40px">
        <mat-grid-tile>
          <button mat-raised-button color="primary" type="button" [disabled]="DireccionesForm.invalid" (click)="Guardar()"> Guardar </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-actions>
  </form>
</mat-card>  