.input-ventanaa{ 
  width:85%
}

.input-ventana{ 
  width:88%
}

.input-ventanac{ 
  width:92%
}

.mat-column-cuenta-numero,
.mat-column-cuenta-opciones,
.mat-column-cuenta-relevancia{
	max-width: 10%
}

.mat-column-telefono-numero,
.mat-column-telefono-opciones,
.mat-column-telefono-relevancia{
	max-width: 10%
}

.mat-column-direccion-numero,
.mat-column-direccion-opciones,
.mat-column-direccion-relevancia{
	max-width: 10%
}

mat-form-field{
	width: 60%
}

.grande{
	width: 86.67%
}