<mat-card>
	
  <button mat-mini-fab color="primary" class="regresar" (click)="Atras()" *ngIf="!this.data"><mat-icon>keyboard_arrow_left</mat-icon></button>

  <mat-card-title>
    <div id="tituloProd">Detalle de documento</div>
  </mat-card-title>

	<mat-card-content>
		
		<mat-card-subtitle>
			Cabecera de documento
		</mat-card-subtitle>

		<div class="spinner-container" *ngIf="Cargando | async">
	      <mat-spinner></mat-spinner>
		</div>

    <mat-grid-list cols=3 rowHeight="70px">
    
      <mat-grid-tile>
        <strong>ALMACEN: &nbsp;</strong> {{almacen}}
      </mat-grid-tile>

      <mat-grid-tile>
        <strong>TIPO: &nbsp;</strong> {{tipo}}
      </mat-grid-tile>

      <mat-grid-tile [ngSwitch]="referencia">
        <strong *ngSwitchCase="1">PROVEEDOR: &nbsp;</strong>
        <strong *ngSwitchCase="2">CLIENTE: &nbsp;</strong>
        <strong *ngSwitchCase="3">SALIDA DE VENTA: &nbsp;</strong>
        <strong *ngSwitchCase="4">SUCURSAL: &nbsp;</strong>
        <strong *ngSwitchCase="5">VENDEDOR: &nbsp;</strong>
        {{referente}}
      </mat-grid-tile>

      <mat-grid-tile>
        <strong>DOCUMENTO: &nbsp;</strong> {{documento}}
      </mat-grid-tile>

      <mat-grid-tile>
        <strong>FECHA: &nbsp;</strong> {{fecha | date:"dd/MM/yyyy"}}
      </mat-grid-tile>

      <mat-grid-tile>
        <button mat-icon-button color="primary" matTooltip (click)="AbrirDocumento(archivo_nombre)" [disabled]="!archivo_nombre"> <mat-icon> visibility </mat-icon> </button>
        <button mat-icon-button color="primary" matTooltip (click)="EditarDocumento()" *ngIf="this.id_editar"> <mat-icon> edit </mat-icon> </button>
      </mat-grid-tile>


      <mat-grid-tile colspan=3 *ngIf="observacion">
        <strong>OBSERVACIONES: &nbsp;</strong> {{observacion}}
      </mat-grid-tile>

    </mat-grid-list>

		<mat-card-subtitle>
			Detalle de documento
		</mat-card-subtitle>
  
    <mat-grid-list cols=1 rowHeight="60px">
      <mat-grid-tile>
        <button mat-mini-fab color="primary" matTooltip="Agregar producto" (click)="AgregarSerie()" class="derecha">
          <mat-icon> add </mat-icon>
        </button>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-table [dataSource]="ListadoInformacion" class="mat-elevation-z8">

      <ng-container matColumnDef="numero">
        <mat-header-cell *matHeaderCellDef> N° </mat-header-cell>
        <mat-cell *matCellDef="let detalle"> {{ detalle.numero }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="producto">
        <mat-header-cell *matHeaderCellDef> Producto </mat-header-cell>
        <mat-cell *matCellDef="let detalle"> {{ detalle.producto }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="serie">
        <mat-header-cell *matHeaderCellDef> Serie </mat-header-cell>
        <mat-cell *matCellDef="let detalle"> {{ detalle.serie }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="color">
        <mat-header-cell *matHeaderCellDef> Color </mat-header-cell>
        <mat-cell *matCellDef="let detalle"> {{ detalle.color }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="almacenamiento">
        <mat-header-cell *matHeaderCellDef> Almacenamiento </mat-header-cell>
        <mat-cell *matCellDef="let detalle"> {{ detalle.almacenamiento }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="precio">
        <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
        <mat-cell *matCellDef="let detalle"> {{ detalle.precio | currency:'S/.' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="observaciones">
        <mat-header-cell *matHeaderCellDef> Observaciones </mat-header-cell>
        <mat-cell *matCellDef="let detalle"> {{ detalle.observaciones }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="opciones">
        <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
        <mat-cell *matCellDef="let detalle">
          <button mat-icon-button color="primary" (click)="Editar(detalle)"> <mat-icon> edit </mat-icon> </button>
          <button mat-icon-button color="primary" (click)="Eliminar(detalle)"> <mat-icon> delete </mat-icon> </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="Columnas"></mat-header-row>
      <mat-row *matRowDef="let row; columns: Columnas;"></mat-row>
    </mat-table>
	</mat-card-content>


</mat-card>