#tituloProd {
  padding: 25px;
  font-size: 30px;
  text-align: center;
  font-family: sans-serif;
}

mat-card{
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  min-height: 300px;
}

.spinner-container{
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.columnas-1-2{
  width: 40%
}

.columnas-1{
  width: 80%
}

.columnas-2{
  width: 90%
}