<div class="inicio">
  <mat-panel-title [routerLink]="['/inicio']">
    <div><mat-icon> home </mat-icon></div>
    <div class="titulo"> INICIO </div>
  </mat-panel-title>
</div>

<mat-accordion>
  <ng-container *ngFor="let menu of Menu">
    <ng-container *ngIf="menu.mostrar">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header [collapsedHeight]="'50px'">
          <mat-panel-title>
            <div><mat-icon> {{menu.icono}} </mat-icon></div>
            <div class="titulo"> {{menu.nombre | uppercase}} </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list class="lista-opciones">
          <ng-container *ngFor="let sub of menu.submenu">
            <ng-container *ngIf="sub.mostrar">
              <a mat-list-item class="lista-opciones" (click)="Navegar(menu.path,sub.path)"> {{sub.nombre}} </a>
            </ng-container>
          </ng-container>
        </mat-nav-list>
      </mat-expansion-panel>
    </ng-container>
    </ng-container>
</mat-accordion>