/* .mat-column-numero,
.mat-column-id_tipo_documento{
  max-width: 5%;
}

.mat-column-fecha_inicio{
  max-width: 10%;
}

.mat-column-cliente_dni{
  max-width: 12%;
}

.mat-column-opciones{
  max-width: 15%;
}

.mat-column-total ,
.mat-column-fecha_ultimo_documento {
  max-width: 10%;
} */

/* .toolbar-titulo2{
  background-color: #424242;
  color: white;
} */

.centrar{
  justify-content: center;
}