<mat-card class="principal">

  <!-- Encabezado -->
  <mat-card-title>
    <div class = "tituloProd"> Listado de procesos judiciales ({{total_procesos}}) </div>
  </mat-card-title>

  <form [formGroup]="ProcesosJudicialesForm">
    <mat-grid-list cols= "4" rowHeight="70px">
      <mat-grid-tile>
        <mat-icon>search</mat-icon>
        <mat-form-field class="columnas-1">
          <input matInput placeholder="Expediente" formControlName="expediente">
        </mat-form-field>
      </mat-grid-tile>
  
      <mat-grid-tile>
        <mat-icon>search</mat-icon>
        <mat-form-field class="columnas-1">
          <input matInput placeholder="Distrito judicial" [matAutocomplete]="autodistrito" formControlName="distrito">
          <mat-autocomplete #autodistrito="matAutocomplete" (optionSelected)="CargarData()">
            <mat-option *ngFor="let distrito of Distritos" [value]="distrito.nombre">
              {{distrito.nombre}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </mat-grid-tile>
  
      <mat-grid-tile>
        <mat-icon>search</mat-icon>
        <mat-form-field class="columnas-1">
          <input matInput placeholder="DNI" formControlName="dni">
        </mat-form-field>
      </mat-grid-tile>
  
      <mat-grid-tile>
        <mat-icon>search</mat-icon>
        <mat-form-field class="columnas-1">
          <input matInput placeholder="Cliente" formControlName="cliente">
        </mat-form-field>
      </mat-grid-tile>
  
      <mat-grid-tile>
        <mat-icon>search</mat-icon>
        <mat-form-field class="columnas-1">
          <mat-select formControlName="estado" placeholder="Estado">
            <mat-option [value]=-3> Todos </mat-option>
            <mat-option [value]=0> En cobranza </mat-option>
            <mat-option [value]=-1> En trámite </mat-option>
            <mat-option [value]=1> Sin documentos </mat-option>
            <mat-option *ngFor="let tipo of TipoDocumentos" [value]="tipo.id"> {{tipo.nombre}} </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
  
      <mat-grid-tile>
        <mat-form-field class="columnas-1">
          <input matInput [matDatepicker]="inicio" placeholder="Fecha de inicio" formControlName="fecha_inicio">
          <mat-datepicker-toggle matSuffix [for]="inicio"></mat-datepicker-toggle>
          <mat-datepicker #inicio disabled="false"></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
  
      <mat-grid-tile>
        <mat-form-field class="columnas-1">
          <input matInput [matDatepicker]="fin" placeholder="Fecha de fin" formControlName="fecha_fin">
          <mat-datepicker-toggle matSuffix [for]="fin"></mat-datepicker-toggle>
          <mat-datepicker #fin disabled="false"></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
  
      <mat-grid-tile>
        <ng-container *ngIf="permiso?.procesos_judiciales?.listado_procesos?.agregar">
          <button mat-raised-button type="button" color="primary" [routerLink]="['nuevo-multiple']" tabindex="-1"> Nuevo </button>
        </ng-container>
      </mat-grid-tile>
    </mat-grid-list>
  </form>

  <mat-card-content>
    <div class = "spinner-container" *ngIf = "Cargando | async">
      <mat-spinner></mat-spinner>
    </div>

    <!-- <mat-card > -->
      <app-cobranza-judicial-distritos
        *ngFor="let distrito of InformacionDistritosArray"
        [distrito]="distrito"
        [filtros]="ProcesosJudicialesForm.value"
        >
      </app-cobranza-judicial-distritos>
    <!-- </mat-card> -->
  </mat-card-content>

</mat-card>
