<mat-card-title class="card-titulo">
  <mat-toolbar class="toolbar-titulo2">
    <mat-toolbar-row>
      {{ instancia.instancia }}
      <span class="espacio"></span>
      <ng-container *ngIf="(ListadoProcesos.Cargando$ | async)">
        <mat-spinner [diameter]="30"></mat-spinner>
      </ng-container>
      <ng-container *ngIf="!(ListadoProcesos.Cargando$ | async)">
        {{ ListadoProcesos.TotalExpedientes$ | async }}
      </ng-container>
    </mat-toolbar-row>
  </mat-toolbar>
</mat-card-title>

<mat-card-content>
  <mat-table [dataSource]="ListadoProcesos" class="mat-elevation-z8">
    <ng-container matColumnDef="numero">
      <mat-header-cell *matHeaderCellDef> N° </mat-header-cell>
      <mat-cell *matCellDef="let proceso"> {{proceso.numero}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id_tipo_documento">
      <mat-header-cell *matHeaderCellDef> <mat-icon> stars </mat-icon> </mat-header-cell>
      <mat-cell *matCellDef="let proceso">
        <ng-container *ngIf="proceso.id_tipo_documento==0"> <mat-icon color="primary" matTooltip="Ya tiene cronograma"> star </mat-icon> </ng-container>
        <ng-container *ngIf="proceso.id_tipo_documento==1"> <mat-icon matTooltip="Aún no hay documentos"> fiber_manual_record </mat-icon> </ng-container>
        <ng-container *ngIf="proceso.id_tipo_documento==2"> <mat-icon class="icono-ambar" matTooltip="Se presentó un escrito"> info </mat-icon> </ng-container>
        <ng-container *ngIf="proceso.id_tipo_documento==3"> <mat-icon class="icono-rojo" matTooltip="Se emitió una resolución"> error </mat-icon> </ng-container>
        <ng-container *ngIf="proceso.id_tipo_documento==4"> <mat-icon class="icono-verde" matTooltip="Se emitió el oficio"> check_circle </mat-icon> </ng-container>
        <ng-container *ngIf="proceso.id_tipo_documento==5"> <mat-icon class="icono-rojo" matTooltip="Se solicitó devolución"> cancel </mat-icon> </ng-container>
        <ng-container *ngIf="proceso.id_tipo_documento==6"> <mat-icon class="icono-anaranjado" matTooltip="Se emitió una nota"> info </mat-icon> </ng-container>
        <ng-container *ngIf="proceso.id_tipo_documento==7"> <mat-icon class="icono-morado" matTooltip="Se emitió una queja"> info </mat-icon> </ng-container>
        <ng-container *ngIf="proceso.id_tipo_documento==8"> <mat-icon class="icono-celeste" matTooltip="Se emitió una notificacion"> info </mat-icon> </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fecha_inicio">
      <mat-header-cell *matHeaderCellDef> Fecha DDA </mat-header-cell>
      <mat-cell *matCellDef="let proceso"> {{proceso.fecha_inicio | date:'dd/MM/yyyy'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="expediente">
      <mat-header-cell *matHeaderCellDef> Expedientes </mat-header-cell>
      <mat-cell *matCellDef="let proceso"> {{proceso.expediente}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="juzgado">
      <mat-header-cell *matHeaderCellDef> Juzgados   </mat-header-cell>
      <mat-cell *matCellDef="let proceso"> {{proceso.juzgado}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="vendedor">
      <mat-header-cell *matHeaderCellDef> Abogado </mat-header-cell>
      <mat-cell *matCellDef="let proceso"> {{proceso.vendedor}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cliente_nombre">
      <mat-header-cell *matHeaderCellDef> Nombre del cliente </mat-header-cell>
      <mat-cell *matCellDef="let proceso"> {{proceso.cliente_nombre}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef> Monto exigido </mat-header-cell>
      <mat-cell *matCellDef="let proceso"> {{proceso.total | currency:'S/.' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fecha_ultimo_documento">
      <mat-header-cell *matHeaderCellDef> Último documento </mat-header-cell>
      <mat-cell *matCellDef="let proceso"> {{proceso.fecha_ultimo_documento | date:'dd/MM/yyyy' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fecha_ultimo_documento_diferencia">
      <mat-header-cell *matHeaderCellDef> Días transcurridos </mat-header-cell>
      <mat-cell *matCellDef="let proceso" class="centrar"> {{proceso.fecha_ultimo_documento_diferencia}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="total_documentos">
      <mat-header-cell *matHeaderCellDef> Número documentos </mat-header-cell>
      <mat-cell *matCellDef="let proceso" class="centrar"> {{proceso.total_documentos}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="opciones">
      <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
      <mat-cell *matCellDef="let proceso">
        <button mat-icon-button color="primary" matTooltip="Ver seguimiento de documentos" (click)="VerProceso(proceso.id)"><mat-icon> visibility </mat-icon></button>
        <ng-container *ngIf="permiso?.procesos_judiciales?.listado_procesos?.editar">
          <button mat-icon-button [matMenuTriggerFor]="menu2" color="primary" matTooltip="Editar expediente" ><mat-icon> edit </mat-icon></button>
          <mat-menu #menu2="matMenu">
            <button mat-menu-item color="primary" (click)="AgregarDocumentos(proceso)" *ngIf="proceso.id_tipo_documento>0 && proceso.id_tipo_documento!=4" [disabled]="proceso.id_tipo_documento==5"> Agregar documentos </button>
            <button mat-menu-item color="primary" (click)="CambiarSede(proceso)" [disabled]="proceso.id_tipo_documento!=3 && proceso.id_tipo_documento!=6"> Registrar traslado </button>
          </mat-menu>
        </ng-container>
        <ng-container *ngIf="permiso?.procesos_judiciales?.listado_procesos?.ver_cronograma">
          <button mat-icon-button color="primary" matTooltip="Ver cronograma" [routerLink]="['generar','ver', proceso.id]" *ngIf="proceso.id_tipo_documento==0"><mat-icon> notes </mat-icon></button>
        </ng-container>
        <ng-container *ngIf="permiso?.procesos_judiciales?.listado_procesos?.realizar_cronograma">
          <button mat-icon-button color="primary" matTooltip="Realizar cronograma" [routerLink]="['generar','nuevo', proceso.id]" *ngIf="proceso.id_tipo_documento==4"><mat-icon> next_week </mat-icon></button>
        </ng-container>
        <ng-container *ngIf="permiso?.procesos_judiciales?.listado_procesos?.eliminar">
          <button mat-icon-button color="primary" matTooltip="Eliminar" (click)="EliminarProceso(proceso)" [disabled]="proceso.id_tipo_documento>=4"><mat-icon> delete </mat-icon></button>
        </ng-container>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="Columnas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: Columnas;"></mat-row>
  </mat-table>
</mat-card-content>