.card{
  padding: 0px;
  overflow: hidden;
}

.columnas-1{
  width: 80%;
}
  
.columnas-2{
  width: 90%
}
  
.columnas-3{
  width: 93.33%
}
  
.columnas-4{
  width: 95%
}

mat-table{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.mat-column-numero{
  max-width: 10%;
}

.mat-column-precio_venta,
.mat-column-opciones{
  max-width: 15%;
}