<mat-card>
  <!-- Cabecera de Ingreso de Productos -->
  <button mat-mini-fab type="button" color="primary" (click)="Atras()"><mat-icon>keyboard_arrow_left</mat-icon></button>

  <mat-card-title>
    <div id = "tituloProd"> Ingreso de Productos Nro. {{documento_serie}}-{{documento_numero}}</div>
  </mat-card-title>

  <form [formGroup]="IngresoProductoForm">

    <mat-card-content>

      <mat-card class="CabeceraSalidaVendedor">

        <mat-card-header>
          <mat-card-title>
              Datos Generales
          </mat-card-title>
        </mat-card-header>

        <mat-grid-list cols="3" rowHeight="80px" [ngSwitch]= "IngresoProductoForm.get('tipoIngreso').value">

        <!--Campo ingresar Tipo de Ingreso a almacen -->
        <mat-grid-tile >
            <mat-form-field  class="columnas-1">
              <mat-select placeholder="Tipo de ingreso" formControlName= "tipoIngreso" (selectionChange)="ActualizarTipoIngreso($event)">
                <mat-option *ngFor="let tipoIngreso of TipoIngresos" [value]="tipoIngreso.id">
                  {{tipoIngreso.nombre}}
                </mat-option>
              </mat-select>
              </mat-form-field>
        </mat-grid-tile>

         <!-- Seleccionar Almacen -->
        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <mat-select placeholder="Almacen" formControlName="almacen"  (selectionChange)="ResetearForm($event); ValidarDocumento();ListarTransferenciasPendientes()">
              <mat-option *ngFor="let almacen of almacen_origen" [value]="almacen">
                {{almacen.nombre}}
              </mat-option>
            </mat-select>
            <mat-error> Debe ingresar el almacén de salida </mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <ng-container *ngIf="!archivo">
            <input hidden #uploader type="file" (change)="SubirArchivo($event.target.files)">
            <button mat-raised-button type="button" (click)="uploader.click()"> Seleccionar archivo </button>
          </ng-container>
          <ng-container *ngIf="archivo">
            <span> {{ archivo_nombre }} </span>
            &nbsp;
            <button type="button" mat-icon-button color="primary" (click)="RemoverArchivo()"> <mat-icon> remove_circle_outline </mat-icon> </button>
          </ng-container>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="IngresoProductoForm.get('tipoIngreso').value!=7">
          <mat-form-field class="columnas-1">
            <input #docRefencia matInput placeholder="Documento Referencia" formControlName="docReferencia">
            <mat-error> Debe ingresar el documento de referencia </mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="IngresoProductoForm.get('tipoIngreso').value!=7">
          <!--Campo ingresar Proveedor -->
          <mat-form-field class="columnas-1">
            <input #Proveedor placeholder="Proveedor" matInput [matAutocomplete]="auto" formControlName=proveedor >
            <mat-error> Debe ingresar Proveedor </mat-error>
            <mat-autocomplete #auto="matAutocomplete" [displayWith] = "displayProveedor" (optionSelected)="ProveedorSeleccionado()">
              <mat-option *ngFor="let proveedor of proveedores" [value]="proveedor">
                {{proveedor.nombre}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="IngresoProductoForm.get('tipoIngreso').value!=7">
          <mat-form-field class ="IngFecha" class="Alma1"  class="columnas-1" >
            <input matInput [matDatepicker]="picker" placeholder="Fecha Ingreso" formControlName="fecingreso" [max]="Hoy"> 
            <mat-error> Debe ingresar la fecha </mat-error>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
    
        <mat-grid-tile colspan=3>
          <mat-form-field class="columnas-3">
            <input #docRefencia matInput placeholder="Observaciones" formControlName="observacion">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>

  </mat-card-content>

  <br>

  <div class="spinner-container" *ngIf="enviado">
    <mat-spinner></mat-spinner>
  </div>

  
<!-- Line de Detalles de  ingreso de Productos -->

  <mat-card-content *ngIf="nuevo_documento == false && IngresoProductoForm.get('tipoIngreso').value !=7">
    <mat-card-title class="error-card">
      <mat-error>
        Ya se ha registrado este documento
      </mat-error>
    </mat-card-title>
  </mat-card-content>

  <mat-card-content *ngIf="nuevo_documento">
    <mat-card class="CabeceraSalidaVendedor" *ngIf = "IngresoProductoForm.value.tipoIngreso==1">

      <mat-card-header>                 

        <mat-card-title>
            Detalle de Productos
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
    
      <mat-grid-list cols="1"  rowHeight="55px" >
        <mat-grid-tile>
          <button mat-mini-fab color="primary" (click)="AgregarProducto()" matTooltip="Agregar productos"  type="button"><mat-icon>add</mat-icon></button>
        </mat-grid-tile>
      </mat-grid-list>

      <div formArrayName="productos" *ngFor="let producto of IngresoProductoForm['controls'].productos['controls']; let i = index">
        <div [formGroupName]="i">

          <mat-grid-list cols="8" rowHeight="70px">

            <mat-grid-tile colspan=5>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Producto" [matAutocomplete]="autoproducto" #InputProducto formControlName="descripcion">
                <mat-autocomplete #autoproducto="matAutocomplete" [displayWith]="displayFn2" (optionSelected)="ProductoSeleccionado(i)">
                  <mat-option *ngFor="let producto of Producto" [value]="producto">
                    {{producto.descripcion}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="2">
              <mat-form-field appearance="fill">
                <input matInput placeholder="Cantidad" formControlName="cantidad" readonly>
              </mat-form-field>
            </mat-grid-tile>

            <!-- <mat-grid-tile colspan="2">
              <mat-form-field  class="example-full-width">
                <input matInput placeholder="Precio unitario" formControlName="precioUnitario" class="example-right-align" >
                <mat-error> Debe ingresar el precio</mat-error>
                <span matPrefix>S/.&nbsp;</span>
              </mat-form-field>
            </mat-grid-tile> -->

            <mat-grid-tile colspan="1">
              <button mat-mini-fab color="primary" (click) = "AgregarSerie(producto,i)"  matTooltip="Ingresar series" type="button" [disabled]="!producto.value.producto"><mat-icon> reorder </mat-icon> </button>
              <button mat-mini-fab color="primary" matTooltip="Eliminar" type="button" (click)="EliminarProducto(producto.value.producto,i)" [disabled]="!productos || productos.length==1"> <mat-icon>delete</mat-icon></button>
            </mat-grid-tile>

          </mat-grid-list>

        </div>
      </div>
      </mat-card-content>
    </mat-card>

  </mat-card-content>
      <!-- Tipo de Transaccion transferencia de almacen  -->

  <mat-card class="CabeceraSalidaVendedor"  *ngIf = "IngresoProductoForm.value.tipoIngreso==7">
    <mat-card-content>
        <table  class="tabla-detalle">
            <tr>
              <th>N°</th>
              <th>FECHA</th> 
              <th>MOVIMIENTO</th>
              <th>DOCUMENTO</th>
              <th>REFERENTE</th>
              <th>OPCIONES</th>
            </tr>
            <tr *ngFor="let detalle of detalle_transacciones">
              <td class="detalle-columnas" id="detalle-numero">{{detalle.numero}}</td> 
              <td class="detalle-columnas" id="detalle-producto">{{detalle.fecha | date: 'dd/MM/yyyy'}}</td>
              <td class="detalle-columnas" id="detalle-serie">{{detalle.movimiento_serie}}-{{detalle.movimiento_numero}}</td> 
              <td class="detalle-columnas" id="detalle-color">{{detalle.documento}}</td>
              <td class="detalle-columnas" id="detalle-almacenamiento">{{detalle.almacen}}</td>
              <td class="detalle-columnas" id="detalle-observacion">
                <button mat-icon-button color="primary" (click)="VerDetalle(detalle)" matTooltip="Ver detalle">
                  <mat-icon>visibility</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="AgregarIngreso(detalle)" matTooltip="Aceptar transferencia">
                  <mat-icon>check_circle</mat-icon>
                </button>
              </td>
            </tr>
          </table>		
    </mat-card-content>
  </mat-card>


   <mat-card-actions *ngIf="IngresoProductoForm.get('tipoIngreso').value!=7">
      <mat-grid-list cols="1" rowHeight="65px">

        <mat-grid-tile *ngIf="hay_duplicados">
          <mat-error> Hay series duplicadas </mat-error>
        </mat-grid-tile>

        <mat-grid-tile>

<!--           <button mat-fab color="primary" matTooltip="Grabar" > <mat-icon> save</mat-icon></button>
          <button mat-fab color="warn" matTooltip="Limpiar" >  <mat-icon> restore</mat-icon></button> -->

          <button mat-raised-button type="button" (click)="Reset()" >Limpiar</button>
          <button mat-raised-button color="primary" type="submit"  (click)="Guardar(IngresoProductoForm)" [disabled]="IngresoProductoForm.invalid || (Series.length==0 && IngresoProductoForm.value.tipoIngreso==1) || enviado || hay_duplicados">Grabar</button>

        </mat-grid-tile>
      </mat-grid-list>
   </mat-card-actions>
      <br><br>

  </form>
</mat-card>