<mat-card>
  <!-- Cabecera de Saida de Productos -->
  <mat-card-title>
    <div id = "tituloProd"> Salida de Productos Nro.</div>
  </mat-card-title>

  <mat-card-header>

    <mat-card class="CabeceraSalidaVendedor">
      <mat-grid-list cols="3" rowHeight="80px">
        <mat-grid-tile>
          <!-- Seleccionar Almacen  Origen -->
          <mat-form-field>
            <mat-select placeholder="Almacen Origen" >
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>

          <!-- Seleccionar Almacen  Origen -->
          <mat-form-field>
            <mat-select placeholder="Almacen Destino " >
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <!--Campo ingresar Fecha de Salida almacen -->
          <mat-form-field class ="IngFecha" class="Alma1">
              <input matInput [matDatepicker]="picker" placeholder="Fecha Salida">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
    </mat-card>
  </mat-card-header>


<!-- Line de Detalles de  ingreso de Productos -->
<br>

<mat-card-content>

    <mat-card-subtitle>
        Detalle de Productos
      <button mat-mini-fab color="primary" class="agregar" (click) = 'agregar()'><mat-icon>add</mat-icon></button>

    </mat-card-subtitle>
    <br>

    <mat-card class="CabeceraSalidaVendedor">

      <mat-grid-list cols="5" rowHeight="70px" *ngFor="let articulo of articulos">

        <mat-grid-tile>
          <mat-form-field>
            <mat-select placeholder="Selecciona Producto">
              <mat-option *ngFor="let food of foods" >
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>


        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Cantidad">
          </mat-form-field>
        </mat-grid-tile>


        <mat-grid-tile>
            <button mat-mini-fab color="primary" (click) = "AgregarSerieS()"><mat-icon> reorder </mat-icon> </button>

          <button mat-mini-fab color="primary"><mat-icon>delete</mat-icon></button>

        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>

  </mat-card-content>



    <mat-card-actions>

        <button mat-raised-button color="primary">Grabar</button>
        <button mat-raised-button color="accent">Limpiar</button>

      </mat-card-actions>

</mat-card>
