<mat-card>
  <!-- Cabecera de Saida de Productos -->
  
  <button mat-mini-fab type="button" color="primary" [routerLink]="['../']"><mat-icon>keyboard_arrow_left</mat-icon></button>

  <mat-card-title>
    <div id = "tituloProd"> Salida de Productos Nro.</div>
  </mat-card-title>

  <mat-card-subtitle>
      Cabecera Salida Productos
  </mat-card-subtitle>

  <form [formGroup]="SalidaProductosForm"  [formGroup]= "regiForm">
    <mat-card-header>

      <mat-card class="CabeceraSalidaVendedor">
        <mat-grid-list cols="3" rowHeight="80px">
          <mat-grid-tile>

            <!-- Seleccionar Almacen  Origen -->
            <mat-form-field class="formulario-salida">
              <mat-select placeholder="Almacen Origen" formControlName="almacen" (selectionChange)="ResetearForm($event)">
                <mat-option *ngFor="let almacen of almacenes" [value]="almacen">
                  {{almacen.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>


          <!-- Seleccionar Almacen  Origen -->
          <mat-grid-tile>
            <mat-form-field class="formulario-salida">
              <mat-select placeholder="Almacen Destino" formControlName="almacen1">
                <mat-option *ngFor="let almacen1 of almacenes" [value]="almacen1.id">
                  {{almacen1.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <!--Campo ingresar Fecha de Salida almacen -->
            <mat-form-field  class ="IngFecha" class="Alma1" type="Date"  class="formulario-salida">
                <input matInput [matDatepicker]="picker" placeholder="Fecha Movimiento" formControlName="fechaingreso" >
                <mat-error> </mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="formulario-salida">
              <input matInput placeholder="Guía de remisión" type="text" formControlName="documento">
            </mat-form-field>
          </mat-grid-tile>

        </mat-grid-list>
      </mat-card>
    </mat-card-header>

  <!-- Line de Detalles de  ingreso de Productos -->
  <br>

  <mat-card-content>

      <mat-card-subtitle>
          Detalle de Productos
      </mat-card-subtitle>

      <!-- Agrega Productos -->
      <mat-card class="CabeceraSalidaVendedor">

      <mat-grid-list cols="1"  rowHeight="55px">
        <mat-grid-tile>
          <button mat-mini-fab color="primary" matTooltip="Agrega Productos" type="button" (click)="AgregarProducto()"><mat-icon>add</mat-icon></button>
        </mat-grid-tile>
      </mat-grid-list>
      
        <div formArrayName="productos" *ngFor="let producto of SalidaProductosForm['controls'].productos['controls']; let i = index">
          <div [formGroupName]="i">

            <mat-grid-list cols="3" rowHeight="70px">

              <mat-grid-tile>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Producto" [matAutocomplete]="autoproducto" #InputProducto formControlName="producto">
                  <mat-autocomplete #autoproducto="matAutocomplete" [displayWith]="displayFn2" (optionSelected)="ProductoSeleccionado('')">
                    <mat-option *ngFor="let producto of Producto" [value]="producto">
                      {{producto.descripcion}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Cantidad" formControlName="cantidad">
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <button mat-mini-fab color="primary" (click) = " AgregarSerieSalida (producto.value.producto,i) " matTooltip="Ingresa Serie Producto" type="button" [disabled]="!producto.value.producto"><mat-icon> reorder </mat-icon> </button>
                <button mat-mini-fab color="primary" matTooltip="Elimina  Producto" type="button" (click)="EliminarProducto(producto.value.producto,i)"><mat-icon>delete</mat-icon></button>
              </mat-grid-tile>

            </mat-grid-list>

          </div>
        </div>
      </mat-card>

    </mat-card-content>

  <!-- Botones Grabar Limpiar Formulario -->

      <mat-card-actions>
          <mat-grid-list cols="1"  rowHeight="55px">
              <mat-grid-tile>
                <button mat-raised-button  color="primary" (click)="GuardarTransferenciaAlmacen(SalidaProductosForm)">Grabar</button>
                <button mat-raised-button  color="accent" type="button">Limpiar</button>
              </mat-grid-tile>
            </mat-grid-list>
        </mat-card-actions>
  </form>
</mat-card>


