mat-card{
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  min-height: 300px;
}


.tituloProd {
  padding: 15px;
  font-size: 30px;
  text-align: center;
  font-family: sans-serif;
}


.agregar{
  float:right;
  margin-left: 5px;
  z-index: 1
 }


 #tituloProd {
  padding: 25px;
  font-size: 30px;
  text-align: center;
  font-family: sans-serif;

  }

  .agregar{
    float:right;
    margin-bottom: 5px;
    height: 70px;
    width: 70px;
   }

.spinner-container{
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-column-numero{
  max-width: 5%;
}

.mat-column-pecosa,
.mat-column-fecha,
.mat-column-sucursal,
.mat-column-destino,
.mat-column-estados
{
  max-width: 15%;
}

mat-row:nth-child(even){
  background-color:#f2f2f2;
  }

mat-row:nth-child(odd){
  background-color:white;
  }

mat-header-cell {
  font-weight:  bold;
  font-size: 14px;
  background-color:#673ab7;
  color: #fff;
}