@import '../../../tema.scss';

$primary: map-get($theme, primary);

mat-card{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  min-height: 100px;
}

.spinner-container{
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tituloProd {
  padding: 25px;
  font-size: 30px;
  text-align: center;
  font-family: sans-serif;
}

.columnas-1{
  width: 80%
}

.columnas-2{
  width: 90%
}

.seccion{
  margin-top: 20px;
  margin-bottom: 20px;
  border-color: mat-color($primary);
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.titulo-seccion{
  height: 30px;
  font-size: 16px;
  background-color: mat-color($primary);
  color: white !important;
  padding-top: 15px;
  padding-left: 2.5%;
}

.mini-spinner-container{
  position: relative;
  // top: 200px;
  // left: 0;
  // right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}