<mat-accordion>

  <mat-expansion-panel [hideToggle]=true *ngFor="let m of menu" [disabled]="m.disabled">

    <mat-expansion-panel-header [collapsedHeight]="'50px'">

      <mat-panel-title>

        <div><mat-icon> {{m.icono}} </mat-icon></div>
        <div class="titulo"> {{m.nombre | uppercase}} </div>

      </mat-panel-title>

    </mat-expansion-panel-header>

    <mat-nav-list class="lista-opciones">
       <a mat-list-item class="lista-opciones" *ngFor="let s of m.submenu" [routerLink]="[s.path]"> {{s.nombre}} </a>
    </mat-nav-list>

  </mat-expansion-panel>

</mat-accordion>