mat-form-field{
	width: 100%
}

/*mat-card-title{
  align-content: center; 
}*/

mat-card-content{
	padding: 0 15px;
	margin-top: 0;
	margin-bottom: 0;
}

.card{
  padding: 0px;
  overflow: hidden;
  padding-bottom: 10px;
}

mat-card-header{
	margin-top: 15px;
}