<mat-card class="card">

  <mat-toolbar color="primary">
    <ng-container *ngIf="ventana">
      <mat-toolbar-row *ngIf="!data"><h4>Agregar Cliente</h4></mat-toolbar-row>
      <mat-toolbar-row *ngIf="data">Editar Cliente</mat-toolbar-row>
    </ng-container>
    <ng-container *ngIf="!ventana">
      <mat-toolbar-row>
        Seleccionar cliente
        <span class="espacio"></span>
        <button mat-icon-button (click)="Resetear()" matTooltip="Resetear formulario"> <mat-icon class="icono"> autorenew </mat-icon> </button>
      </mat-toolbar-row>
    </ng-container>
  </mat-toolbar>

  <div class = "spinner-container" *ngIf = "Cargando | async">
    <mat-spinner></mat-spinner>
  </div>

  <form [formGroup]="ClientesForm" (ngSubmit)="Guardar(ClientesForm)">
    <mat-card-content>
      <ng-container>
        <mat-card-subtitle class="subtitulo">
          Datos Generales
        </mat-card-subtitle>

        <mat-grid-list cols="4" rowHeight="70px">

          <mat-grid-tile colspan="1">
            <mat-form-field class="columnas-1">
              <input matInput placeholder="Código" formControlName="codigo" maxlength="10">
              <mat-hint align="end">{{ClientesForm.value.codigo?.length || 0}}/10</mat-hint>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="1">
            <mat-form-field class="columnas-1">
              <input matInput placeholder="DNI"  formControlName="dni" maxlength="8" #InputCliente>
              <mat-error *ngIf="ClientesForm.get('dni').invalid">Debes escribir 8 dígitos</mat-error>
              <mat-hint align="end">{{ClientesForm.value.dni?.length || 0}}/8</mat-hint>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="2">
            <mat-form-field class="columnas-2">
              <input matInput placeholder="Apellidos y nombres" formControlName="nombre"  >
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="1">
            <mat-form-field class="columnas-1">
              <input matInput placeholder="Casilla física (SINOE)" formControlName="casilla">
              <mat-icon matSuffix color="accent" *ngIf="ClientesForm.value.casilla_real === 0 && ClientesForm.value.casilla==ClientesForm.value.casilla_consulta"> warning </mat-icon>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="1">
            <mat-form-field class="columnas-1">
              <input matInput placeholder="Email" formControlName="email" email="true">
              <mat-icon matSuffix color="accent" *ngIf="ClientesForm.value.email_real === 0 && ClientesForm.value.email==ClientesForm.value.email_consulta"> warning </mat-icon>
              <mat-error>Debe ser un email válido</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile *ngIf="!this.ventana" colspan=2>
            <button mat-icon-button type="button" color="primary" (click)="HayGarante(true)" matTooltip="Agregar garante"
              *ngIf="!ClientesForm.value.hay_garante"> <mat-icon> person_add </mat-icon> </button>
            <button mat-icon-button type="button" color="primary" (click)="HayGarante(false)" matTooltip="Quitar garante"
              *ngIf="ClientesForm.value.hay_garante"> <mat-icon> person_add_disabled </mat-icon> </button>
          </mat-grid-tile>
        </mat-grid-list>
      </ng-container>

      <ng-container *ngIf="ClientesForm.value.hay_garante">
        <mat-card-subtitle class="subtitulo">
          Datos del garante
        </mat-card-subtitle>

        <mat-grid-list cols="4" rowHeight="70px">
          <mat-grid-tile colspan="1">
            <mat-form-field class="columnas-1">
              <input matInput placeholder="DNI del garante"  formControlName="dni_garante" maxlength="8">
              <mat-hint align="end">{{ClientesForm.value.dni_garante?.length || 0}}/8</mat-hint>
            </mat-form-field>
          </mat-grid-tile>
          
          <mat-grid-tile colspan="2">
            <mat-form-field class="columnas-2">
              <input matInput placeholder="Apellidos y nombres del garante" formControlName="nombre_garante">
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </ng-container>

      <ng-container>
        <mat-card-subtitle class="subtitulo">
          Datos del centro de trabajo
        </mat-card-subtitle>

        <mat-grid-list cols="4" rowHeight="70px">

          <mat-grid-tile colspan="1">
            <mat-form-field class="columnas-1"> 
              <mat-select placeholder='Institucion' formControlName="institucion" (selectionChange)="InstitucionSeleccionada($event)">
                <mat-option *ngFor="let institucion of Institucion" [value] = "institucion.id"> {{institucion.nombre}} </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="2">
            <mat-form-field class="columnas-2">
              <mat-select placeholder='Sede' formControlName="sede" (selectionChange)="SedeSeleccionada($event, false)">
                <mat-option *ngFor="let sede of Sede" [value] = "sede.id"> {{sede.nombre}} </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="1">
            <mat-form-field class="columnas-1">
              <mat-select placeholder='Subsede' formControlName="subsede" (selectionChange)="SubsedeSeleccionada($event)">
                <mat-option *ngFor="let subsede of Subsede" [value] = "subsede.id"> {{subsede.nombre}} </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="1">
            <mat-form-field class="columnas-1">
              <mat-select placeholder='Cargo' formControlName="cargo">
                <mat-option *ngFor="let cargo of Cargos" [value] = "cargo.id"> {{cargo.nombre}} </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="2">
            <mat-form-field class="columnas-2">
              <mat-select placeholder='Situación' formControlName="cargo_estado" (selectionChange)="CargoEstadoSeleccionado($event)">
                <mat-option *ngFor="let estado of Estados" [value] = "estado.id"> {{estado.nombre}} </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="1">
            <mat-form-field class="columnas-1">
              <input matInput placeholder="CIP" formControlName="cip" maxlength="10">
              <mat-hint align="end">{{ClientesForm.value.cip?.length || 0}}/10</mat-hint>
            </mat-form-field>
          </mat-grid-tile>

        </mat-grid-list>
      </ng-container>

      <ng-container *ngIf="!this.data">

        <mat-card-subtitle class="subtitulo">
          Datos de contacto
        </mat-card-subtitle>

        <mat-grid-list cols="4" rowHeight="70px">

          <mat-grid-tile colspan="1">
            <mat-form-field  class="columnas-1">
              <mat-select placeholder="Departamento" formControlName="direccion_departamento" (selectionChange)="DepartamentoSeleccionado($event)">
                <mat-option *ngFor="let departamento of Departamentos" [value]="departamento.nombre">{{departamento.nombre | uppercase}}</mat-option>
              </mat-select>
              <mat-error>Este campo es obligatorio</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="1">
            <mat-form-field class="columnas-1">
              <mat-select placeholder="Provincia" formControlName="direccion_provincia" (selectionChange)="ProvinciaSeleccionada($event)">
                <mat-option *ngFor="let provincia of Provincias" [value]="provincia.nombre">{{provincia.nombre | uppercase }}</mat-option>
              </mat-select>
              <mat-error>Este campo es obligatorio</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="1">
            <mat-form-field class="columnas-1">
              <mat-select placeholder="Distrito" formControlName="direccion_distrito" (selectionChange)="DistritoSeleccionado($event)">
                <mat-option *ngFor="let distrito of Distritos" [value]="distrito.id">{{distrito.nombre | uppercase}}</mat-option>
              </mat-select>
              <mat-error>Este campo es obligatorio</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="4">
            <mat-form-field class="columnas-4">
              <input matInput placeholder="Dirección" formControlName="direccion_nombre">
              <mat-error>Este campo es obligatorio</mat-error>
              <ng-container *ngIf="!ventana" matSuffix>
                <button mat-icon-button color="accent" type="button" (click)="ConsiderarDireccion(false)" *ngIf="ClientesForm.value.considerar_direccion" matTooltip="Nueva dirección"> <mat-icon> star </mat-icon> </button>
                <button mat-icon-button type="button" (click)="ConsiderarDireccion(true)" *ngIf="!ClientesForm.value.considerar_direccion" matTooltip="No es una nueva dirección"> <mat-icon> star_border </mat-icon> </button>
              </ng-container>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="1">
            <mat-form-field class="columnas-1">
              <mat-select placeholder="Tipo de teléfono" formControlName="telefono_tipo">
                <mat-option *ngFor="let tipo of Tipos" [value]="tipo.id">{{tipo.viewValue}}</mat-option>
              </mat-select>
              <mat-error>Este campo es obligatorio</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="1">
            <mat-form-field class="columnas-1">
              <input matInput placeholder="Número de telefono" maxlength="9" formControlName="telefono_numero">
              <mat-hint align="end">{{ClientesForm.value.telefono_numero?.length || 0}}/9</mat-hint>
              <mat-error>Debe ingresar entre 6 y 9 dígitos</mat-error>
              <ng-container *ngIf="!ventana" matSuffix>
                <button mat-icon-button color="accent" type="button" (click)="ConsiderarTelefono(false)" *ngIf="ClientesForm.value.considerar_telefono" matTooltip="Nuevo teléfono"> <mat-icon> star </mat-icon> </button>
                <button mat-icon-button type="button" (click)="ConsiderarTelefono(true)" *ngIf="!ClientesForm.value.considerar_telefono" matTooltip="No es un nuevo teléfono"> <mat-icon> star_border </mat-icon> </button>
              </ng-container>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="1">
            <mat-form-field class="columnas-1">
              <mat-select placeholder="Banco" formControlName="cuenta_banco" (selectionChange)="BancoSeleccionado()">
                <mat-option *ngFor="let banco of Bancos" [value]="banco.id">{{banco.nombre}}</mat-option>
              </mat-select>
              <mat-error>Este campo es obligatorio</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="1">
            <mat-form-field class="columnas-1">
              <input matInput placeholder="Número de cuenta" formControlName="cuenta_numero">
              <mat-error>Este campo es obligatorio</mat-error>
              <ng-container *ngIf="!ventana" matSuffix>
                <button mat-icon-button color="accent" type="button" (click)="ConsiderarCuenta(false)" *ngIf="ClientesForm.value.considerar_cuenta" matTooltip="Nueva cuenta"> <mat-icon> star </mat-icon> </button>
                <button mat-icon-button type="button" (click)="ConsiderarCuenta(true)" *ngIf="!ClientesForm.value.considerar_cuenta" matTooltip="No es una nueva cuenta"> <mat-icon> star_border </mat-icon> </button>
              </ng-container>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>

      </ng-container>

    </mat-card-content>

    <!-- Sólo se muestra el botón cuando es una ventana emergente -->
    <mat-card-actions *ngIf="this.ventana">
      <mat-grid-list cols=1 rowHeight="65px">

        <mat-grid-tile *ngIf="cliente_nuevo==2">
          <mat-error> El DNI ya se ha registrado anteriormente. </mat-error>
        </mat-grid-tile>

        <mat-grid-tile>
          <button type="submit" mat-raised-button color="primary" [disabled]="ClientesForm.invalid || cliente_nuevo==2" matTooltip="Grabar"> Guardar </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-actions>

  </form>
  </mat-card>