.card{
  padding: 0px;
  overflow: hidden;
}

.spinner-container{
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.columnas-1{
  width: 80%
}

.columnas-2{
  width: 90%
}

.mat-column-numero{
	max-width: 5%
}

.mat-column-codigo,
.mat-column-dni,
.mat-column-opciones{
  max-width: 15%
}