<mat-card class="card">
  
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      Ingresar series
      <span class="espacio"></span>
      <span> Total: {{seriearticulo.length}} </span>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <!-- Se pregunta cuántas series se van a agregar -->
  <ng-container *ngIf="consultar_numero_items">
    <mat-grid-list cols=4 rowHeight="70px">
      <mat-grid-tile>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput type="number" [(ngModel)]="numero_items" min=1 placeholder="Series a agregar">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput type="number" [(ngModel)]="precio_minimo" min=0 placeholder="Precio mínimo">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan=4>
        <button mat-raised-button color="primary" (click)="SeleccionarNumeroSeries()" [disabled]="numero_items<1"> Agregar series </button>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-container>
  
  <ng-container *ngIf="!consultar_numero_items">
    <mat-grid-list cols="1" rowHeight="45px">
      <mat-grid-tile>
        <button mat-mini-fab color="primary" (click)="AgregarSerieVS()"><mat-icon>add</mat-icon></button>
      </mat-grid-tile>
    </mat-grid-list>
  
    <mat-card-content>
      <mat-grid-list [cols]="this.data.tiene_serie == 1 ? 5 : 4" rowHeight="70px" *ngFor="let serie of seriearticulo">
        <mat-grid-tile *ngIf="this.data.tiene_serie == 1">
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Serie" [(ngModel)]="serie.serie" #InputSerie>
            <mat-hint class="error" *ngIf="serie.repetidoBD">La serie ya existe</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Color" [matAutocomplete]="auto" [(ngModel)]="serie.color" #InputColor>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="ColorSeleccionado($event)">
              <mat-option *ngFor="let color of colores" [value]="color.nombre">
                {{color.nombre}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Almacenamiento" [(ngModel)]="serie.almacenamiento">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput type="number" min=0 placeholder="Precio" [(ngModel)]="serie.precio">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Observación" [(ngModel)]="serie.observacion">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  
    <mat-card-actions>
      <mat-grid-list cols=1 rowHeight="40px">
        <mat-grid-tile *ngIf="invalidV">
          <mat-error>Se ha ingresado más de una vez la misma serie</mat-error>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="invalidP">
          <mat-error>Se ha registrado esta serie en otro producto</mat-error>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button color="primary" type="button" [mat-dialog-close]="Aceptar()" [disabled]="invalidBD || invalidV || invalidP || cargando">Grabar</button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-actions>
  </ng-container>
</mat-card>
