<mat-card class="card">
  
    <mat-toolbar color="primary">
      <mat-toolbar-row> Ingresar series </mat-toolbar-row>
    </mat-toolbar>
    
    <mat-grid-list cols="1" rowHeight="45px">
      <mat-grid-tile>
        <button mat-mini-fab color="primary" (click)="AgregarSerieVS()"><mat-icon>add</mat-icon></button>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-card-content>
      <mat-grid-list cols=4 rowHeight="70px" *ngFor="let serie of seriearticulo">
        <mat-grid-tile>
          <mat-form-field class="input-serie">
            <input matInput placeholder="Serie" [(ngModel)]="serie.serie" #InputSerie>
            <mat-hint class="error" *ngIf="serie.repetidoBD">La serie ya se encuentra registrada</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="input-serie">
            <input matInput placeholder="Color" [matAutocomplete]="auto" [(ngModel)]="serie.color" #InputColor>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="ColorSeleccionado($event)">
              <mat-option *ngFor="let color of colores" [value]="color.nombre">
                {{color.nombre}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="input-serie">
            <input matInput placeholder="Almacenamiento" [(ngModel)]="serie.almacenamiento">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="input-serie">
            <input matInput placeholder="Observación" [(ngModel)]="serie.observacion">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>

    <mat-card-actions>
      <mat-grid-list cols=1 rowHeight="40px">
        <mat-grid-tile *ngIf="invalidV">
          <mat-error>Se ha ingresado más de una vez la misma serie</mat-error>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="invalidP">
          <mat-error>Se ha registrado esta serie en otro producto</mat-error>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button color="primary" [mat-dialog-close]="Aceptar()" [disabled]="invalidBD || invalidV || invalidP || cargando">Grabar</button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-actions>


  </mat-card>
