@import '../../../tema.scss';

$primary: map-get($theme, primary);

.card-principal{
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  min-height: 100px;
}

.tituloProd {
  padding: 15px;
  font-size: 30px;
  text-align: center;
  font-family: sans-serif;
}

.columnas-1{
  width: 80%;
}

.columnas-2{
  width: 90%;
}

.columnas-3{
  width: 93.33%;
}

.spinner-container{
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seccion{
  margin-top: 20px;
  margin-bottom: 20px;
  border-color: mat-color($primary);
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.titulo-seccion{
  height: 30px;
  font-size: 16px;
  background-color: mat-color($primary);
  color: white !important;
  padding-top: 15px;
  padding-left: 2.5%;
}

mat-table{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.icono{
  float: right;
  transform: translate(-20px, -12.5px);
}

.mat-column-numero{
  max-width: 5%;
}

.mat-column-opciones{
  max-width: 15%;
}

.mat-column-opciones_producto{
  max-width: 7%;
}

.mat-column-serie,
.mat-column-precio_venta,
.mat-column-contrato_venta,
.mat-column-estado_producto{
  max-width: 15%
}