<mat-card class="card-principal">

  <button mat-mini-fab type="button" color="primary" (click)="Atras()"><mat-icon>keyboard_arrow_left</mat-icon></button>

  <mat-card-title>
    <div id = "tituloProd"> Rendicion de la salida de ventas</div>
  </mat-card-title>

  <div class="seccion">

    <mat-card-subtitle class="titulo-seccion">
      DATOS DE LA PECOSA
    </mat-card-subtitle>

    <mat-grid-list cols="3" rowHeight="70px">
          
      <mat-grid-tile>
        <mat-form-field class="columnas-1">
          <input matInput type="text" placeholder="Pecosa" [(ngModel)]="pecosa" readonly>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="columnas-1">
          <input matInput type="text" placeholder="Guía" [(ngModel)]="guia" readonly>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="columnas-1">
          <input matInput type="text" placeholder="Fecha de salida" [(ngModel)]="fecha_salida" readonly>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan=2>
        <mat-form-field class="columnas-2">
          <input matInput type="text" placeholder="Destino" [(ngModel)]="destino" readonly>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="columnas-1">
          <input matInput [matDatepicker]="picker" placeholder="Fecha de retorno" [(ngModel)]="fecha_retorno" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled=false></mat-datepicker>
         </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan=3>
        <mat-form-field class="columnas-3">
          <input matInput type="text" placeholder="Observaciones" [(ngModel)]="observacion" readonly>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

  <div class="seccion">

    <mat-card-subtitle class="titulo-seccion">
      DATOS DE LOS VENDEDORES
    </mat-card-subtitle>

    <mat-grid-list cols="4"  rowHeight="70px" *ngFor="let vendedor of Vendedores">

      <mat-grid-tile colspan=2>
        <mat-form-field class="columnas-2">
          <input matInput type="text" placeholder="Vendedor" [value]="vendedor.vendedor" readonly>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="columnas-1">
          <input matInput type="text" placeholder="Comisión efectiva" [value]="vendedor.comision_efectiva" readonly>
          <span matSuffix>%</span>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="columnas-1">
          <input matInput type="text" placeholder="Comisión retenida" [value]="vendedor.comision_retenida" readonly>
          <span matSuffix>%</span>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>

  </div>

  <div class="seccion">

    <mat-card-subtitle class="titulo-seccion">
      DATOS DE LAS VENTAS
    </mat-card-subtitle>

    <mat-grid-list cols="1"  rowHeight="55px">
      <mat-grid-tile>
        <button mat-raised-button color="primary" class="agregar" (click)="RegistrarVenta()">Registra Venta</button>
      </mat-grid-tile>
    </mat-grid-list>

  </div>

  <mat-card-actions>
    <mat-grid-list cols="1"  rowHeight="55px">
      <mat-grid-tile>
        <button mat-raised-button color="primary">Grabar</button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-actions>

 </mat-card>
