<mat-card>

  <button mat-mini-fab type="button" color="primary" (click)="Atras()"><mat-icon>keyboard_arrow_left</mat-icon></button>

  <mat-card-title class="tituloProd">Venta {{numero_contrato}}</mat-card-title>

  <form [formGroup]="VentasSalidaForm">

    <div class = "spinner-container" *ngIf = "Cargando| async">
      <mat-spinner></mat-spinner>
    </div>
    
    <!-- Cliente -->
    <div class="seccion">

      <mat-card-subtitle class="titulo-seccion">
        DATOS DEL CLIENTE
      </mat-card-subtitle>

      <mat-grid-list cols="4" rowHeight="70px">

        <mat-grid-tile colspan="2" *ngIf="!VentasSalidaForm.value.id_cliente">
          <button type="button" mat-icon-button color="primary" (click)="SeleccionarCliente()"> <mat-icon> person_add </mat-icon>  </button>
        </mat-grid-tile>

        <mat-grid-tile colspan="2" *ngIf="VentasSalidaForm.value.id_cliente">
          <mat-form-field class="columnas-2">
            <input placeholder="Cliente" matInput formControlName="cliente" readonly>
            <mat-icon color="primary" matSuffix (click)="RemoverCliente()" *ngIf="id_venta_editar"> remove_circle </mat-icon>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
             <input matInput placeholder="Cargo" formControlName="cargo" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
             <input matInput placeholder="Centro de Trabajo" formControlName="trabajo" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="2">
          <mat-form-field class="columnas-2">
             <input matInput placeholder="Domicilio" formControlName="direccion" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Teléfono" formControlName="telefono" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="!id_venta">
          <button type="button" mat-icon-button color="primary" (click)="EditarContactoCliente()"> <mat-icon> edit </mat-icon>  </button>
          <mat-checkbox color="primary" formControlName="garante">Garante</mat-checkbox>
        </mat-grid-tile>

      </mat-grid-list>
    </div>

    <!-- Garante -->
    <div class="seccion" *ngIf="VentasSalidaForm.value.garante">
      
      <mat-card-subtitle class="titulo-seccion">
        DATOS DEL GARANTE
      </mat-card-subtitle>
  
      <mat-grid-list cols="1" rowHeight="50px" *ngIf="id_venta_editar">
        <mat-grid-tile colspan="1">
          <button mat-mini-fab color="primary" (click)="AgregarGarante(id_venta_editar ? true : false)" matTooltip="Agregar aval" type="button" [disabled]="VentasSalidaForm['controls'].garantes['controls'].length>1"><mat-icon>add</mat-icon></button>
        </mat-grid-tile>
      </mat-grid-list>
  
      <div formArrayName="garantes" *ngFor="let garante of VentasSalidaForm['controls'].garantes['controls']; let i = index">
                  
        <mat-list *ngIf="i>0">
          <mat-divider></mat-divider>
        </mat-list>

        <div [formGroupName]="i">

          <mat-grid-list cols="4" rowHeight="70px">

            <mat-grid-tile colspan="2" *ngIf="!garante.value.id_cliente">
              <button type="button" mat-icon-button color="primary" (click)="SeleccionarGarante(i)"> <mat-icon> person_add </mat-icon>  </button>
            </mat-grid-tile>

            <mat-grid-tile colspan="2" *ngIf="garante.value.id_cliente">
              <mat-form-field class="columnas-2">
                <input matInput placeholder="Garante" formControlName="nombre" readonly>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="2">
              <button *ngIf="!id_venta" type="button" mat-icon-button color="primary" (click)="EliminarGarante(i)" [disabled]="VentasSalidaForm['controls'].garantes['controls'].length<2"> <mat-icon> delete </mat-icon>  </button>
            </mat-grid-tile>

            <mat-grid-tile colspan="2" *ngIf="garante.value.id_cliente">
              <mat-form-field class="columnas-2">
                <input matInput placeholder="Dirección" formControlName="direccion" readonly>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" *ngIf="garante.value.id_cliente">
              <mat-form-field class="columnas-1">
                <input matInput placeholder="Teléfono" formControlName="telefono" readonly>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" *ngIf="garante.value.id_cliente">
              <button *ngIf="!id_venta" type="button" mat-icon-button color="primary" (click)="EditarContactoGarante(garante.value.id_cliente, i)"> <mat-icon> edit </mat-icon>  </button>
            </mat-grid-tile>

          </mat-grid-list>

          <mat-grid-list cols=5 rowHeight="60px" *ngIf="id_venta_editar">

            <mat-grid-tile>
              <button mat-icon-button color="primary" (click)="garante.get('dni_editar').setValue(true)" [disabled]="!garante.value.dni_pdf" *ngIf="!garante.value.dni_editar">
                <mat-icon class="icono-documentos"> edit </mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="garante.get('dni_editar').setValue(false)" [disabled]="!garante.value.dni_pdf" *ngIf="garante.value.dni_editar">
                <mat-icon class="icono-documentos"> close </mat-icon>
              </button>
            </mat-grid-tile>
    
            <mat-grid-tile>
              <button mat-icon-button color="primary" (click)="garante.get('cip_editar').setValue(true)" [disabled]="!garante.value.cip_pdf" *ngIf="!garante.value.cip_editar">
                <mat-icon class="icono-documentos"> edit </mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="garante.get('cip_editar').setValue(false)" [disabled]="!garante.value.cip_pdf" *ngIf="garante.value.cip_editar">
                <mat-icon class="icono-documentos"> close </mat-icon>
              </button>
            </mat-grid-tile>
    
            <mat-grid-tile>
              <button mat-icon-button color="primary" (click)="garante.get('planilla_editar').setValue(true)" [disabled]="!garante.value.planilla_pdf" *ngIf="!garante.value.planilla_editar">
                <mat-icon class="icono-documentos"> edit </mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="garante.get('planilla_editar').setValue(false)" [disabled]="!garante.value.planilla_pdf" *ngIf="garante.value.planilla_editar">
                <mat-icon class="icono-documentos"> close </mat-icon>
              </button>
            </mat-grid-tile>
    
            <mat-grid-tile>
              <button mat-icon-button color="primary" (click)="garante.get('letra_editar').setValue(true)" [disabled]="!garante.value.letra_pdf" *ngIf="!garante.value.letra_editar">
                <mat-icon class="icono-documentos"> edit </mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="garante.get('letra_editar').setValue(false)" [disabled]="!garante.value.letra_pdf" *ngIf="garante.value.letra_editar">
                <mat-icon class="icono-documentos"> close </mat-icon>
              </button>
            </mat-grid-tile>
    
            <mat-grid-tile>
              <button mat-icon-button color="primary" (click)="garante.get('transaccion_editar').setValue(true)" [disabled]="!garante.value.transaccion_pdf" *ngIf="!garante.value.transaccion_editar">
                <mat-icon class="icono-documentos"> edit </mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="garante.get('transaccion_editar').setValue(false)" [disabled]="!garante.value.transaccion_pdf" *ngIf="garante.value.transaccion_editar">
                <mat-icon class="icono-documentos"> close </mat-icon>
              </button>
            </mat-grid-tile>

          </mat-grid-list>

          <mat-grid-list cols=5 rowHeight="20px" *ngIf="id_venta || id_venta_editar">
            <mat-grid-tile>
              DNI
            </mat-grid-tile>
    
            <mat-grid-tile>
              CIP
            </mat-grid-tile>
    
            <mat-grid-tile>
              Planilla
            </mat-grid-tile>
    
            <mat-grid-tile>
              Letra
            </mat-grid-tile>
    
            <mat-grid-tile>
              Transaccion
            </mat-grid-tile>
    
          </mat-grid-list>
    
          <mat-grid-list cols=5 rowHeight="60px" *ngIf="id_venta || id_venta_editar">
    
            <mat-grid-tile>
    
              <button mat-icon-button color="primary" [disabled]="!garante.value.dni_pdf" *ngIf="!garante.value.dni_editar">
                <mat-icon class="icono-documentos" (click)="AbrirDocumento(garante.value.dni_pdf)"> visibility </mat-icon>
              </button>

              <image-upload *ngIf="garante.value.dni_editar"
                class="cargar-imagen"
                [max]="1"
                url="{{ruta}}"
                [buttonCaption]="'DNI'"
                [extensions]="['png, jpg, jpeg']"
                [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
                (uploadFinished)="SubirDNIAval($event, i)">
              </image-upload>  

            </mat-grid-tile>
    
            <mat-grid-tile>
    
              <button mat-icon-button color="primary" [disabled]="!garante.value.cip_pdf" *ngIf="!garante.value.cip_editar">
                <mat-icon class="icono-documentos" (click)="AbrirDocumento(garante.value.cip_pdf)"> visibility </mat-icon>
              </button>

              <image-upload *ngIf="garante.value.cip_editar"
                class="cargar-imagen"
                [max]="1"
                url="{{ruta}}"
                [buttonCaption]="'CIP'"
                [extensions]="['png, jpg, jpeg']"
                [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
                (uploadFinished)="SubirCIPAval($event, i)">
              </image-upload>  

            </mat-grid-tile>
    
            <mat-grid-tile>
    
              <button mat-icon-button color="primary" [disabled]="!garante.value.planilla_pdf" *ngIf="!garante.value.planilla_editar">
                <mat-icon class="icono-documentos" (click)="AbrirDocumento(garante.value.planilla_pdf)"> visibility </mat-icon>
              </button>

              <image-upload *ngIf="garante.value.planilla_editar"
                class="cargar-imagen"
                [max]="1"
                url="{{ruta}}"
                [buttonCaption]="'DNI'"
                [extensions]="['png, jpg, jpeg']"
                [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
                (uploadFinished)="SubirPlanillaAval($event, i)">
              </image-upload>  

            </mat-grid-tile>
    
            <mat-grid-tile>
    
              <button mat-icon-button color="primary" [disabled]="!garante.value.letra_pdf" *ngIf="!garante.value.letra_editar">
                <mat-icon class="icono-documentos" (click)="AbrirDocumento(garante.value.letra_pdf)"> visibility </mat-icon>
              </button>

              <image-upload *ngIf="garante.value.letra_editar"
                class="cargar-imagen"
                [max]="1"
                url="{{ruta}}"
                [buttonCaption]="'Letra'"
                [extensions]="['png, jpg, jpeg']"
                [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
                (uploadFinished)="SubirLetraAval($event, i)">
              </image-upload>  

            </mat-grid-tile>
    
            <mat-grid-tile>
    
              <button mat-icon-button color="primary" [disabled]="!garante.value.transaccion_pdf" *ngIf="!garante.value.transaccion_editar">
                <mat-icon class="icono-documentos" (click)="AbrirDocumento(garante.value.transaccion_pdf)"> visibility </mat-icon>
              </button>

              <image-upload *ngIf="garante.value.transaccion_editar"
                class="cargar-imagen"
                [max]="1"
                url="{{ruta}}"
                [buttonCaption]="'Transacción'"
                [extensions]="['png, jpg, jpeg']"
                [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
                (uploadFinished)="SubirTransaccionAval($event, i)">
              </image-upload>  

            </mat-grid-tile>

          </mat-grid-list>

        </div>
      </div>
  
    </div>

    <!-- Venta -->
    <div class="seccion">

      <mat-card-subtitle class="titulo-seccion">
        DATOS DE LA VENTA
      </mat-card-subtitle>

      <mat-grid-list cols="4" rowHeight="70px">

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
             <input matInput [matDatepicker]="picker" placeholder="Fecha de venta" formControlName="fechaventa" [readonly]="id_venta">
             <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
             <mat-datepicker #picker [disabled]="id_venta"></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Pecosa" formControlName="pecosa" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Contrato" formControlName="contrato" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="2">
          <mat-form-field class="columnas-2">
             <input matInput placeholder="Lugar de venta" formControlName="lugar" [readonly]="id_venta">
          </mat-form-field>
        </mat-grid-tile>
        
        <mat-grid-tile colspan="2">
          <mat-form-field class="columnas-2">
             <input matInput placeholder="Observaciones" formControlName="observaciones" [readonly]="id_venta">
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>
    </div>

    <!-- Productos -->
    <div class="seccion">

      <mat-card-subtitle class="titulo-seccion">
        PRODUCTOS
      </mat-card-subtitle>

      <ng-container *ngIf="id_venta">
        <mat-grid-list cols="5" rowHeight="70px" *ngFor="let producto of Productos">

          <mat-grid-tile colspan="2">
            <mat-form-field class="columnas-2">
               <input matInput placeholder="Producto" [value]="producto.nombre" readonly>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="2">
            <mat-form-field class="columnas-2">
               <input matInput placeholder="IMEI" [value]="producto.serie" readonly>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="columnas-1">
              <input matInput placeholder="Precio" [value]="producto.precio" readonly>
              <span matPrefix>S/ &nbsp;</span>
            </mat-form-field>
          </mat-grid-tile>

        </mat-grid-list>
      </ng-container>

      <ng-container *ngIf="id_venta_editar">

        <mat-grid-list cols=1 rowHeight="50px">
          <mat-grid-tile>
            <button mat-mini-fab color="primary" (click)="AgregarProducto()" matTooltip="Agregar productos" type="button"><mat-icon>add</mat-icon></button>
          </mat-grid-tile>
        </mat-grid-list>

        <!-- Para productos antiguos -->
        <mat-grid-list cols="4" rowHeight="70px" *ngFor="let producto of Productos">

          <mat-grid-tile colspan="2">
            <mat-form-field class="columnas-2">
              <input matInput placeholder="Producto" [value]="producto.nombre + ' ---> ' + producto.serie" readonly [disabled]="producto.eliminar">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="1">
            <mat-form-field class="columnas-1">
              <input matInput placeholder="Precio" [(ngModel)]="producto.precio" [ngModelOptions]="{standalone: true}" #InputPrecio [disabled]="producto.eliminar">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <button  mat-icon-button type="button" color="primary" class="boton" matTooltip="Eliminar producto" (click)="DesactivarProducto(producto)" *ngIf="producto.eliminar!=true"><mat-icon>delete</mat-icon></button>
            <button  mat-icon-button type="button" color="accent" class="boton" matTooltip="Deshacer eliminar" (click)="ActivarProducto(producto)" *ngIf="producto.eliminar==true"><mat-icon>delete_forever</mat-icon></button>
          </mat-grid-tile>

        </mat-grid-list>

        <!-- Para nuevos productos -->
        <ng-container *ngIf="VentasSalidaForm['controls'].productos['controls'].length > 0">
          <div formArrayName="productos" *ngFor="let producto of VentasSalidaForm['controls'].productos['controls']; let i = index">
            <div [formGroupName]="i">
    
              <mat-grid-list cols="4" rowHeight="70px">
    
                <mat-grid-tile colspan=2 *ngIf="!producto.value.producto_descripcion">
                  <mat-form-field class="columnas-2">
                    <mat-select formControlName="producto" placeholder="Producto" (selectionChange)="ProductoSeleccionado($event, i)">
                      <mat-option *ngFor="let listado of ListadoProductos" [value]="listado"> {{listado.producto}} --> {{listado.serie}} </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
    
                <mat-grid-tile colspan="2" *ngIf="producto.value.producto_descripcion">
                  <mat-form-field class="columnas-2">
                    <input matInput placeholder="Producto" formControlName="producto_descripcion" readonly>
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile cols=2>
                  <mat-form-field class="columnas-1">
                    <input matInput type="text" formControlName="precio" placeholder="Precio" #InputPrecio>
                  </mat-form-field>
                </mat-grid-tile>
  
                <mat-grid-tile>
                  <button  mat-icon-button type="button" color="primary" class="boton" matTooltip="Eliminar producto" (click)="EliminarProducto(i)"><mat-icon>delete</mat-icon></button>
                </mat-grid-tile>
  
              </mat-grid-list>
    
            </div>
          </div>
        </ng-container>

      </ng-container>

    </div>

    <!-- Documento -->
    <div class="seccion">

      <mat-card-subtitle class="titulo-seccion">
        DATOS DEL DOCUMENTO
      </mat-card-subtitle>

      <mat-grid-list cols="4" rowHeight="70px">

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
             <input matInput [matDatepicker]="InputFechaPago" placeholder="Inicio de pagos" [min]="VentasSalidaForm.value.fechaventa" formControlName="fechapago" (dateChange)="CrearCronograma()"  readonly>
             <mat-datepicker-toggle matSuffix [for]="InputFechaPago"></mat-datepicker-toggle>
             <mat-datepicker #InputFechaPago [disabled]="id_venta"></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="id_venta">
          <mat-form-field class="columnas-1">
            <input matInput type="text" placeholder="Tipo de pago" formControlName="tipopago">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="id_venta_editar">
          <mat-form-field class="columnas-1">
            <mat-select placeholder='Tipo de pago' formControlName="tipopago" (selectionChange)="TipoPagoSeleccionado()">
              <mat-option *ngFor="let tipopago of ListadoTipoPago" [value] = "tipopago.id"> {{tipopago.nombre}} </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Cuota inicial" formControlName="inicial" #InputInicial [readonly]="id_venta">
            <mat-error>Solo debe ingresar valores númericos</mat-error>
            <span matPrefix>S/ &nbsp;</span>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput placeholder="N° de cuotas" maxlength=3 formControlName="cuotas" #InputCuota [readonly]="id_venta">
            <mat-error>Solo debe ingresar valores númericos</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Monto total" formControlName="montototal" readonly>
            <span matPrefix>S/ &nbsp;</span>
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>
    </div>

    <!-- Adjuntos -->
    <div class="seccion">
 
      <mat-card-subtitle class="titulo-seccion">
        DOCUMENTOS ADJUNTOS
      </mat-card-subtitle>
<!-- 
      <mat-grid-list cols=8 rowHeight="60px" *ngIf="id_venta_editar">

        <mat-grid-tile>
          <button mat-icon-button color="primary" (click)="foto_editar = true" [disabled]="!foto" *ngIf="!foto_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="foto_editar = false" [disabled]="!foto" *ngIf="foto_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-icon-button color="primary" (click)="dni_editar = true" [disabled]="!dni" *ngIf="!dni_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="dni_editar = false" [disabled]="!dni" *ngIf="dni_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-icon-button color="primary" (click)="cip_editar = true" [disabled]="!cip" *ngIf="!cip_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="cip_editar = false" [disabled]="!cip" *ngIf="cip_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-icon-button color="primary" (click)="contrato_editar = true" [disabled]="!contrato" *ngIf="!contrato_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="contrato_editar = false" [disabled]="!contrato" *ngIf="contrato_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-icon-button color="primary" (click)="transaccion_editar = true" [disabled]="!transaccion" *ngIf="!transaccion_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="transaccion_editar = false" [disabled]="!transaccion" *ngIf="transaccion_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-icon-button color="primary" (click)="planilla_editar = true" [disabled]="!planilla" *ngIf="!planilla_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="planilla_editar = false" [disabled]="!planilla" *ngIf="planilla_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-icon-button color="primary" (click)="letra_editar = true" [disabled]="!letra" *ngIf="!letra_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="letra_editar = false" [disabled]="!letra" *ngIf="letra_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-icon-button color="primary"  (click)="autorizacion_editar = true" [disabled]="!autorizacion" *ngIf="!autorizacion_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary"  (click)="autorizacion_editar = false" [disabled]="!autorizacion" *ngIf="autorizacion_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="8" rowHeight="100px" *ngIf="id_venta_editar">

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Foto'"
            [extensions]="['png, jpg, jpeg']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirFoto($event)">
          </image-upload>  
        </mat-grid-tile>

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'DNI'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirDNI($event)">
          </image-upload>  
        </mat-grid-tile>

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'CIP'"
            [dropBoxMessage]="'o arrastrelo'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirCIP($event)">
          </image-upload>  
        </mat-grid-tile>

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Contrato'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirContrato($event)">
          </image-upload>  
        </mat-grid-tile>

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Transacción'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirTransaccion($event)">
          </image-upload>  
        </mat-grid-tile>

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Planilla'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirPlanilla($event)">
          </image-upload>  
        </mat-grid-tile>

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Letra'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirLetra($event)">
          </image-upload>  
        </mat-grid-tile>

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Autorización'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirAutorizacion($event)">
          </image-upload>  
        </mat-grid-tile>
      </mat-grid-list> -->

      <mat-grid-list cols=8 rowHeight="60px" *ngIf="id_venta_editar">

        <mat-grid-tile>
          <button mat-icon-button color="primary" (click)="foto_editar = true" [disabled]="!foto" *ngIf="!foto_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="foto_editar = false" [disabled]="!foto" *ngIf="foto_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-icon-button color="primary" (click)="dni_editar = true" [disabled]="!dni" *ngIf="!dni_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="dni_editar = false" [disabled]="!dni" *ngIf="dni_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-icon-button color="primary" (click)="cip_editar = true" [disabled]="!cip" *ngIf="!cip_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="cip_editar = false" [disabled]="!cip" *ngIf="cip_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-icon-button color="primary" (click)="contrato_editar = true" [disabled]="!contrato" *ngIf="!contrato_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="contrato_editar = false" [disabled]="!contrato" *ngIf="contrato_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-icon-button color="primary" (click)="transaccion_editar = true" [disabled]="!transaccion" *ngIf="!transaccion_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="transaccion_editar = false" [disabled]="!transaccion" *ngIf="transaccion_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-icon-button color="primary" (click)="planilla_editar = true" [disabled]="!planilla" *ngIf="!planilla_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="planilla_editar = false" [disabled]="!planilla" *ngIf="planilla_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-icon-button color="primary" (click)="letra_editar = true" [disabled]="!letra" *ngIf="!letra_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="letra_editar = false" [disabled]="!letra" *ngIf="letra_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-icon-button color="primary"  (click)="autorizacion_editar = true" [disabled]="!autorizacion" *ngIf="!autorizacion_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary"  (click)="autorizacion_editar = false" [disabled]="!autorizacion" *ngIf="autorizacion_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols=8 rowHeight="20px" *ngIf="id_venta || id_venta_editar">

        <mat-grid-tile>
          Foto
        </mat-grid-tile>

        <mat-grid-tile>
          DNI
        </mat-grid-tile>

        <mat-grid-tile>
          CIP
        </mat-grid-tile>

        <mat-grid-tile>
          Contrato
        </mat-grid-tile>

        <mat-grid-tile>
          Transacción
        </mat-grid-tile>

        <mat-grid-tile>
          Planilla
        </mat-grid-tile>

        <mat-grid-tile>
          Letra
        </mat-grid-tile>

        <mat-grid-tile>
          Autorización
        </mat-grid-tile>

      </mat-grid-list>

      <mat-grid-list cols=8 rowHeight="60px" *ngIf="id_venta || id_venta_editar">

        <mat-grid-tile>

          <button mat-icon-button color="primary" [disabled]="!foto"  *ngIf="!foto_editar">
            <mat-icon class="icono-documentos" (click)="AbrirDocumento(foto)"> visibility </mat-icon>
          </button>

          <image-upload  *ngIf="foto_editar"
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Adjuntar'"
            [extensions]="['png, jpg, jpeg']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirFoto($event)">
          </image-upload>  

        </mat-grid-tile>

        <mat-grid-tile>

          <button mat-icon-button color="primary" [disabled]="!dni"  *ngIf="!dni_editar">
            <mat-icon class="icono-documentos" (click)="AbrirDocumento(dni)"> visibility </mat-icon>
          </button>

          <image-upload  *ngIf="dni_editar"
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Adjuntar'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirDNI($event)">
          </image-upload>  

        </mat-grid-tile>

        <mat-grid-tile>

          <button mat-icon-button color="primary" [disabled]="!cip" *ngIf="!cip_editar">
            <mat-icon class="icono-documentos" (click)="AbrirDocumento(cip)"> visibility </mat-icon>
          </button>

          <image-upload *ngIf="cip_editar"
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Adjuntar'"
            [dropBoxMessage]="'o arrastrelo'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirCIP($event)">
          </image-upload>  

        </mat-grid-tile>

        <mat-grid-tile>

          <button mat-icon-button color="primary" [disabled]="!contrato" *ngIf="!contrato_editar">
            <mat-icon class="icono-documentos" (click)="AbrirDocumento(contrato)"> visibility </mat-icon>
          </button>

          <image-upload *ngIf="contrato_editar"
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Adjuntar'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirContrato($event)">
          </image-upload>

        </mat-grid-tile>

        <mat-grid-tile>

          <button mat-icon-button color="primary" [disabled]="!transaccion" *ngIf="!transaccion_editar">
            <mat-icon class="icono-documentos" (click)="AbrirDocumento(transaccion)"> visibility </mat-icon>
          </button>

          <image-upload *ngIf="transaccion_editar"
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Adjuntar'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirTransaccion($event)">
          </image-upload>  

        </mat-grid-tile>

        <mat-grid-tile>

          <button mat-icon-button color="primary" [disabled]="!planilla" *ngIf="!planilla_editar">
            <mat-icon class="icono-documentos" (click)="AbrirDocumento(planilla)"> visibility </mat-icon>
          </button> 

          <image-upload *ngIf="planilla_editar"
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Adjuntar'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirPlanilla($event)">
          </image-upload>  

        </mat-grid-tile>

        <mat-grid-tile>

          <button mat-icon-button color="primary" [disabled]="!letra" *ngIf="!letra_editar">
            <mat-icon class="icono-documentos" (click)="AbrirDocumento(letra)"> visibility </mat-icon>
          </button>

          <image-upload *ngIf="letra_editar"
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Adjuntar'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirLetra($event)">
          </image-upload>  

        </mat-grid-tile>

        <mat-grid-tile>

          <button mat-icon-button color="primary" [disabled]="!autorizacion" *ngIf="!autorizacion_editar">
            <mat-icon class="icono-documentos" (click)="AbrirDocumento(autorizacion)"> visibility </mat-icon>
          </button>

          <image-upload
            class="cargar-imagen" *ngIf="autorizacion_editar"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Adjuntar'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirAutorizacion($event)">
          </image-upload>

        </mat-grid-tile>
      </mat-grid-list> 
    </div>

    <!-- Cronograma -->
    <div class="seccion" *ngIf="VentasSalidaForm.value.tipopago!='Contado'">

      <mat-card-subtitle class="titulo-seccion">
        CRONOGRAMA
        <button mat-icon-button class="icono" *ngIf="id_venta_editar && editar_cronograma>1" (click)="EditarCronograma(1)"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button class="icono" *ngIf="id_venta_editar && editar_cronograma==1" (click)="EditarCronograma(2)"><mat-icon>check</mat-icon></button>
      </mat-card-subtitle>

      <ng-container>
        <mat-table [dataSource]="ListadoVentas" class="mat-elevation-z8" matSort matSortActive="fecha_vencimiento" matSortDirection="asc" matSortDisableClear>

          <ng-container matColumnDef="numero">
            <mat-header-cell *matHeaderCellDef> N° </mat-header-cell>
            <mat-cell *matCellDef="let cronograma"> {{cronograma.numero}} </mat-cell>
          </ng-container>

          <!-- Sin el sort -->
          <ng-container matColumnDef="monto_cuota_ver">
            <mat-header-cell *matHeaderCellDef> Monto </mat-header-cell>
            <mat-cell *matCellDef="let cronograma">

              <ng-container *ngIf="editar_cronograma>1 || cronograma.numero==0">
                {{ cronograma.monto_cuota | currency:'S/.' }}
              </ng-container>
              <ng-container *ngIf="editar_cronograma==1 && cronograma.numero>0">
                <input type="text" [(ngModel)]="cronograma.monto_cuota" [ngModelOptions]="{standalone: true}">
              </ng-container>

            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fecha_vencimiento_ver">
            <mat-header-cell *matHeaderCellDef> Vencimiento </mat-header-cell>
            <mat-cell *matCellDef="let cronograma">
              {{ cronograma.fecha_vencimiento | date: 'dd/MM/yyyy' }}
            </mat-cell>
          </ng-container>

          <!-- Con el sort -->
          <ng-container matColumnDef="monto_cuota">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Monto </mat-header-cell>
            <mat-cell *matCellDef="let cronograma"> {{cronograma.monto_cuota | currency:'S/.' }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fecha_vencimiento">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Vencimiento </mat-header-cell>
            <mat-cell *matCellDef="let cronograma"> {{cronograma.fecha_vencimiento | date: 'dd/MM/yyyy'}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="monto_interes">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Interés </mat-header-cell>
            <mat-cell *matCellDef="let cronograma"> {{cronograma.monto_interes | currency:'S/.'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="monto_pagado">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Total pagado </mat-header-cell>
            <mat-cell *matCellDef="let cronograma"> {{cronograma.monto_pagado | currency:'S/.'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="fecha_cancelacion">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de cancelación </mat-header-cell>
            <mat-cell *matCellDef="let cronograma"> {{cronograma.fecha_cancelacion | date: 'dd/MM/yyyy'}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="monto_pendiente">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Pendiente de pago </mat-header-cell>
            <mat-cell *matCellDef="let cronograma"> {{cronograma.monto_pendiente | currency:'S/.'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="estado">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
            <mat-cell *matCellDef="let cronograma"> {{cronograma.estado==1 ? "Por pagar" : "Pagado" }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="opciones">
            <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
            <mat-cell *matCellDef="let cronograma">
              <button mat-icon-button color="primary" [disabled]="cronograma.monto_pagado==0" (click)="VerDetallePagos(cronograma)"> <mat-icon> visibility </mat-icon> </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="Columnas"></mat-header-row>
          <mat-row *matRowDef="let row; columns: Columnas;"></mat-row>

        </mat-table>
      </ng-container>

      <mat-error class="error-monto" *ngIf="diferencia>0.2 && editar_cronograma<3">Las cuotas deben sumar {{VentasSalidaForm.value.montototal}}</mat-error>

    </div>

    <mat-card-actions *ngIf="id_venta_editar">
      <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
          <button mat-raised-button color="primary" (click)="GuardarVenta(VentasSalidaForm)" [disabled]="VentasSalidaForm.invalid || diferencia>0.2"> Guardar </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-actions>

  </form>
</mat-card>