<mat-card>

  <button mat-mini-fab type="button" color="primary" (click)="Atras()"><mat-icon>keyboard_arrow_left</mat-icon></button>

  <mat-card-title class="tituloProd">Venta {{VentasSalidaForm.value.pecosa}}</mat-card-title>

  <form [formGroup]="VentasSalidaForm">

    <div class = "spinner-container" *ngIf = "Cargando| async">
      <mat-spinner></mat-spinner>
    </div>
    
    <!-- Cliente -->
    <div class="seccion">

      <mat-card-subtitle class="titulo-seccion">
        DATOS DEL CLIENTE
      </mat-card-subtitle>

      <mat-grid-list cols="4" rowHeight="70px">

        <mat-grid-tile colspan="2">
          <mat-form-field class="columnas-2">
            <input placeholder="Cliente" matInput formControlName="cliente" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
             <input matInput placeholder="Cargo" formControlName="cargo" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
             <input matInput placeholder="Centro de Trabajo" formControlName="trabajo" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="2">
          <mat-form-field class="columnas-2">
             <input matInput placeholder="Domicilio" formControlName="domicilio" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Teléfono" formControlName="telefono" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-checkbox color="primary" formControlName="garante">Garante</mat-checkbox>
        </mat-grid-tile>

      </mat-grid-list>
    </div>

    <!-- Garante -->
    <div class="seccion" *ngIf="VentasSalidaForm.value.garante">

      <mat-card-subtitle class="titulo-seccion">
        DATOS DEL GARANTE
      </mat-card-subtitle>

      <mat-grid-list cols="4" rowHeight="70px">

        <mat-grid-tile colspan="2">
          <mat-form-field class="columnas-2">
            <input #Garante placeholder="Garante" matInput>
<!--             <mat-autocomplete #auto2="matAutocomplete" [displayWith] = "displayCliente">
              <mat-option *ngFor="let cliente of LstCliente" [value]="cliente">
                {{cliente.nombre}}
              </mat-option>
            </mat-autocomplete> -->
          </mat-form-field>
        </mat-grid-tile>

<!--         <mat-grid-tile>
          <mat-form-field class="columnas-1">
             <input matInput placeholder="Cargo" formControlName="cargo" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
             <input matInput placeholder="Centro de Trabajo" formControlName="trabajo" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="2">
          <mat-form-field class="columnas-2">
             <input matInput placeholder="Domicilio" formControlName="domicilio" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Teléfono" formControlName="telefono" readonly>
          </mat-form-field>
        </mat-grid-tile> -->

      </mat-grid-list>
    </div>

    <!-- Venta -->
    <div class="seccion">

      <mat-card-subtitle class="titulo-seccion">
        DATOS DE LA VENTA
      </mat-card-subtitle>

      <mat-grid-list cols="4" rowHeight="70px">

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
             <input matInput [matDatepicker]="picker" placeholder="Fecha de venta" formControlName="fechaventa" readonly>
             <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
             <mat-datepicker #picker [disabled]="true"></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Pecosa" formControlName="pecosa" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Contrato" formControlName="contrato" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="4">
          <mat-form-field class="columnas-4">
             <input matInput placeholder="Observaciones" formControlName="observaciones" readonly>
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>
    </div>

    <!-- Productos -->
    <div class="seccion">

      <mat-card-subtitle class="titulo-seccion">
        PRODUCTOS
      </mat-card-subtitle>

      <ng-container>
        <mat-grid-list cols="5" rowHeight="70px" *ngFor="let producto of Productos">

          <mat-grid-tile colspan="2">
            <mat-form-field class="columnas-2">
               <input matInput placeholder="Producto" [value]="producto.nombre" readonly>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="2">
            <mat-form-field class="columnas-2">
               <input matInput placeholder="IMEI" [value]="producto.serie" readonly>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="columnas-1">
              <input matInput placeholder="Precio" [value]="producto.precio" readonly>
              <span matPrefix>S/ &nbsp;</span>
            </mat-form-field>
          </mat-grid-tile>

        </mat-grid-list>
      </ng-container>
    </div>

    <!-- Documento -->
    <div class="seccion">

      <mat-card-subtitle class="titulo-seccion">
        DATOS DEL DOCUMENTO
      </mat-card-subtitle>

      <mat-grid-list cols="4" rowHeight="70px">

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
             <input matInput [matDatepicker]="InputFechaPago" placeholder="Inicio de pagos" [min]="VentasSalidaForm.value.fechaventa" formControlName="fechapago" (dateChange)="CrearCronograma()"  readonly>
             <mat-datepicker-toggle matSuffix [for]="InputFechaPago"></mat-datepicker-toggle>
             <mat-datepicker #InputFechaPago [disabled]="true"></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput type="text" placeholder="Tipo de pago" formControlName="tipopago" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Cuota inicial" formControlName="inicial" #InputInicial readonly>
            <mat-error>Solo debe ingresar valores númericos</mat-error>
            <span matPrefix>S/ &nbsp;</span>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput placeholder="N° de cuotas" maxlength=3 formControlName="cuotas" #InputCuota readonly>
            <mat-error>Solo debe ingresar valores númericos</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Monto total" formControlName="montototal" readonly>
            <span matPrefix>S/ &nbsp;</span>
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>
    </div>

    <!-- Adjuntos -->
    <div class="seccion">
 
      <mat-card-subtitle class="titulo-seccion">
        DOCUMENTOS ADJUNTOS
      </mat-card-subtitle>

      <mat-grid-list cols="8" rowHeight="100px">

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Foto'"
            [extensions]="['png, jpg, jpeg']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirFoto($event)">
          </image-upload>  
        </mat-grid-tile>

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'DNI'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirDNI($event)">
          </image-upload>  
        </mat-grid-tile>

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'CIP'"
            [dropBoxMessage]="'o arrastrelo'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirCIP($event)">
          </image-upload>  
        </mat-grid-tile>

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Contrato'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirContrato($event)">
          </image-upload>  
        </mat-grid-tile>

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Transacción'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirTransaccion($event)">
          </image-upload>  
        </mat-grid-tile>

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Planilla'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirPlanilla($event)">
          </image-upload>  
        </mat-grid-tile>

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Letra'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirLetra($event)">
          </image-upload>  
        </mat-grid-tile>

        <mat-grid-tile>
          <image-upload
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Autorización'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirAutorizacion($event)">
          </image-upload>  
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols=8 rowHeight="60px">

        <mat-grid-tile>
          <button mat-icon-button color="primary" (click)="EditarFoto()" [disabled]="!foto" *ngIf="!foto_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="NoEditarFoto()" [disabled]="!foto" *ngIf="foto_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-icon-button color="primary" (click)="EditarDni()" [disabled]="!dni" *ngIf="!dni_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="NoEditarDni()" [disabled]="!dni" *ngIf="dni_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-icon-button color="primary" (click)="EditarCip()" [disabled]="!cip" *ngIf="!cip_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="NoEditarCip()" [disabled]="!cip" *ngIf="cip_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-icon-button color="primary" (click)="EditarContrato()" [disabled]="!contrato" *ngIf="!contrato_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="NoEditarContrato()" [disabled]="!contrato" *ngIf="contrato_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-icon-button color="primary" (click)="EditarTransaccion()" [disabled]="!transaccion" *ngIf="!transaccion_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="NoEditarTransaccion()" [disabled]="!transaccion" *ngIf="transaccion_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-icon-button color="primary" (click)="EditarPlanilla()" [disabled]="!planilla" *ngIf="!planilla_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="NoEditarPlanilla()" [disabled]="!planilla" *ngIf="planilla_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-icon-button color="primary" (click)="EditarEditar()" [disabled]="!letra" *ngIf="!letra_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="NoEditarEditar()" [disabled]="!letra" *ngIf="letra_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-icon-button color="primary"  (click)="EditarAutorizacion()" [disabled]="!autorizacion" *ngIf="!autorizacion_editar">
            <mat-icon class="icono-documentos"> edit </mat-icon>
          </button>
          <button mat-icon-button color="primary"  (click)="NoEditarAutorizacion()" [disabled]="!autorizacion" *ngIf="autorizacion_editar">
            <mat-icon class="icono-documentos"> close </mat-icon>
          </button>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols=8 rowHeight="20px">

        <mat-grid-tile>
          Foto
        </mat-grid-tile>

        <mat-grid-tile>
          DNI
        </mat-grid-tile>

        <mat-grid-tile>
          CIP
        </mat-grid-tile>

        <mat-grid-tile>
          Contrato
        </mat-grid-tile>

        <mat-grid-tile>
          Transacción
        </mat-grid-tile>

        <mat-grid-tile>
          Planilla
        </mat-grid-tile>

        <mat-grid-tile>
          Letra
        </mat-grid-tile>

        <mat-grid-tile>
          Autorización
        </mat-grid-tile>

      </mat-grid-list>

      <mat-grid-list cols=8 rowHeight="60px">

        <mat-grid-tile>

          <button mat-icon-button color="primary" [disabled]="!foto"  *ngIf="!foto_editar">
            <mat-icon class="icono-documentos" (click)="AbrirDocumento(foto)"> visibility </mat-icon>
          </button>

          <image-upload  *ngIf="foto_editar"
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Adjuntar'"
            [extensions]="['png, jpg, jpeg']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirFoto($event)">
          </image-upload>  

        </mat-grid-tile>

        <mat-grid-tile>

          <button mat-icon-button color="primary" [disabled]="!dni"  *ngIf="!dni_editar">
            <mat-icon class="icono-documentos" (click)="AbrirDocumento(dni)"> visibility </mat-icon>
          </button>

          <image-upload  *ngIf="dni_editar"
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Adjuntar'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirDNI($event)">
          </image-upload>  

        </mat-grid-tile>

        <mat-grid-tile>

          <button mat-icon-button color="primary" [disabled]="!cip" *ngIf="!cip_editar">
            <mat-icon class="icono-documentos" (click)="AbrirDocumento(cip)"> visibility </mat-icon>
          </button>

          <image-upload *ngIf="cip_editar"
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Adjuntar'"
            [dropBoxMessage]="'o arrastrelo'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirCIP($event)">
          </image-upload>  

        </mat-grid-tile>

        <mat-grid-tile>

          <button mat-icon-button color="primary" [disabled]="!contrato" *ngIf="!contrato_editar">
            <mat-icon class="icono-documentos" (click)="AbrirDocumento(contrato)"> visibility </mat-icon>
          </button>

          <image-upload *ngIf="contrato_editar"
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Adjuntar'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirContrato($event)">
          </image-upload>

        </mat-grid-tile>

        <mat-grid-tile>

          <button mat-icon-button color="primary" [disabled]="!transaccion" *ngIf="!transaccion_editar">
            <mat-icon class="icono-documentos" (click)="AbrirDocumento(transaccion)"> visibility </mat-icon>
          </button>

          <image-upload *ngIf="transaccion_editar"
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Adjuntar'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirTransaccion($event)">
          </image-upload>  

        </mat-grid-tile>

        <mat-grid-tile>

          <button mat-icon-button color="primary" [disabled]="!planilla" *ngIf="!planilla_editar">
            <mat-icon class="icono-documentos" (click)="AbrirDocumento(planilla)"> visibility </mat-icon>
          </button> 

          <image-upload *ngIf="planilla_editar"
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Adjuntar'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirPlanilla($event)">
          </image-upload>  

        </mat-grid-tile>

        <mat-grid-tile>

          <button mat-icon-button color="primary" [disabled]="!letra" *ngIf="!letra_editar">
            <mat-icon class="icono-documentos" (click)="AbrirDocumento(letra)"> visibility </mat-icon>
          </button>

          <image-upload *ngIf="letra_editar"
            class="cargar-imagen"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Adjuntar'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirLetra($event)">
          </image-upload>  

        </mat-grid-tile>

        <mat-grid-tile>

          <button mat-icon-button color="primary" [disabled]="!autorizacion" *ngIf="!autorizacion_editar">
            <mat-icon class="icono-documentos" (click)="AbrirDocumento(autorizacion)"> visibility </mat-icon>
          </button>

          <image-upload
            class="cargar-imagen" *ngIf="autorizacion_editar"
            [max]="1"
            url="{{ruta}}"
            [buttonCaption]="'Adjuntar'"
            [extensions]="['pdf']"
            [fileTooLargeMessage]="'El archivo debe pesar menos de 1MB'"
            (uploadFinished)="SubirAutorizacion($event)">
          </image-upload>

        </mat-grid-tile>
      </mat-grid-list> 
    </div>

    <!-- Cronograma -->
    <div class="seccion" *ngIf="VentasSalidaForm.value.tipopago!='Contado'">

      <mat-card-subtitle class="titulo-seccion">
        CRONOGRAMA
        <!-- <button mat-icon-button class="icono" *ngIf="!idventa && editar_cronograma>1" (click)="EditarCronograma(1)"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button class="icono" *ngIf="!idventa && editar_cronograma==1" (click)="EditarCronograma(2)"><mat-icon>check</mat-icon></button> -->
      </mat-card-subtitle>

      <ng-container>
        <mat-table [dataSource]="ListadoVentas" class="mat-elevation-z8">

          <ng-container matColumnDef="numero">
            <mat-header-cell *matHeaderCellDef> N° </mat-header-cell>
            <mat-cell *matCellDef="let cronograma"> {{cronograma.numero}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="monto_cuota">
            <mat-header-cell *matHeaderCellDef> Monto </mat-header-cell>
            <mat-cell *matCellDef="let cronograma"> {{cronograma.monto_cuota | currency:'S/.' }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fecha_vencimiento">
            <mat-header-cell *matHeaderCellDef> Vencimiento </mat-header-cell>
            <mat-cell *matCellDef="let cronograma"> {{cronograma.fecha_vencimiento | date: 'MM/yyyy'}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="monto_interes">
            <mat-header-cell *matHeaderCellDef> Interés </mat-header-cell>
            <mat-cell *matCellDef="let cronograma"> {{cronograma.monto_interes | currency:'S/.'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="monto_pagado">
            <mat-header-cell *matHeaderCellDef> Total pagado </mat-header-cell>
            <mat-cell *matCellDef="let cronograma"> {{cronograma.monto_pagado | currency:'S/.'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="fecha_cancelacion">
            <mat-header-cell *matHeaderCellDef> Fecha de cancelación </mat-header-cell>
            <mat-cell *matCellDef="let cronograma"> {{cronograma.fecha_cancelacion | date: 'dd/MM/yyyy'}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="monto_pendiente">
            <mat-header-cell *matHeaderCellDef> Pendiente de pago </mat-header-cell>
            <mat-cell *matCellDef="let cronograma"> {{cronograma.monto_pendiente | currency:'S/.'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="estado">
            <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
            <mat-cell *matCellDef="let cronograma"> {{cronograma.estado==1 ? "Por pagar" : "Pagado" }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="opciones">
            <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
            <mat-cell *matCellDef="let cronograma">
              <button mat-icon-button color="primary" (click)="VerDetallePagos(cronograma)" [disabled]="cronograma.numero==0"> <mat-icon> visibility </mat-icon> </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="Columnas"></mat-header-row>
          <mat-row *matRowDef="let row; columns: Columnas;"></mat-row>

        </mat-table>
      </ng-container>

      <!-- <mat-error class="error-monto" *ngIf="total_cronograma_editado!=VentasSalidaForm.value.montototal && editar_cronograma<3">Las cuotas deben sumar {{VentasSalidaForm.value.montototal}}</mat-error> -->

    </div>

    <!-- <mat-card-actions>
      <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
          <button mat-raised-button color="primary"> Guardar </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-actions> -->

  </form>
</mat-card>