<mat-card class="card">

  <mat-toolbar color="primary">
    <mat-toolbar-row> Cuotas pendientes </mat-toolbar-row>
  </mat-toolbar>

	<mat-card-content>
    <div class = "spinner-container" *ngIf = "ListadoCronograma.Cargando| async">
      <mat-spinner></mat-spinner>
    </div>

    <mat-table [dataSource]="ListadoCronograma" class="mat-elevation-z8">

      <ng-container matColumnDef="numero">
        <mat-header-cell *matHeaderCellDef> N° </mat-header-cell>
        <mat-cell *matCellDef="let transacccion"> {{transacccion.numero}}  </mat-cell>
      </ng-container>

      <ng-container matColumnDef="identificador">
        <mat-header-cell *matHeaderCellDef> Transaccion </mat-header-cell>
        <mat-cell *matCellDef="let transacccion"> {{transacccion.identificador}}  </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fecha_transaccion">
        <mat-header-cell *matHeaderCellDef> Fecha de la transaccion </mat-header-cell>
        <mat-cell *matCellDef="let transacccion"> {{transacccion.fecha_transaccion | date:"dd/MM/yyyy"}}  </mat-cell>
      </ng-container>

      <ng-container matColumnDef="ultima_fecha_pago">
        <mat-header-cell *matHeaderCellDef> Ultima fecha de pago </mat-header-cell>
        <mat-cell *matCellDef="let transacccion"> 
          <ng-container *ngIf="transacccion.ultima_fecha_pago">
            {{transacccion.ultima_fecha_pago | date:"dd/MM/yyyy"}}
          </ng-container>
          <ng-container *ngIf="!transacccion.ultima_fecha_pago">
            -
          </ng-container>
        </mat-cell>
	    </ng-container>

      <ng-container matColumnDef="meses_sin_pagar">
        <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
        <mat-cell *matCellDef="let transacccion"> {{transacccion.meses_sin_pagar}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="opciones">
        <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
        <mat-cell *matCellDef="let transacccion">
          <button mat-icon-button matTooltip="Ver detalle" color="primary" (click)="VerTransaccion(transacccion)"><mat-icon> visibility </mat-icon></button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="Columnas"></mat-header-row>
      <mat-row *matRowDef="let row; columns: Columnas;"></mat-row>
    </mat-table>

    <mat-paginator [length]="ListadoCronograma.TotalResultados | async" [pageSize]="5"></mat-paginator>

	</mat-card-content>

</mat-card>
