<mat-card class="card">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      Agregar documento
      <span class="derecha">
        {{ VentanaJudicialForm.value.tipo_documento_nombre }}&nbsp;{{ VentanaJudicialForm.value.numero_resolucion }}
      </span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class = "spinner-container" *ngIf = "Cargando| async">
    <mat-spinner></mat-spinner>
  </div>

  <form [formGroup]="VentanaJudicialForm">
    <mat-card-content>
      <mat-grid-list cols=1 rowHeight="55px">
        <mat-grid-tile *ngIf="ver">
          <button type="button" mat-raised-button class="boton-tipo-1" *ngIf="VentanaJudicialForm.value.tipo_documento == 2"> Escrito </button>
          &nbsp;
          <button type="button" mat-raised-button class="boton-tipo-2" *ngIf="VentanaJudicialForm.value.tipo_documento == 3"> Resolución </button>
          &nbsp;
          <button type="button" mat-raised-button class="boton-tipo-3" *ngIf="VentanaJudicialForm.value.tipo_documento == 4"> Oficio </button>
          &nbsp;
          <button type="button" mat-raised-button class="boton-tipo-4" *ngIf="VentanaJudicialForm.value.tipo_documento == 5"> Devolución </button>
          &nbsp;
          <button type="button" mat-raised-button class="boton-tipo-5" *ngIf="VentanaJudicialForm.value.tipo_documento == 6"> Nota </button>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="!ver">
          <button type="button" mat-raised-button [ngClass]="{'boton-tipo-1' : VentanaJudicialForm.value.tipo_documento == 2}" (click)="TipoDocumentoSeleccionado(2)"> Escrito </button>
          &nbsp;
          <button type="button" mat-raised-button [ngClass]="{'boton-tipo-2' : VentanaJudicialForm.value.tipo_documento == 3}" (click)="TipoDocumentoSeleccionado(3)"> Resolución </button>
          &nbsp;
          <button type="button" mat-raised-button [ngClass]="{'boton-tipo-3' : VentanaJudicialForm.value.tipo_documento == 4}" (click)="TipoDocumentoSeleccionado(4)"> Oficio </button>
          &nbsp;
          <button type="button" mat-raised-button [ngClass]="{'boton-tipo-4' : VentanaJudicialForm.value.tipo_documento == 5}" (click)="TipoDocumentoSeleccionado(5)"> Devolución </button>
          &nbsp;
          <button type="button" mat-raised-button [ngClass]="{'boton-tipo-5' : VentanaJudicialForm.value.tipo_documento == 6}" (click)="TipoDocumentoSeleccionado(6)"> Nota </button>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols=2 rowHeight="70px">
        <!-- <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <mat-select placeholder="Tipo de documento" formControlName="tipo_documento" (selectionChange)="TipoDocumentoSeleccionado()">
              <mat-option *ngFor="let tipo of TipoDocumentos" [value]="tipo.id"> {{tipo.nombre}} </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile> -->

        <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput [matDatepicker]="FechaInicio" placeholder="Fecha" formControlName="fecha" [readonly]="primer_documento || ver">
            <mat-datepicker-toggle matSuffix [for]="FechaInicio"></mat-datepicker-toggle>
            <mat-datepicker #FechaInicio [disabled]="primer_documento || ver"></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>

        <!-- <mat-grid-tile>
          <mat-form-field class="columnas-1">
            <input matInput type="number" placeholder="Número de documento" formControlName="numero_resolucion" readonly>
          </mat-form-field>
        </mat-grid-tile> -->

        <mat-grid-tile colspan=1 *ngIf="ver">
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Trabajador" formControlName="trabajador" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 *ngIf="!ver">
          <mat-form-field class="columnas-1">
            <mat-select placeholder="Trabajador" formControlName="trabajador">
              <mat-option [value]="0"> No aplica </mat-option>
              <mat-option *ngFor="let trabajador of Trabajadores" [value]="trabajador.id"> {{trabajador.nombre}} </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="ver">
          <mat-form-field class="columnas-1">
            <input matInput placeholder="Estado" formControlName="estado" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="!ver">
          <mat-form-field class="columnas-1">
            <mat-select placeholder="Estado" formControlName="estado">
              <mat-option [value]="0"> No aplica </mat-option>
              <mat-option *ngFor="let estado of Estados" [value]="estado.id"> {{estado.nombre}} </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <ng-container *ngIf="ver">
          <mat-grid-tile>
            <button mat-icon-button color="primary" type="button">
              <mat-icon class="icono-documentos" (click)="AbrirDocumento(archivo_nombre_antiguo_enlace)"> visibility </mat-icon>
            </button>
          </mat-grid-tile>
        </ng-container>

        <ng-container *ngIf="!ver">
          <mat-grid-tile colspan=1 *ngIf="!editar">
            <ng-container *ngIf="!archivo">
              <input hidden #uploader type="file" (change)="SubirArchivo($event.target.files)">
              <button mat-raised-button type="button" (click)="uploader.click()"> Seleccionar archivo </button>
            </ng-container>
            <ng-container *ngIf="archivo">
              <span> {{ archivo_nombre }} </span>
              &nbsp;
              <button type="button" mat-icon-button color="primary" (click)="RemoverArchivo()"> <mat-icon> remove_circle_outline </mat-icon> </button>
            </ng-container>
          </mat-grid-tile>
  
          <mat-grid-tile colspan=1 *ngIf="editar">
            <button mat-icon-button color="primary" type="button" (click)="editar_archivo = !editar_archivo" [disabled]="!archivo_nombre_antiguo" *ngIf="!editar_archivo">
              <mat-icon class="icono-documentos"> edit </mat-icon>
            </button>
            <button mat-icon-button color="primary" type="button" (click)="editar_archivo = !editar_archivo" [disabled]="!archivo_nombre_antiguo" *ngIf="editar_archivo">
              <mat-icon class="icono-documentos"> close </mat-icon>
            </button>
  
            <button mat-icon-button color="primary" type="button" [disabled]="!archivo_nombre_antiguo_enlace" *ngIf="!editar_archivo && archivo_nombre_antiguo">
              <mat-icon class="icono-documentos" (click)="AbrirDocumento(archivo_nombre_antiguo_enlace)"> visibility </mat-icon>
            </button>
            
            <ng-container *ngIf="!archivo_nombre && editar_archivo">
              <input hidden #uploader type="file" (change)="SubirArchivo($event.target.files)">
              <button mat-raised-button type="button" (click)="uploader.click()"> Seleccionar archivo </button>
            </ng-container>
            <ng-container *ngIf="archivo_nombre">
              <span> {{ archivo_nombre }} </span>
              &nbsp;
              <button type="button" mat-icon-button color="primary" (click)="RemoverArchivo()"> <mat-icon> remove_circle_outline </mat-icon> </button>
            </ng-container>
          </mat-grid-tile>
        </ng-container>

        <mat-grid-tile colspan="2">
          <mat-form-field class="columnas-2">
            <input matInput type="text" placeholder="Comentarios" formControlName="comentarios" [readonly]="ver">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan=2 rowspan=2>
          <mat-form-field class="columnas-2">
            <textarea matInput type="text" placeholder="Sumilla" formControlName="sumilla" [readonly]="ver"></textarea>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>

    <mat-card-actions *ngIf="!ver">
      <mat-grid-list cols=1 rowHeight="40px">
        <mat-grid-tile>
          <button mat-raised-button color="primary" class="boton" (click)="Guardar()" type="button" [disabled]="(Cargando | async) || VentanaJudicialForm.invalid">Agregar</button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-actions>
  </form>

</mat-card>