@import '../../../../tema.scss';

.boton-tipo-1{
  background-color: mat-color($mat_ambar);
}

.boton-tipo-2{
  background-color: mat-color($mat_rojo);
  color: white !important;
}

.boton-tipo-3{
  background-color: mat-color($mat_verde);
  color: white !important;
}

// .boton-tipo-4{
//   background-color: grey;
//   color: white !important;
// }

.boton-tipo-5{
  background-color: darkslategray;
  color: white !important;
}

.boton-tipo-6{
  background-color: mat-color($mat_naranja);
  color: white !important;
}

.boton-tipo-7{
  background-color: mat-color($mat_morado);
  color: white !important;
}

.boton-tipo-8{
  background-color: mat-color($mat_celeste);
}

span.derecha{
  position: absolute;
  right: 20px;
}