<mat-card>
  <!-- Encabezado -->
  <mat-card-title>
    <div id = "tituloProd"> Listado de Productos</div>
  </mat-card-title>

  <button mat-raised-button color="primary" class="agregar" (click)="Agregar()">Agregar Producto</button>

  <mat-grid-list cols=5 rowHeight="70px">
    <mat-grid-tile>
      <mat-icon>search</mat-icon>
      <mat-form-field>
        <input matInput placeholder="Producto" #InputProducto>
      </mat-form-field>
    </mat-grid-tile>
        <mat-grid-tile>
      <mat-icon>search</mat-icon>
      <mat-form-field>
        <input matInput placeholder="Tipo" #InputTipo>
      </mat-form-field>
    </mat-grid-tile>
        <mat-grid-tile>
      <mat-icon>search</mat-icon>
      <mat-form-field>
        <input matInput placeholder="Marca" #InputMarca>
      </mat-form-field>
    </mat-grid-tile>
        <mat-grid-tile>
      <mat-icon>search</mat-icon>
      <mat-form-field>
        <input matInput placeholder="Modelo" #InputModelo>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-card-content>

    <div class = "spinner-container" *ngIf = "ListadoProductos.Cargando| async">
      <mat-spinner></mat-spinner>
    </div>

    <mat-table [dataSource]="ListadoProductos" class="mat-elevation-z8">

      <ng-container matColumnDef="numero">
        <mat-header-cell *matHeaderCellDef> N° </mat-header-cell>
        <mat-cell *matCellDef="let producto"> {{producto.numero}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tipo">
        <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
        <mat-cell *matCellDef="let producto"> {{producto.tipo}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="marca">
        <mat-header-cell *matHeaderCellDef> Marca </mat-header-cell>
        <mat-cell *matCellDef="let producto"> {{producto.marca}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="modelo">
        <mat-header-cell *matHeaderCellDef> Modelo </mat-header-cell>
        <mat-cell *matCellDef="let producto"> {{producto.modelo}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <mat-header-cell *matHeaderCellDef> Descripcion</mat-header-cell>
        <mat-cell *matCellDef="let producto"> {{producto.descripcion}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="unidad_medida">
        <mat-header-cell *matHeaderCellDef> Unidad Medida </mat-header-cell>
        <mat-cell *matCellDef="let producto"> {{producto.unidad_medida}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="opciones">
        <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
        <mat-cell *matCellDef="let producto">

          <button mat-icon-button color="primary"><mat-icon> edit </mat-icon></button>
          <button mat-icon-button color="primary" (click)="Eliminar(producto.id)"><mat-icon> delete </mat-icon></button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="Columnas"></mat-header-row>
      <mat-row *matRowDef="let row; columns: Columnas;"></mat-row>
    </mat-table>

  </mat-card-content>
</mat-card>
