<mat-card class="card">

  <mat-toolbar color="primary">
    <mat-toolbar-row>Contrato {{data.talonario.contrato}}</mat-toolbar-row>
  </mat-toolbar>

  <mat-card-content>

    <mat-horizontal-stepper [linear]="true">
      <!-- Datos del cliente -->
      <mat-step [stepControl]="ClienteForm">

        <form [formGroup]="ClienteForm">

          <ng-template matStepLabel>Datos del cliente</ng-template>

          <mat-grid-list cols="4" rowHeight="70px">

            <mat-grid-tile colspan="2" *ngIf="!ClienteForm.value.id">
              <button mat-icon-button color="primary" matTooltip="Seleccionar cliente" (click)="SeleccionarCliente()">
                <mat-icon>add_circle</mat-icon>
              </button>
            </mat-grid-tile>

            <mat-grid-tile colspan="2" *ngIf="ClienteForm.value.id">
              <mat-form-field class="columnas-2">
                <input placeholder="Cliente" matInput formControlName="nombre" readonly requried>
              </mat-form-field>
            </mat-grid-tile>
    
            <mat-grid-tile>
              <mat-form-field class="columnas-1">
                <input matInput placeholder="Cargo" formControlName="cargo" readonly requried>
              </mat-form-field>
            </mat-grid-tile>
    
            <mat-grid-tile>
              <mat-form-field class="columnas-1">
                <input matInput placeholder="Centro de Trabajo" formControlName="trabajo" readonly requried>
              </mat-form-field>
            </mat-grid-tile>
    
            <mat-grid-tile colspan="2">
              <mat-form-field class="columnas-2">
                <input matInput placeholder="Domicilio" formControlName="domicilio" readonly requried>
              </mat-form-field>
            </mat-grid-tile>
    
            <mat-grid-tile>
              <mat-form-field class="columnas-1">
                <input matInput placeholder="Teléfono" formControlName="telefono" readonly requried>
              </mat-form-field>
            </mat-grid-tile>
            
            <mat-grid-tile>
              <button mat-icon-button color="primary" matTooltip="Editar datos de contacto" (click)="EditarContacto()" [disabled]="!ClienteForm.value.id">
                <mat-icon>edit</mat-icon>
              </button>
            </mat-grid-tile>

          </mat-grid-list>

          <button mat-button matStepperNext [disabled]="ClienteForm.invalid" >Siguiente</button>

        </form>

      </mat-step>

      <!-- Datos del la venta -->
      <mat-step [stepControl]="VentaForm">
        <form [formGroup]="VentaForm">
          <ng-template matStepLabel>Datos de la venta</ng-template>
          <mat-grid-list cols="4" rowHeight="70px">

            <mat-grid-tile>
              <mat-form-field class="columnas-1">
                <input matInput [matDatepicker]="picker" placeholder="Fecha de venta" formControlName="fecha">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker [disabled]="false"></mat-datepicker>
              </mat-form-field>
            </mat-grid-tile>
            
            <mat-grid-tile>
              <mat-form-field class="columnas-1">
                <input type="text" matInput placeholder="Contrato" formControlName="contrato" readonly>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="2">
              <mat-form-field class="columnas-2">
                <input matInput placeholder="Lugar de venta" formControlName="lugar">
              </mat-form-field>
            </mat-grid-tile>
            
            <mat-grid-tile colspan="4">
              <mat-form-field class="columnas-4">
                <input matInput placeholder="Observaciones" formControlName="observaciones">
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>

          <button mat-button matStepperPrevious>Anterior</button>
          <button mat-button matStepperNext [disabled]="VentaForm.invalid">Siguiente</button>

        </form>
      </mat-step>

      <!-- Datos del los productos -->
      <mat-step>
        <form [formGroup]="ProductoForm">
          <ng-template matStepLabel>Datos de los productos</ng-template>
          <mat-grid-list cols="4" rowHeight="70px">

            <mat-grid-tile colspan=2>
              <mat-form-field class="columnas-2">
                <mat-select formControlName="producto">
                  <mat-option *ngFor="let producto of LstProducto" [value]="producto"> {{producto.producto}} -> {{producto.serie}} </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            
            <mat-grid-tile>
              <mat-form-field class="columnas-1">
                <input matInput placeholder="Precio" formControlName="precio">
                <mat-error *ngIf="ProductoForm.get('precio').invalid">Debe ingresar solo números</mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <button mat-raised-button color="primary" (click)="AgregarProducto()" [disabled]="ProductoForm.invalid">Agregar</button>
            </mat-grid-tile>

          </mat-grid-list>

        </form>

        <mat-table [dataSource]="ListadoProductos" class="mat-elevation-z8">

            <ng-container matColumnDef="numero">
              <mat-header-cell *matHeaderCellDef> N° </mat-header-cell>
              <mat-cell *matCellDef="let producto"> {{producto.numero}} </mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="nombre">
              <mat-header-cell *matHeaderCellDef> Producto </mat-header-cell>
              <mat-cell *matCellDef="let producto"> {{producto.nombre}} </mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="serie">
              <mat-header-cell *matHeaderCellDef> Serie </mat-header-cell>
              <mat-cell *matCellDef="let producto">{{producto.serie}} </mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="precio_venta">
              <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
              <mat-cell *matCellDef="let producto">S/. {{producto.precio_venta}} </mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="opciones">
              <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
              <mat-cell *matCellDef="let producto">
                <button mat-icon-button matTooltip="Eliminar" color="primary" (click)="EliminarProducto(producto.id)"><mat-icon> delete </mat-icon></button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="Columnas"></mat-header-row>
            <mat-row *matRowDef="let row; columns: Columnas;"></mat-row>
          </mat-table>

        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button matStepperNext [disabled]="Productos.length==0">Siguiente</button>

      </mat-step>

      <!-- Datos del documento -->
      <mat-step [stepControl]="DocumentoForm">
        <form [formGroup]="DocumentoForm">
          <ng-template matStepLabel>Datos del documento</ng-template>
          <mat-grid-list cols="4" rowHeight="70px">

            <mat-grid-tile>
              <mat-form-field class="columnas-1">
                <input matInput [matDatepicker]="InputFechaPago" placeholder="Inicio de pagos" [min]="VentaForm.value.fecha" formControlName="fechapago">
                <mat-datepicker-toggle matSuffix [for]="InputFechaPago"></mat-datepicker-toggle>
                <mat-datepicker #InputFechaPago [disabled]=false></mat-datepicker>
              </mat-form-field>
            </mat-grid-tile>
        
            <mat-grid-tile>
              <mat-form-field class="columnas-1">
                <mat-select placeholder='Tipo de pago' formControlName="tipopago" (selectionChange)="TipoPagoSeleccionado()">
                  <mat-option *ngFor="let tipopago of LstTipoPago" [value] = "tipopago.id"> {{tipopago.nombre}} </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
        
            <mat-grid-tile>
              <mat-form-field class="columnas-1">
                <input matInput placeholder="Cuota inicial" formControlName="inicial" #InputInicial>
                <mat-error>Solo debe ingresar valores númericos</mat-error>
                <span matPrefix>S/ &nbsp;</span>
              </mat-form-field>
            </mat-grid-tile>
        
            <mat-grid-tile>
              <mat-form-field class="columnas-1">
                <input matInput placeholder="N° de cuotas" maxlength=3 formControlName="cuotas" #InputCuota>
                <mat-error>Solo debe ingresar valores númericos</mat-error>
              </mat-form-field>
            </mat-grid-tile>
        
            <mat-grid-tile>
              <mat-form-field class="columnas-1">
                <input matInput placeholder="Monto total" formControlName="montototal" readonly>
                <span matPrefix>S/ &nbsp;</span>
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>

          <button mat-button matStepperPrevious>Anterior</button>
          <button mat-button [disabled]="DocumentoForm.invalid || cargando" (click)="GuardarVenta()" >Guardar</button>

        </form>
      </mat-step>

    </mat-horizontal-stepper>

  </mat-card-content>

</mat-card>
