/* You can add global styles to this file, and also import other style files */
@import './tema.scss';

$primary: map-get($theme, primary);

*{
	font-family:Roboto, "Helvetica Neue", sans-serif
}

body{
	margin: 0px
}

.mat-dialog-container {
	padding: 0px !important;
	border-radius: 15px 15px;
	overflow: hidden;
}

.mat-card-content{
	margin-top: 20px;
}

.imagen-responsiva{
	max-width: 100%;
	max-height: 100%
}


/* Estilos para la tabla */
mat-header-cell {
  font-size: 14px;
  background-color: mat-color($primary);
  color: #fff !important;
}

mat-row:nth-child(odd){
  background-color:#F0F0F0;
}

mat-row:nth-child(even){
  background-color:#FAFAFA;
}
/******************/


.mat-sort-header-stem,
.mat-sort-header-indicator{
	color: white
}

.error{
	color: mat-color($warn) !important
}