@import '~@angular/material/theming';
@include mat-core();

// ...

$primary: mat-palette($mat-cyan, 900);
$accent:  mat-palette($mat-blue, 600);
$warn:    mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);

$mat_verde : mat-palette($mat-green, 800);
$mat_ambar : mat-palette($mat-amber, 500);
$mat_rojo : mat-palette($mat-red, 500);
$mat_naranja : mat-palette($mat-orange, 600);
$mat_morado : mat-palette($mat-purple, 600);

@include angular-material-theme($theme);