.inside-grid {
  position: absolute;
  left: 5px;
}

.listado-productos{
	margin-bottom: 20px;
	width: 90%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

tr{
	text-align: left
}

.mat-column-numero{
	max-width: 6%;
}