<mat-card>
  
  <mat-card-title>
    <div id = "titulo"> Buscar cliente</div>
  </mat-card-title>

  <div class = "spinner-container" *ngIf = "Cargando| async">
    <mat-spinner></mat-spinner>
  </div>

  <mat-grid-list cols=1 rowHeight="100px">
    
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>DNI</mat-label>
        <input matInput type="text" placeholder="DNI" [(ngModel)]="dni">
      </mat-form-field>
    </mat-grid-tile>

    <ng-container *ngIf="hay_cliente==2">
      <mat-grid-tile>
        <mat-error> No se encuentra el cliente </mat-error>
      </mat-grid-tile>
    </ng-container>
    
    <ng-container *ngIf="hay_cliente==1">
      <mat-grid-tile>
        <strong> CODOFIN: </strong> {{codigo}}
      </mat-grid-tile>      
      <mat-grid-tile>
        <strong> NOMBRE: </strong> {{nombre}}
      </mat-grid-tile>      
    </ng-container>

    <mat-grid-tile>
      <button mat-raised-button color="primary" (click)="Buscar()" [disabled]="Cargando | async">Buscar</button>
    </mat-grid-tile>

  </mat-grid-list>

</mat-card>