@import '../../../tema.scss';

.contenedor{
  width: 95%;
  box-sizing: border-box;
  position: relative;
  margin-left: 2.5%;
  margin-bottom: 10px;
  border-left-style: solid;
  border-left-width: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tipo-1{
  border-left-color: mat-color($mat_ambar);
}

.tipo-2{
  border-left-color: mat-color($mat_rojo);
}

.tipo-3{
  border-left-color: mat-color($mat_verde);
}

.tipo-5{
  border-left-color: mat-color($mat_naranja);
}

.icono{
  float: right;
  transform: translate(-20px, -12.5px);
}

.fake-list{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 93.33%;
}

textarea{
  overflow:hidden
}

.derecha{
  float: right;
}

// .seccion-tercera{
//   margin-top: 20px;
//   margin-bottom: 20px;
//   border-color: mat-color($primary);
//   border-width: 1px;
//   border-style: solid;
//   border-radius: 5px;
// }

.titulo-seccion-tercera{
  height: 30px;
  font-size: 16px;
  // background-color: mat-color($primary);
  padding-top: 15px;
  padding-left: 2.5%;
  border-top-right-radius: 5px;
  margin-bottom: 10px;
}

.tipo-tercero-1{
  background-color: mat-color($mat_ambar);
  }

.tipo-tercero-2{
  background-color: mat-color($mat_rojo);
  color: white !important;
}

.tipo-tercero-3{
  background-color: mat-color($mat_verde);
  color: white !important;
}

.tipo-tercero-5{
  background-color: mat-color($mat_naranja);
}

span.derecha{
  position: absolute;
  right: 20px;
}

.derecha{
  margin-left: 5px;
}

.subtitulo-categoria{
  color: mat-color($accent) ;
  display : flex ; // Para que el botón se vaya al extremo
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px !important;
}

.boton-tipo-1{
  color: mat-color($mat_ambar);
}

.boton-tipo-2{
  color: mat-color($mat_rojo);
  // color: white !important;
}

.boton-tipo-3{
  color: mat-color($mat_verde);
  // color: white !important;
}

.boton-tipo-4{
  color: grey;
  // color: white !important;
}

.boton-tipo-5{
  color: mat-color($mat_naranja);
}