<mat-card class="principal">
  <button mat-mini-fab type="button" color="primary" (click)="Atras()"><mat-icon>keyboard_arrow_left</mat-icon></button>

  <ng-container>
    <ng-container *ngIf="permiso?.procesos_judiciales?.listado_procesos?.editar">
      <button mat-mini-fab type="button" color="accent" (click)="CambiarTipoVista(1)" class="derecha" [disabled]="id_proceso_editar" matTooltip="Editar documento"><mat-icon>edit</mat-icon></button>
    </ng-container>
    <ng-container *ngIf="permiso?.procesos_judiciales?.listado_procesos?.agregar_documentos">
      <button mat-mini-fab type="button" color="accent" (click)="CambiarTipoVista(2)" class="derecha" [disabled]="id_proceso_agregar" matTooltip="Agregar documento"><mat-icon>note_add</mat-icon></button>
    </ng-container>
    <ng-container>
      <button mat-mini-fab type="button" color="accent" (click)="CambiarTipoVista(3)" class="derecha" [disabled]="id_proceso_ver" matTooltip="Ver documento"><mat-icon> visibility </mat-icon></button>
    </ng-container>
  </ng-container>

  <ng-container>
    <ng-container *ngIf="id_venta || id_credito">
      <mat-card-title class="tituloProd"> Nuevo documento judicial </mat-card-title>
    </ng-container>
    <ng-container *ngIf="id_proceso_agregar">
      <mat-card-title class="tituloProd"> Agregar documentos de seguimiento </mat-card-title>
    </ng-container>
    <ng-container *ngIf="id_proceso_editar">
      <mat-card-title class="tituloProd"> Editar documento judicial </mat-card-title>
    </ng-container>
    <ng-container *ngIf="id_proceso_ver">
      <mat-card-title class="tituloProd"> Ver documento judicial </mat-card-title>
    </ng-container>
  </ng-container>

  <form [formGroup]="JudicialForm">
    <mat-card-content>
      <div class = "spinner-container" *ngIf = "Cargando| async">
        <mat-spinner></mat-spinner>
      </div>

      <!-- Datos del cliente -->
      <div class="seccion-secundaria">
        <mat-card-subtitle class="titulo-seccion-secundaria">
          INFORMACION DE LA DEMANDA
        </mat-card-subtitle>
        <mat-grid-list cols=3 rowHeight="70px">
          <mat-grid-tile colspan="1">
            <mat-form-field class="columnas-1">
              <input matInput type="text" placeholder="DNI" formControlName="cliente_documento" readonly>
            </mat-form-field>
          </mat-grid-tile>
  
          <mat-grid-tile colspan="2">
            <mat-form-field class="columnas-2">
              <input matInput type="text" placeholder="Cliente" formControlName="cliente_nombre" readonly>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="1">
            <mat-form-field class="columnas-1">
              <input matInput type="text" placeholder="Documento" formControlName="codigo_documento" readonly>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>

        <ng-container *ngIf="id_proceso_ver && DocumentosTransaccion.length>0">
          <ng-container *ngFor="let documento of DocumentosTransaccion">
            <ng-container *ngIf="documento.id_credito">
              <mat-card-title class="subtitulo-categoria">
                {{ documento.documento_credito }}
                <span class="espacio"></span>
                <button mat-icon-button color="accent" (click)="VerCredito(documento.id_credito)"> <mat-icon> visibility </mat-icon> </button>
              </mat-card-title>

              <mat-grid-list cols=7 rowHeight="20px">
                <mat-grid-tile>
                  Foto
                </mat-grid-tile>
                
                <mat-grid-tile>
                  DNI
                </mat-grid-tile>
                
                <mat-grid-tile>
                  CIP
                </mat-grid-tile>
                
                <mat-grid-tile>
                  Planilla
                </mat-grid-tile>
                
                <mat-grid-tile>
                  Voucher
                </mat-grid-tile>
                
                <mat-grid-tile>
                  Recibos
                </mat-grid-tile>
                
                <mat-grid-tile>
                  Casilla
                </mat-grid-tile>
              </mat-grid-list>
      
              <mat-grid-list cols=7 rowHeight="60px">
                <mat-grid-tile>
                  <button mat-icon-button color="primary" [disabled]="!documento.pdf_foto_credito">
                    <mat-icon class="icono-documentos" (click)="AbrirDocumentoTransaccion(documento.pdf_foto_credito)"> visibility </mat-icon>
                  </button>
                </mat-grid-tile>
                
                <mat-grid-tile>
                  <button mat-icon-button color="primary" [disabled]="!documento.pdf_dni_credito">
                    <mat-icon class="icono-documentos" (click)="AbrirDocumentoTransaccion(documento.pdf_dni_credito)"> visibility </mat-icon>
                  </button>
                </mat-grid-tile>
                
                <mat-grid-tile>
                  <button mat-icon-button color="primary" [disabled]="!documento.pdf_cip_credito">
                    <mat-icon class="icono-documentos" (click)="AbrirDocumentoTransaccion(documento.pdf_cip_credito)"> visibility </mat-icon>
                  </button>
                </mat-grid-tile>
                
                <mat-grid-tile>
                  <button mat-icon-button color="primary" [disabled]="!documento.pdf_planilla_credito">
                    <mat-icon class="icono-documentos" (click)="AbrirDocumentoTransaccion(documento.pdf_planilla_credito)"> visibility </mat-icon>
                  </button>
                </mat-grid-tile>
                
                <mat-grid-tile>
                  <button mat-icon-button color="primary" [disabled]="!documento.pdf_voucher_credito">
                    <mat-icon class="icono-documentos" (click)="AbrirDocumentoTransaccion(documento.pdf_voucher_credito)"> visibility </mat-icon>
                  </button>
                </mat-grid-tile>
                
                <mat-grid-tile>
                  <button mat-icon-button color="primary" [disabled]="!documento.pdf_recibo_credito">
                    <mat-icon class="icono-documentos" (click)="AbrirDocumentoTransaccion(documento.pdf_recibo_credito)"> visibility </mat-icon>
                  </button>
                </mat-grid-tile>
                
                <mat-grid-tile>
                  <button mat-icon-button color="primary" [disabled]="!documento.pdf_casilla_credito">
                    <mat-icon class="icono-documentos" (click)="AbrirDocumentoTransaccion(documento.pdf_casilla_credito)"> visibility </mat-icon>
                  </button>
                </mat-grid-tile>
              </mat-grid-list>

              <mat-grid-list cols=7 rowHeight="20px">
                <mat-grid-tile>
                  Transacción
                </mat-grid-tile>
                
                <mat-grid-tile>
                  Autorización
                </mat-grid-tile>
                
                <mat-grid-tile>
                  Tarjeta de socio
                </mat-grid-tile>
                
                <mat-grid-tile>
                  Compromiso
                </mat-grid-tile>
                
                <mat-grid-tile>
                  Letra
                </mat-grid-tile>
                
                <mat-grid-tile>
                  Declaración
                </mat-grid-tile>
                
                <mat-grid-tile>
                  Otros
                </mat-grid-tile>
              </mat-grid-list>
      
              <mat-grid-list cols=7 rowHeight="60px">
                <mat-grid-tile>
                  <button mat-icon-button color="primary" [disabled]="!documento.pdf_transaccion_credito">
                    <mat-icon class="icono-documentos" (click)="AbrirDocumentoTransaccion(documento.pdf_transaccion_credito)"> visibility </mat-icon>
                  </button>
                </mat-grid-tile>
                
                <mat-grid-tile>
                  <button mat-icon-button color="primary" [disabled]="!documento.pdf_autorizacion_credito">
                    <mat-icon class="icono-documentos" (click)="AbrirDocumentoTransaccion(documento.pdf_autorizacion_credito)"> visibility </mat-icon>
                  </button>
                </mat-grid-tile>
                
                <mat-grid-tile>
                  <button mat-icon-button color="primary" [disabled]="!documento.pdf_tarjeta_credito">
                    <mat-icon class="icono-documentos" (click)="AbrirDocumentoTransaccion(documento.pdf_tarjeta_credito)"> visibility </mat-icon>
                  </button>
                </mat-grid-tile>
                
                <mat-grid-tile>
                  <button mat-icon-button color="primary" [disabled]="!documento.pdf_compromiso_credito">
                    <mat-icon class="icono-documentos" (click)="AbrirDocumentoTransaccion(documento.pdf_compromiso_credito)"> visibility </mat-icon>
                  </button>
                </mat-grid-tile>
                
                <mat-grid-tile>
                  <button mat-icon-button color="primary" [disabled]="!documento.pdf_letra_credito">
                    <mat-icon class="icono-documentos" (click)="AbrirDocumentoTransaccion(documento.pdf_letra_credito)"> visibility </mat-icon>
                  </button>
                </mat-grid-tile>
                
                <mat-grid-tile>
                  <button mat-icon-button color="primary" [disabled]="!documento.pdf_ddjj_credito">
                    <mat-icon class="icono-documentos" (click)="AbrirDocumentoTransaccion(documento.pdf_ddjj_credito)"> visibility </mat-icon>
                  </button>
                </mat-grid-tile>
                
                <mat-grid-tile>
                  <button mat-icon-button color="primary" [disabled]="!documento.pdf_otros_credito">
                    <mat-icon class="icono-documentos" (click)="AbrirDocumentoTransaccion(documento.pdf_otros_credito)"> visibility </mat-icon>
                  </button>
                </mat-grid-tile>
              </mat-grid-list>
            </ng-container>

            <ng-container *ngIf="documento.id_venta">
              <mat-card-title class="subtitulo-categoria">
                {{ documento.documento_venta }}
                <span class="espacio"></span>
                <button mat-icon-button color="accent" (click)="VerVenta(documento.id_venta, documento.venta_tipo)"> <mat-icon> visibility </mat-icon> </button>
              </mat-card-title>

              <mat-grid-list cols=9 rowHeight="20px">
                <mat-grid-tile>
                  Foto
                </mat-grid-tile>
                
                <mat-grid-tile>
                  DNI
                </mat-grid-tile>
                
                <mat-grid-tile>
                  CIP
                </mat-grid-tile>
                
                <mat-grid-tile>
                  Contrato
                </mat-grid-tile>
                
                <mat-grid-tile>
                  Transacción
                </mat-grid-tile>
                
                <mat-grid-tile>
                  Planilla
                </mat-grid-tile>
                
                <mat-grid-tile>
                  Letra
                </mat-grid-tile>
                
                <mat-grid-tile>
                  Autorización
                </mat-grid-tile>
                
                <mat-grid-tile>
                  Otros
                </mat-grid-tile>
              </mat-grid-list>
      
              <mat-grid-list cols=9 rowHeight="60px">
                <mat-grid-tile>
                  <button mat-icon-button color="primary" [disabled]="!documento.foto_pdf_credito">
                    <mat-icon class="icono-documentos" (click)="AbrirDocumentoTransaccion(documento.foto_pdf_credito,1)"> visibility </mat-icon>
                  </button>
                </mat-grid-tile>
                
                <mat-grid-tile>
                  <button mat-icon-button color="primary" [disabled]="!documento.dni_pdf_credito">
                    <mat-icon class="icono-documentos" (click)="AbrirDocumentoTransaccion(documento.dni_pdf_credito,1)"> visibility </mat-icon>
                  </button>
                </mat-grid-tile>
                
                <mat-grid-tile>
                  <button mat-icon-button color="primary" [disabled]="!documento.cip_pdf_credito">
                    <mat-icon class="icono-documentos" (click)="AbrirDocumentoTransaccion(documento.cip_pdf_credito,1)"> visibility </mat-icon>
                  </button>
                </mat-grid-tile>
                
                <mat-grid-tile>
                  <button mat-icon-button color="primary" [disabled]="!documento.contrato_pdf_credito">
                    <mat-icon class="icono-documentos" (click)="AbrirDocumentoTransaccion(documento.contrato_pdf_credito,1)"> visibility </mat-icon>
                  </button>
                </mat-grid-tile>
                
                <mat-grid-tile>
                  <button mat-icon-button color="primary" [disabled]="!documento.voucher_pdf_credito">
                    <mat-icon class="icono-documentos" (click)="AbrirDocumentoTransaccion(documento.voucher_pdf_credito,1)"> visibility </mat-icon>
                  </button>
                </mat-grid-tile>
                
                <mat-grid-tile>
                  <button mat-icon-button color="primary" [disabled]="!documento.planilla_pdf_credito">
                    <mat-icon class="icono-documentos" (click)="AbrirDocumentoTransaccion(documento.planilla_pdf_credito,1)"> visibility </mat-icon>
                  </button>
                </mat-grid-tile>
                
                <mat-grid-tile>
                  <button mat-icon-button color="primary" [disabled]="!documento.letra_pdf_credito">
                    <mat-icon class="icono-documentos" (click)="AbrirDocumentoTransaccion(documento.letra_pdf_credito,1)"> visibility </mat-icon>
                  </button>
                </mat-grid-tile>
                
                <mat-grid-tile>
                  <button mat-icon-button color="primary" [disabled]="!documento.autorizacion_pdf_credito">
                    <mat-icon class="icono-documentos" (click)="AbrirDocumentoTransaccion(documento.autorizacion_pdf_credito,1)"> visibility </mat-icon>
                  </button>
                </mat-grid-tile>
                
                <mat-grid-tile>
                  <button mat-icon-button color="primary" [disabled]="!documento.otros_pdf_credito">
                    <mat-icon class="icono-documentos" (click)="AbrirDocumentoTransaccion(documento.otros_pdf_credito,1)"> visibility </mat-icon>
                  </button>
                </mat-grid-tile>
              </mat-grid-list>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>

      <!-- Datos del juzgado -->
      <div class="seccion-secundaria">
        <mat-card-subtitle class="titulo-seccion-secundaria">
          DATOS DEL JUZGADO
          <ng-container *ngIf="this.id_proceso_editar">
            <button mat-icon-button type="button" class="icono" *ngIf="editar_juzgado>1" (click)="EditarJuzgado(1)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button type="button" class="icono" *ngIf="editar_juzgado==1" (click)="EditarJuzgado(2)"><mat-icon>check</mat-icon></button>
          </ng-container>
        </mat-card-subtitle>
        <mat-grid-list cols=6 rowHeight="70px">

          <ng-container *ngIf="id_proceso_ver || (id_proceso_editar && editar_juzgado>1) || id_proceso_agregar">
            <mat-grid-tile colspan=2>
              <mat-form-field class="columnas-1">
                <input matInput type="text" placeholder="Distrito judicial" formControlName="distrito_judicial_nombre" readonly>
              </mat-form-field>
            </mat-grid-tile>
  
            <mat-grid-tile colspan=4>
              <mat-form-field class="columnas-2">
                <input matInput type="text" placeholder="Instancia" formControlName="instancia_judicial_nombre" readonly>
              </mat-form-field>
            </mat-grid-tile>
          </ng-container>

          <ng-container *ngIf="!id_proceso_ver && ( (id_proceso_editar && editar_juzgado==1) || id_credito || id_venta )">
            <mat-grid-tile colspan=2>
              <mat-form-field class="columnas-1">
                <mat-select placeholder="Distrito judicial" formControlName="distrito_judicial" (selectionChange)="DistritoSeleccionado()">
                  <mat-option *ngFor="let distrito of Distritos" [value]="distrito.id"> {{distrito.nombre}} </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan=4>
              <mat-form-field class="columnas-2">
                <mat-select placeholder="Instancia judicial" formControlName="instancia_judicial" (selectionChange)="InstanciaSeleccionada()">
                  <mat-option *ngFor="let instancia of Instancias" [value]="instancia.id_juzgado_instancia"> {{instancia.juzgado_instancia}} </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
          </ng-container>

          <mat-grid-tile colspan=3>
            <mat-form-field class="columnas-1-5">
              <input matInput type="text" [matAutocomplete]="autojuez" placeholder="Juez" formControlName="juez" [readonly]="JudicialForm.value.id_juez || ( id_proceso_ver || id_proceso_agregar || (id_proceso_editar && editar_juzgado>1) )">
              <mat-icon color="primary" matSuffix (click)="RemoverJuez()" *ngIf="JudicialForm.value.id_juez && !( id_proceso_ver || id_proceso_agregar || (id_proceso_editar && editar_juzgado>1) )"> remove_circle </mat-icon>
              <mat-autocomplete #autojuez="matAutocomplete" (optionSelected)="JuezSeleccionado($event)">
                <mat-option *ngFor="let jueces of Jueces" [value]="jueces">
                  {{jueces.juzgado_juez}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan=3>
            <mat-form-field class="columnas-1-5">
              <input matInput type="text" [matAutocomplete]="autoespecialista" placeholder="Especialista legal" formControlName="especialista" [readonly]="JudicialForm.value.id_especialista || ( id_proceso_ver || id_proceso_agregar || (id_proceso_editar && editar_juzgado>1) )">
              <mat-icon color="primary" matSuffix (click)="RemoverEspecialista()" *ngIf="JudicialForm.value.id_especialista && !( id_proceso_ver || id_proceso_agregar || (id_proceso_editar && editar_juzgado>1) )"> remove_circle </mat-icon>
              <mat-autocomplete #autoespecialista="matAutocomplete" (optionSelected)="EspecialistaSeleccionado($event)">
                <mat-option *ngFor="let especialista of Especialistas" [value]="especialista">
                  {{especialista.juzgado_juez}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </mat-grid-tile>

        </mat-grid-list>
      </div>

      <!-- Reporte del expediente -->
      <div class="seccion-secundaria">
        <mat-card-subtitle class="titulo-seccion-secundaria">
          DATOS DEL EXPEDIENTE
          <ng-container *ngIf="this.id_proceso_editar">
            <button mat-icon-button type="button" class="icono" *ngIf="editar_expediente>1" (click)="EditarExpediente(1)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button type="button" class="icono" *ngIf="editar_expediente==1" (click)="EditarExpediente(2)"><mat-icon>check</mat-icon></button>
          </ng-container>
        </mat-card-subtitle>
        <mat-grid-list cols=3 rowHeight="70px">

          <mat-grid-tile colspan=2>
            <mat-form-field class="columnas-2">
              <input matInput type="text" placeholder="Expediente" formControlName="expediente" [readonly]="id_proceso_ver || (id_proceso_editar && editar_expediente>1)">
              <mat-error *ngIf="JudicialForm.get('expediente').invalid"> El expediente ya existe </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan=1>
            <mat-form-field class="columnas-1">
              <input matInput [matDatepicker]="FechaInicio" placeholder="Fecha de inicio" formControlName="fecha_inicio" [readonly]="id_proceso_ver || (id_proceso_editar && editar_expediente>1)">
              <mat-datepicker-toggle matSuffix [for]="FechaInicio"></mat-datepicker-toggle>
              <mat-datepicker #FechaInicio [disabled]="id_proceso_ver || (id_proceso_editar && editar_expediente>1)"></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan=2>
            <mat-form-field class="columnas-2">
              <input matInput type="text" placeholder="Sumilla" formControlName="sumilla" [readonly]="id_proceso_ver || id_proceso_agregar || (id_proceso_editar && editar_expediente>1)">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
          </mat-grid-tile>

          <mat-grid-tile colspan="1">
            <mat-form-field class="columnas-1">
              <span matPrefix> S/. &nbsp; </span>
              <input matInput type="text" placeholder="Total" formControlName="total" [readonly]="id_proceso_ver || id_proceso_agregar || (id_proceso_editar && editar_expediente>1)">
              <mat-error *ngIf="JudicialForm.get('total').invalid"> Se debe ingresar un número mayor a cero. </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          
          <mat-grid-tile colspan="1">
            <mat-form-field class="columnas-1">
              <input matInput type="text" placeholder="Número de cuotas" formControlName="numero_cuotas" [readonly]="id_proceso_ver || id_proceso_agregar || (id_proceso_editar && editar_expediente>1)">
              <mat-error *ngIf="JudicialForm.get('numero_cuotas').invalid"> Se debe ingresar un número mayor a cero. </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="1">
            <mat-form-field class="columnas-1">
              <span matPrefix> S/. &nbsp; </span>
              <input matInput type="text" placeholder="Cuota" formControlName="monto_cuota" readonly>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <!-- Detalle -->
      <ng-container *ngIf="id_venta==0 && id_credito==0">
        <div class="seccion-secundaria">
          <mat-card-subtitle class="titulo-seccion-secundaria">
            SEGUIMIENTO DE EXPEDIENTES
          </mat-card-subtitle>
  
          <mat-grid-list cols=1 rowHeight="55px" *ngIf="id_proceso_agregar">
            <mat-grid-tile>
              <!-- <button class="derecha" type="button" mat-mini-fab colos="primary" (click)="AgregarDocumento()"> <mat-icon> add </mat-icon> </button> -->
                <button type="button" mat-raised-button (click)="AgregarDocumento(2)"> Escrito </button>
                &nbsp;
                <button type="button" mat-raised-button (click)="AgregarDocumento(3)"> Resolución </button>
                &nbsp;
                <button type="button" mat-raised-button (click)="AgregarDocumento(4)"> Oficio </button>
                &nbsp;
                <button type="button" mat-raised-button (click)="AgregarDocumento(5)"> Devolución </button>
                &nbsp;
                <button type="button" mat-raised-button (click)="AgregarDocumento(6)"> Nota </button>
            </mat-grid-tile>
          </mat-grid-list>
  
          <div *ngFor="let documento of Documentos">

            <div [ngClass]="{'contenedor': true,
                            'tipo-1': documento.tipo_documento=='Escrito',
                            'tipo-2': documento.tipo_documento=='Resolución',
                            'tipo-3': documento.tipo_documento=='Oficio',
                            'tipo-5': documento.tipo_documento=='Nota'
                          }">
              <div [ngClass]="{ 'titulo-seccion-tercera': true,
                                'tipo-tercero-1': documento.tipo_documento=='Escrito',
                                'tipo-tercero-2': documento.tipo_documento=='Resolución',
                                'tipo-tercero-3': documento.tipo_documento=='Oficio',
                                'tipo-tercero-5': documento.tipo_documento=='Nota'
                              }">
                {{ documento.tipo_documento }}&nbsp;{{ documento.numero }}
                <span class="espacio"></span>
                <span class="derecha">
                  {{ documento.fecha | date : 'dd/MM/yyyy' }}
                </span>
              </div>

              <mat-grid-list cols=3 rowHeight="70px">
                <!-- <mat-grid-tile colspan=1>
                  <mat-form-field class="columnas-1">
                    <input matInput type="text" placeholder="Tipo de documento" [(ngModel)]="documento.tipo_documento" [ngModelOptions]="{standalone:true}" readonly>
                  </mat-form-field>
                </mat-grid-tile>
  
                <mat-grid-tile colspan=1>
                  <mat-form-field class="columnas-1">
                    <input matInput [matDatepicker]="FechaInicio" placeholder="Fecha" [(ngModel)]="documento.fecha" [ngModelOptions]="{standalone:true}" readonly>
                    <mat-datepicker-toggle matSuffix [for]="FechaInicio"></mat-datepicker-toggle>
                    <mat-datepicker #FechaInicio disabled></mat-datepicker>
                  </mat-form-field>
                </mat-grid-tile>
  
                <mat-grid-tile colspan=1>
                  <mat-form-field class="columnas-1">
                    <input matInput type="text" placeholder="Número" [(ngModel)]="documento.numero" [ngModelOptions]="{standalone:true}" readonly>
                  </mat-form-field>
                </mat-grid-tile> -->
  
                <mat-grid-tile colspan=1 *ngIf="documento.id_trabajador>0">
                  <mat-form-field class="columnas-1">
                    <input matInput type="text" placeholder="Abogado" [(ngModel)]="documento.trabajador" [ngModelOptions]="{standalone:true}" readonly>
                  </mat-form-field>
                </mat-grid-tile>
  
                <mat-grid-tile colspan=1 *ngIf="documento.id_estado>0">
                  <mat-form-field class="columnas-1">
                    <input matInput type="text" placeholder="Estado" [(ngModel)]="documento.estado" [ngModelOptions]="{standalone:true}" readonly>
                  </mat-form-field>
                </mat-grid-tile>
  
                <mat-grid-tile *ngIf="documento.id_trabajador<=0">
                </mat-grid-tile>
  
                <mat-grid-tile *ngIf="documento.id_estado<=0">
                </mat-grid-tile>

                <mat-grid-tile colspan=1>
                  <ng-container *ngIf="!id_proceso_editar">
                    <button mat-icon-button color="primary" [disabled]="!documento.archivo" (click)="AbrirDocumento(documento.archivo)">
                      <mat-icon> visibility </mat-icon>
                    </button>
                  </ng-container>
                  <ng-container *ngIf="id_proceso_editar">
                    <button mat-icon-button color="primary" [disabled]="!documento.archivo" (click)="AbrirDocumento(documento.archivo)">
                      <mat-icon> visibility </mat-icon>
                    </button>
                    <button mat-icon-button type="button" color="primary" (click)="EditarDetalle(documento)"> <mat-icon> edit </mat-icon> </button>
                    <button mat-icon-button type="button" color="primary" (click)="EliminarDetalle(documento)"> <mat-icon> delete </mat-icon> </button>
                  </ng-container>
                </mat-grid-tile>

                <mat-grid-tile colspan=3 *ngIf="documento.comentarios">
                  <mat-form-field class="columnas-3">
                    <input matInput type="text" placeholder="Comentarios" [(ngModel)]="documento.comentarios" [ngModelOptions]="{standalone:true}" readonly>
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>

              <div class="fake-list" *ngIf="documento.sumilla">
                <mat-form-field class="columnas-all">
                  <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="50" type="text" placeholder="Sumilla" [(ngModel)]="documento.sumilla" [ngModelOptions]="{standalone:true}" readonly> </textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <!-- Detalle antiguo-->
      <ng-container *ngIf="!id_proceso_agregar && DocumentosAnteriores.length>0">
        <div class="seccion-secundaria">
          <mat-card-subtitle class="titulo-seccion-secundaria">
            EXPEDIENTE ANTERIOR - {{expediente_anterior}} / {{juzgado_distrito_anterior}} - {{juzgado_instancia_anterior}}
          </mat-card-subtitle>
          
          <div *ngFor="let documento of DocumentosAnteriores">
            <div [ngClass]="{'contenedor': true,
                          'tipo-1': documento.tipo_documento=='Escrito',
                          'tipo-2': documento.tipo_documento=='Resolución',
                          'tipo-3': documento.tipo_documento=='Oficio',
                          'tipo-5': documento.tipo_documento=='Nota'
                        }">
              <div [ngClass]="{ 'titulo-seccion-tercera': true,
                              'tipo-tercero-1': documento.tipo_documento=='Escrito',
                              'tipo-tercero-2': documento.tipo_documento=='Resolución',
                              'tipo-tercero-3': documento.tipo_documento=='Oficio',
                              'tipo-tercero-5': documento.tipo_documento=='Nota'
                            }">
                {{ documento.tipo_documento }}&nbsp;{{ documento.numero }}
                <span class="espacio"></span>
                <span class="derecha">
                  {{ documento.fecha | date : 'dd/MM/yyyy' }}
                </span>
              </div>
              <!-- <div [ngClass]="{'contenedor': true,
                            'tipo-1': documento.tipo_documento=='Escrito',
                            'tipo-2': documento.tipo_documento=='Resolución',
                            'tipo-3': documento.tipo_documento=='Oficio'
                          }"> -->
              <mat-grid-list cols=3 rowHeight="70px">
                <!-- <mat-grid-tile colspan=1>
                  <mat-form-field class="columnas-1">
                    <input matInput type="text" placeholder="Tipo de documento" [(ngModel)]="documento.tipo_documento" [ngModelOptions]="{standalone:true}" readonly>
                  </mat-form-field>
                </mat-grid-tile>
  
                <mat-grid-tile colspan=1>
                  <mat-form-field class="columnas-1">
                    <input matInput [matDatepicker]="FechaInicio" placeholder="Fecha" [(ngModel)]="documento.fecha" [ngModelOptions]="{standalone:true}" readonly>
                    <mat-datepicker-toggle matSuffix [for]="FechaInicio"></mat-datepicker-toggle>
                    <mat-datepicker #FechaInicio disabled></mat-datepicker>
                  </mat-form-field>
                </mat-grid-tile>
  
                <mat-grid-tile colspan=1>
                  <mat-form-field class="columnas-1">
                    <input matInput type="text" placeholder="Número" [(ngModel)]="documento.numero" [ngModelOptions]="{standalone:true}" readonly>
                  </mat-form-field>
                </mat-grid-tile> -->
  
                <mat-grid-tile colspan=2 *ngIf="documento.id_trabajador>0">
                  <mat-form-field class="columnas-2">
                    <input matInput type="text" placeholder="Abogado" [(ngModel)]="documento.trabajador" [ngModelOptions]="{standalone:true}" readonly>
                  </mat-form-field>
                </mat-grid-tile>
  
                <mat-grid-tile colspan=1>
                  <mat-form-field class="columnas-1" *ngIf="documento.estado">
                    <input matInput type="text" placeholder="Estado" [(ngModel)]="documento.sumilla" [ngModelOptions]="{standalone:true}" readonly>
                  </mat-form-field>
                </mat-grid-tile>
                
                <mat-grid-tile *ngIf="documento.id_trabajador<=0">
                </mat-grid-tile>
  
                <mat-grid-tile *ngIf="documento.id_estado<=0">
                </mat-grid-tile>

                <mat-grid-tile colspan=1>
                  <ng-container *ngIf="!id_proceso_editar">
                    <button mat-icon-button color="primary" [disabled]="!documento.archivo" (click)="AbrirDocumento(documento.archivo)">
                      <mat-icon> visibility </mat-icon>
                    </button>
                  </ng-container>
                  <ng-container *ngIf="id_proceso_editar">
                    <button mat-icon-button color="primary" [disabled]="!documento.archivo" (click)="AbrirDocumento(documento.archivo)">
                      <mat-icon> visibility </mat-icon>
                    </button>
                    <button mat-icon-button type="button" color="primary" (click)="EditarDetalle(documento)"> <mat-icon> edit </mat-icon> </button>
                    <button mat-icon-button type="button" color="primary" (click)="EliminarDetalle(documento)"> <mat-icon> delete </mat-icon> </button>
                  </ng-container>
                </mat-grid-tile>
  
                  <mat-grid-tile colspan=3>
                  <mat-form-field class="columnas-3">
                    <input matInput type="text" placeholder="Sumilla" [(ngModel)]="documento.sumilla" [ngModelOptions]="{standalone:true}" readonly>
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan=3>
                  <mat-form-field class="columnas-3">
                    <input matInput type="text" placeholder="Comentarios" [(ngModel)]="documento.comentarios" [ngModelOptions]="{standalone:true}" readonly>
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </div>
        </div>
      </ng-container>
    </mat-card-content>

    <mat-card-actions *ngIf="id_venta>0 || id_credito>0">
      <mat-grid-list cols="1" rowHeight="40px">
        <mat-grid-tile>
          <button mat-raised-button color="primary" [disabled]="JudicialForm.invalid || (Cargando | async)" (click)="Guardar()"> Guardar </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-actions>
  </form>

</mat-card>