@import '../../../tema.scss';

$primary: map-get($theme, primary);

#container-principal{
  padding: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

#tituloProd {
  padding: 15px;
  font-size: 30px;
  text-align: center;
  font-family: sans-serif;
}

table {
  width: 100%;
}

.card-principal{
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px
}

hr{
  height: 15;
  background: Gray;
}

.spinner-container{
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CabeceraSalidaVendedor{
  width: 90%;
  position: relative;
  margin-left: auto;
  margin-right: auto;

}

.Pecosa {
  width: 100%;
  position: relative;
  align-items: left;
}

.agregar{
  float: right;
  margin-right:32%
}

.Alintaguia{
  float: left;
  margin-right:32%
}

.formulario-principal{
  width: 80%
}

.formulario-principal-3{
  width: 93.33%
}

.seccion{
  margin-top: 20px;
  margin-bottom: 20px;
  border-color: mat-color($primary);
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.titulo-seccion{
  height: 30px;
  font-size: 16px;
  background-color: mat-color($primary);
  color: white !important;
  padding-top: 15px;
  padding-left: 2.5%;
}

mat-table{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.mat-column-numero{
  max-width: 5%;
}

.mat-column-opciones{
  max-width: 10%;
}

.mat-column-comision_efectiva,
.mat-column-comision_retenida,
.mat-column-monto_grupal,
.mat-column-monto_individual,
.mat-column-serie,
.mat-column-precio{
  max-width: 20%;
}