<mat-card class="card">

<!--     <div>
        <button mat-fab matTooltip="Salida" class="agregar"  [routerLink]="['salidaproductos']" color="primary"><mat-icon> unarchive </mat-icon></button>
        <button mat-fab matTooltip="Ingreso" class="agregar"  [routerLink]="['ingresoproductos']" color="primary"><mat-icon> archive </mat-icon></button>
      </div> -->
    <mat-card-title>
      <div id = "tituloProd"> Listado de Stock</div>
    </mat-card-title>
        <!--<button class="agregar" mat-raised-button color="primary"  [routerLink]="['salidaproductos']">Salida</button>
        <button class="agregar" mat-raised-button color="primary"  [routerLink]="['ingresoproductos']">Ingreso</button>
        <br> <br>-->

       <mat-grid-list cols= "4" rowHeight="90px">
        <mat-grid-tile>
          <mat-icon>search</mat-icon>
          <mat-form-field>
            <input matInput placeholder="Almacen" #InputAlmacen>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-icon>search</mat-icon>
            <mat-form-field>
              <input matInput placeholder="Tipo" #InputTipo>
            </mat-form-field>
        </mat-grid-tile>
          <mat-grid-tile>
            <mat-icon>search</mat-icon>
              <mat-form-field>
                <input matInput placeholder="Marca" #InputMarca>
              </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-icon>search</mat-icon>
            <mat-form-field>
              <input matInput placeholder="Modelo" #InputModelo>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-icon>search</mat-icon>
            <mat-form-field>
              <input matInput placeholder="Descripcion" #InputDescripcion>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
        </mat-grid-tile>
        <mat-grid-tile>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button color="primary" [routerLink]="['ingresoproductos']" class="opciones">Ingreso</button>
          <button mat-raised-button color="primary" [routerLink]="['salidaproductos']" class="opciones">Salida</button>
        </mat-grid-tile>
      </mat-grid-list>

    <mat-card-content>

       <div class = "spinner-container" *ngIf = "Listadodata.Cargando| async">
        <mat-spinner></mat-spinner>
      </div>

      <mat-table [dataSource]="Listadodata" class="example-table" matSort matSortActive="descripcion" matSortDisableClear matSortDirection="asc" matSortDisableClear>

        <ng-container matColumnDef="numero" class="numero">
          <mat-header-cell *matHeaderCellDef>N°</mat-header-cell>
          <mat-cell *matCellDef="let producto">{{producto.numero}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="almacen">
          <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Almacen</mat-header-cell>
          <mat-cell *matCellDef="let producto">{{producto.almacen}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="tipo">
          <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Tipo</mat-header-cell>
          <mat-cell *matCellDef="let producto">{{producto.tipo}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="marca">
          <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Marca</mat-header-cell>
          <mat-cell *matCellDef="let producto">{{producto.marca}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="modelo">
          <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Modelo</mat-header-cell>
          <mat-cell *matCellDef="let producto">{{producto.modelo}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Descripcion</mat-header-cell>
          <mat-cell *matCellDef="let producto">{{producto.descripcion}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="unidad_medida">
          <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Unidad Medida</mat-header-cell>
          <mat-cell *matCellDef="let producto">{{producto.unidad_medida}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="cantidad">
          <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Stock</mat-header-cell>
          <mat-cell *matCellDef="let producto">{{producto.cantidad}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="opciones">
          <mat-header-cell *matHeaderCellDef>Opciones</mat-header-cell>
          <mat-cell *matCellDef="let producto">
          <button mat-icon-button color="primary" (click)= "DetalleStock(producto.almacen,producto)" matTooltip="Ver series"> <mat-icon> visibility </mat-icon></button>
          </mat-cell>
        </ng-container>

         <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
         <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator [length]="TotalResultados" [pageSize]="10" [pageSizeOptions]="[10,15,20]"></mat-paginator>

    </mat-card-content>

  </mat-card>
