<mat-card>
    <mat-card-title>
      <div id = "tituloProd"> Listado de Stock</div>
    </mat-card-title>


    <mat-grid-list cols="12"  rowHeight="55px">

       <mat-grid-tile colspan="10">
          <mat-icon>search</mat-icon>
          <mat-form-field>
            <input matInput placeholder="Buscar Producto" #input>
          </mat-form-field>
       </mat-grid-tile>
<!-- Boton Agrega Productos -->
       <mat-grid-tile colspan="1">
          <button mat-raised-button color="primary"  [routerLink]="['ingresoproductos']" >Ingresa Producto</button>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
          <button mat-raised-button color="primary"  [routerLink]="['salidaproductos']" >Salida Producto</button>
        </mat-grid-tile>
    </mat-grid-list>
    <br>

    <mat-card-content>
        <mat-spinner *ngIf="this.data.cargando| async"></mat-spinner>

              <mat-table [dataSource]="data" class="example-table"
                matSort matSortActive="created" matSortDisableClear matSortDirection="asc">
                <!-- Number Column -->
                <ng-container matColumnDef="numero" class="numero">
                  <mat-header-cell *matHeaderCellDef>numero</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.numero}}</mat-cell>
                </ng-container>

                <!-- Title Column -->
                <ng-container matColumnDef="almacen">
                  <mat-header-cell *matHeaderCellDef>Almacen</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.almacen}}</mat-cell>
                </ng-container>

                <!-- State Column -->
                <ng-container matColumnDef="tipo">
                  <mat-header-cell *matHeaderCellDef>Tipo</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.tipo}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="marca">
                  <mat-header-cell *matHeaderCellDef>Marca</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.marca}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="modelo">
                  <mat-header-cell *matHeaderCellDef>Modelo</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.modelo}}</mat-cell>
                </ng-container>
                <!-- Created Column -->
                <ng-container matColumnDef="descripcion">
                  <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Articulos</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.descripcion}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="unidad_medida">
                  <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Unidad Medida</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.unidad_medida}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="cantidad">
                  <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Stock</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.cantidad}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
    </mat-card-content>
  </mat-card>
