  <mat-toolbar color="primary">
    <mat-toolbar-row *ngIf="!data">Agregar proveedor</mat-toolbar-row>
    <mat-toolbar-row *ngIf="data">Editar proveedor</mat-toolbar-row>
  </mat-toolbar>

<mat-card class="card">

    <form [formGroup]="ProveedoresForm" (ngSubmit)="Guardar(ProveedoresForm)">
      <mat-card-content>
        <mat-grid-list cols="2" rowHeight="70px">
          <mat-grid-tile>
            <mat-form-field class="input-ventana" > 
              <mat-select placeholder='Selecciona Tipo Documento' formControlName="tipodocumento" (selectionChange)="DocumentoSeleccionado($event)" >
                <mat-option [value] = 1> DNI </mat-option>
                <mat-option [value] = 2> RUC </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="input-ventana" >
              <input matInput placeholder="{{tipo_documento}}" formControlName="documento">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="input-ventana">
              <input matInput placeholder={{identificador_nombre}} formControlName="nombre" >
           <!--     <mat-option *ngFor="let nombre of tipodocumento" [value] = "tipodocumento.nombre"> {{TipoDocumento.nombre}} </mat-option> -->
              
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="input-ventana">
              <input matInput placeholder="Ingresa Representante Legal" formControlName="representante">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="input-ventana">
              <input matInput placeholder="Ingresa Observaciones"  formControlName="observacion" >
           <!--   <mat-error *ngIf="ClientesForm.get('dni').invalid">Debes escribir sólo números</mat-error>  -->
            </mat-form-field>
          </mat-grid-tile>

          
        </mat-grid-list>
      </mat-card-content>
      <mat-card-actions>
        <mat-grid-list cols=1 rowHeight="40px">
          <mat-grid-tile>
            <button type="submit" mat-raised-button color="primary" [disabled]="ProveedoresForm.invalid" >Grabar</button>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-actions>
    </form>
  </mat-card>

