<mat-card class="card">

  <mat-toolbar color="primary">
    <mat-toolbar-row>Observaciones</mat-toolbar-row>
  </mat-toolbar>

  <mat-card-content>

    <mat-grid-list cols=4 rowHeight="70px">
      <mat-grid-tile>
        Consolidado por sede
      </mat-grid-tile>

      <mat-grid-tile>
        Consolidado por subsede
      </mat-grid-tile>

      <mat-grid-tile>
        Consolidado por cliente
      </mat-grid-tile>

      <mat-grid-tile>
        Consolidado por cliente y tipo de pago
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols=4 rowHeight="70px">
      <mat-grid-tile>
        <img src="assets/xlsx.png" class="imagen-responsiva click">
      </mat-grid-tile>

      <mat-grid-tile>
        <img src="assets/xlsx.png" class="imagen-responsiva click">
      </mat-grid-tile>

      <mat-grid-tile>
        <img src="assets/xlsx.png" class="imagen-responsiva click">
      </mat-grid-tile>

      <mat-grid-tile>
        <img src="assets/xlsx.png" class="imagen-responsiva click">
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols=4 rowHeight="20px">
      <mat-grid-tile>
      </mat-grid-tile>
    </mat-grid-list>

  </mat-card-content>

</mat-card>
