<mat-card>
  <mat-card-header>
    <mat-card-title *ngIf="!data">Agregar nuevo departamento</mat-card-title>
    <mat-card-title *ngIf="data">Editar departamento</mat-card-title>
  </mat-card-header>

  <form [formGroup]="ProvinciasForm" (ngSubmit)="Guardar(ProvinciasForm); Notificacion(mensaje,'')">
    
    <mat-card-content>
      <mat-grid-list cols="1" rowHeight="80px">
        <mat-grid-tile>
          <mat-form-field>
            <mat-select placeholder="Departamento" formControlName="departamento">
              <mat-option *ngFor="let departamento of departamentos" [value]="departamento.id">{{departamento.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Nombre de la provincia" formControlName="nombre">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>

    <mat-card-actions>
      <mat-grid-list cols=1 rowHeight="40px">
        <mat-grid-tile>
          <button type="submit" mat-raised-button color="primary" [disabled]="ProvinciasForm.invalid">Guardar</button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-actions>
  </form>
</mat-card>