<mat-card-title class="card-titulo">
  <mat-toolbar color="accent">
    <mat-toolbar-row>
      {{ distrito.distrito }}
      <span class="espacio"></span>
      {{ total_expedientes }}
    </mat-toolbar-row>
  </mat-toolbar>
</mat-card-title>

<ng-container *ngIf="Instancias.length > 0">
  <!-- <mat-card> -->
    <app-cobranza-judicial-instancias
      *ngFor="let instancia of Instancias; let i = index"
      [instancia]="instancia"
      >
    <!-- [ProcesosCompletos]="Procesos" -->
    </app-cobranza-judicial-instancias>
  <!-- </mat-card> -->
</ng-container>